﻿@{
    ViewBag.Title = "Stage Areas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/stagingareas")
<script type="text/javascript">
    waTouchContainerStatusModule.URLHelper = {
        searchContainerStatusList: '@Url.Action("SearchContainerStatus", "WarehouseTouchContainerStatus")',
        setStatusActiveAndInactive: '@Url.Action("ToggleActiveAndInactiveStatus", "WarehouseTouchContainerStatus")',
        addEditContainerStatus: '@Url.Action("AddEditContainerStatus", "WarehouseTouchContainerStatus")',
    }

    waTouchContainerStatusModule.getAccessLevel = {
        isStageStatusFullAccess : '@PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.WarehouseTouchContainerStatus, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true)'
    }
</script>
<div class="form-panel">
    <!--header image starts-->
    <h2>
        <span class="back-arrow">
            <a href="/Dashboard.aspx">
                <img src="/Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" />
            </a>
        </span>
        <img src="/Images/Driver.png" width="48" height="48" style="float: left; margin-right: 10px;" />
        <div class="h-title">
            <span style="float: left; font-size: 9pt; text-transform: uppercase;">Facility Controls</span><br />
            <span style="float: left;">Stage Areas</span>
        </div>
        <div class="nav-bar bg-color-none" style="float: right; width: auto; margin-top: 8px;">
            <div class="nav-bar-inner new">
            </div>
        </div>
        <div class="clearfix">
        </div>
    </h2>
</div>
<div class="child-body">
    <div class="form-panel">
        <!--pivot item starts -->
        <div class="metro-pivot containerstatus-info-page">
            <div id="divFilterContainerStatus">
                @Html.Partial("~/Views/WarehouseTouchContainerStatus/partial/_FilterContainerStatus.cshtml")
            </div>
            <div class="clerfix"></div>
            <div class="cust-grid-jqgrid wa-touches-grid">
                <table id="list" class="scroll" cellpadding="0" cellspacing="0"></table>
                <div id="listPager" class="scroll" style="text-align: center; color:#0073ea !important">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div id="popupEditContainerStatus" class="modal-box ui-draggable">
    <header class="ui-draggable-handle">
        <a href="#" class="js-modal-close close">×</a>
        <h3 id="containerStatusHeader">Edit&nbsp;Information</h3>
    </header>
    <div class="modal-body" id="dvEditContainerStatus">
        @Html.Partial("~/Views/WarehouseTouchContainerStatus/partial/_EditContainerStatus.cshtml")
    </div>
    <footer>
        @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.WarehouseTouchContainerStatus, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true))
        {
            <a href="#" id="modelSaveContainerStatusInfo" class="js-modal-savehours fm-button ui-state-default ui-corner-all">Save Stage Area</a>
        }
        else
        {
            <a href="#" id="modelSaveContainerStatusInfo" class="js-modal-savehours fm-button ui-state-default ui-corner-all not-active">Save Stage Area</a>
        }
        <a href="#" id="modalJqgridClose" class="fm-button ui-state-default ui-corner-all js-modal-close">Close</a>
    </footer>
</div>