﻿@{
    ViewBag.Title = "Touches Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PRFacAppWF.Entities.Touches.TouchListFilterCriteria
@Scripts.Render("~/bundles/watouchlist")
<script src="~/Scripts/jquery.printElement.js"></script>
<script type="text/javascript">
    waTouchesGridModule.URLHelper = {
        searchTouchList: '@Url.Action("SearchTouches", "TouchList")',
        validateUnitName: '@Url.Action("ValidateUnitName", "TouchList")',
        saveEditTouchInfoURL: '@Url.Action("SaveEditTouchInfo", "TouchList")', //Save Stage Action Button Click.
        getBOLURL: '@Url.Action("GetBOLURL", "TouchList")',  ////SFERP-TODO-CTUPD -- Need to link Salesforce webpage in future - TBD.
        getEditTouchInfoURL: '@Url.Action("EditTouchInfo", "TouchList")',
        editQorURL: '@Url.Action("EditQor", "TouchList")',   ////SFERP-TODO-CTUPD -- Need to link Salesforce webpage in future - TBD.
        touchTicketURL: "/TouchTicket.aspx",
        getTouchHistory: '@Url.Action("GetTouchHistory", "TouchList")'
    }


</script>
<div class="form-panel">
    <!--header image starts-->
    <h2>
        <span class="back-arrow">
            <a href="/Dashboard.aspx">
                <img src="/Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" />
            </a>
        </span>
        <img src="/Images/Driver.png" width="48" height="48" style="float: left; margin-right: 10px;" />
        <div class="h-title">
            <span style="float: left; font-size: 9pt; text-transform: uppercase;">Facility Controls</span><br />
            <span style="float: left;">Touch Dashboard</span>
        </div>
        <div class="nav-bar bg-color-none" style="float: right; width: auto; margin-top: 8px;">
            <div class="nav-bar-inner new">
            </div>
        </div>
        <div class="clearfix">
        </div>
    </h2>
</div>
<div class="child-body">
    <div class="form-panel">
        <!--pivot item starts -->
        <div class="metro-pivot touch-info-page">
            <div id="divFilterWareHouseTouches">
                @Html.Partial("~/Views/TouchList/partial/_FilterWATouches.cshtml", Model)
            </div>
            <div class="clerfix"></div>
            <div class="cust-grid-jqgrid wa-touches-grid">
                <table id="list" class="scroll" cellpadding="0" cellspacing="0"></table>
                <div id="listPager" class="scroll" style="text-align: center; color:#0073ea !important">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div id="popupEditTouchDetails" class="modal-box ui-draggable">
    <header class="ui-draggable-handle">
        <a href="#" class="js-modal-close close">×</a>
        <h3>Edit&nbsp;<span class="touch-edit-popuphead"></span>&nbsp;Information</h3>
    </header>
    <div class="modal-body" id="dvEditTouchDetails">
        @Html.Partial("~/Views/TouchList/partial/_editTouchDetails.cshtml")
    </div>
    <footer>
        @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.TouchList, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true))
        {
            <a href="#" id="modelSaveTouchInfo" class="js-modal-savehours fm-button ui-state-default ui-corner-all">Submit</a>
        }
        else
        {
            <a href="#" id="modelSaveTouchInfo" class="js-modal-savehours fm-button ui-state-default ui-corner-all not-active">Submit</a>
        }
        <a href="#" id="modalJqgridClose" class="fm-button ui-state-default ui-corner-all js-modal-close">Close</a>
    </footer>
</div>

<div id="hiddenDiv" style="background-color:white;">
    <div id="mainContent" style="background-color:white">

    </div>
</div>
<div id="editor"></div>