﻿@{
    ViewBag.Title = "Average MPH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/AverageMPH")
<script src="@Url.Content("~/Scripts/AverageMPH.js?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)"></script>
<script type="text/javascript">
    var URLHelper = {
        GetFacilityAvgMPHHistoryUrl: '@Url.Action("GetFacilityAvgMPHHistory", "AverageMPH")',
        SearchAvgMPHUrl: '@Url.Action("SearchAvgMPH", "AverageMPH")',
        SaveAMPHourChange: '@Url.Content("/AverageMPH/UpdateAverageMPHRecords")',
        SetDefaultValueURL: '@Url.Content("/AverageMPH/SetAverageMPHtoCorporateDefault")',
    };    
</script>

<div class="child-body">
    <input id="hidSortDir" type="hidden" name="hidSortDir" value="DESC" />
    <input id="hidSortCol" type="hidden" name="hidSortCol" value="" />
    @using (Html.BeginForm("SearchAverageMPH", "AverageMPH", null, System.Web.Mvc.FormMethod.Post, new { id = "SearchCorprateControlsFilterCriteria", onsubmit = "" }))
    {
        <div class="form-panel">
            <!--header image starts-->
            <h2>
                <span class="back-arrow">
                    <a href="/Dashboard.aspx">
                        <img src="/Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                    </a>
                    <a href="/CorporateControls.aspx">
                        <img src="/Images/Previous.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                    </a>
                </span>
                <img src="/Images/corporate-reports-icon.png" width="48" height="48" style="float: left; margin-right: 10px;" /><div class="h-title">
                    <span style="float: left; font-size: 9pt; text-transform: uppercase;">Corporate Controls</span><br />
                    <span style="float: left;">Average MPH</span>
                </div>
                <div class="nav-bar bg-color-none" style="float: right; width: auto; margin-top: 8px;">
                    <div class="nav-bar-inner new">
                    </div>
                </div>
                <div class="clearfix">
                </div>
            </h2>
            <!--<div class="show-map"><button class="image-button bg-color-grayDark fg-color-white">Show route map<img src="Images/map2.png" class="bg-color-blue"></button></div>-->
            <div class="clearfix"></div>
            <!--header image ends-->
            <!--pivot item starts -->
            <div class="metro-pivot touch-info-page corporate-controls">
                <div class="pivot-item">
                    <div class="bg-grey-newfilter">
                        <div class="tiltepanel">
                            <h4 class="title-h4">Search Average MPH</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="form-list form-list-new" style="margin-top: 0%;">
                            <li class="width22prcnt">
                                <span class="label-form">Date</span>
                                <span class="value">
                                    <div class="input-control text">
                                        <input type="text" value="@DateTime.Now.ToShortDateString()" name="StartDate" id="StartDate" readonly="readonly" title="Enter date to search records." style="margin-right: 0px; width: 80%;" />
                                        <img src="../Images/calendar-Icon.gif" id="StartDateIcon" />
                                    </div>
                                </span>
                            </li>
                            <li class="width24prcnt">
                                <div class="button-panel" style="margin: 20px auto 0;">
                                    <input type="submit" value="Search" title="Click to search." />
                                    <input type="submit" onclick="this.form.reset();" value="Reset" title="Click to reset page." />
                                    @*@if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.AverageMPH, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite))
                                    {*@
                                        <input type="submit" onclick='showAveragaeMPHPopup(-1); return false;' value="Add New Average MPH" title="Click here to add average mph." />
                                    @*}
                                    else
                                    { 
                                        <input type="submit" disabled="disabled" onclick='showAveragaeMPHPopup(-1); return false;' value="Add New Average MPH" title="Click here to add average mph." />
                                    }*@
                                </div>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>

                </div>
                <div class="clerfix"></div>
                <div style="width: 96%; margin: 0 auto; overflow-y: auto; height: 420px;" class="cust-grid-jqgrid">
                    @Html.Partial("~/Views/AverageMPH/partial/_listAvgMPH.cshtml")
                </div>
            </div>
            <div class="clerfix"></div>
        </div>
    }
</div>
<div id="popup" class="modal-box">
    <header>
        <a href="#" class="js-modal-close close">×</a>
        <h3>Facility MPH Details&nbsp;<span id="popupTruckOpHourHead"></span></h3>
    </header>
    <div class="modal-body">
        @Html.Partial("~/Views/AverageMPH/partial/_updateFacilityMPH.cshtml")
    </div>
    <footer>
        @*@if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.AverageMPH, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite))
        {*@
            <a href="#" id="UpdateCorporateDefaults" class="js-modal-updateselectedhours fm-button ui-state-default ui-corner-all" style="float:left;">Set to Corporate Default</a>
            <a href="#" id="modalUpdateselectedhours" class="js-modal-updateselectedhours fm-button ui-state-default ui-corner-all">Add Average MPH</a>
        @*}
        else
        { 
             <a href="#" id="UpdateCorporateDefaults" class="js-modal-updateselectedhours fm-button ui-state-default ui-corner-all not-active" style="float:left;">Set to Corporate Default</a>
            <a href="#" id="modalUpdateselectedhours" class="js-modal-updateselectedhours fm-button ui-state-default ui-corner-all not-active">Add Average MPH</a>
        }*@
        <a href="#" class="fm-button ui-state-default ui-corner-all js-modal-close">Close</a>
    </footer>
</div>
