﻿@*@model PRFacAppWF.Repository.models.FAUserMaster*@
@model PRFacAppWF.Entities.UserManagement.AddEditUserViewModel
<table class="table-content footable packrat_grid permission" id="tblAssignUserFacility" data-page-size="1000" style="width:100% !important">
    <thead>
        <tr class="theadstyle">
            <th data-sort-ignore="true" width="15%">Region</th>
            <th data-sort-ignore="true" width="20%">Facility</th>
            <th data-sort-ignore="true" width="100px" colspan="3" class="application-accessrow facility-application-accesscol">
                <table>
                    <thead>
                        <tr>
                            <th colspan="3" align="center">Facility App Access</th>
                        </tr>
                        <tr>
                            <th data-sort-ignore="true" width="90px" align="center">Full Access</th>
                            <th data-sort-ignore="true" width="110px" align="center">Read Only</th>
                            <th data-sort-ignore="true" width="80px" align="center">No Access</th>
                        </tr>
                    </thead>
                </table>
            </th>
            <th data-sort-ignore="true" width="90px" colspan="3" class="application-accessrow driver-application-accesscol">
                <table>
                    <thead>
                        <tr>
                            <th colspan="3" align="center">Driver App Access</th>
                        </tr>
                        <tr>
                            <th data-sort-ignore="true" width="90px" align="center">Primary Facility</th>
                            @*<th data-sort-ignore="true" width="95px" align="center">Secondary Facility</th>*@
                            <th data-sort-ignore="true" width="90px" align="center">No Access</th>
                        </tr>
                    </thead>
                </table>
            </th>
            <th data-sort-ignore="true">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr class="permissions-section">
            <td colspan="2" data-group="group1"></td>
            <td style="text-align:center" class="facility-application-accesscol">
                <input type="radio" name="rbAccessLevel" id="RdReadAndWrite" onclick="checkChildRadios(this);" value="3" />
            </td>
            <td style="text-align:center" class="facility-application-accesscol">
                <input type="radio" name="rbAccessLevel" id="RdRead" onclick="checkChildRadios(this);" value="2" />
            </td>
            <td style="text-align:center" class="facility-application-accesscol">
                <input type="radio" name="rbAccessLevel" id="RdNoAccess" onclick="checkChildRadios(this);" value="1" />
            </td>
            <td  colspan="2" style="text-align:center;" class="driver-application-accesscol">
                @*<input type="radio" name="rbAccessLevel" id="RdPrimaryFacility" onclick="checkChildRadiosForDriverAppAccess(this);" value="3" />*@
            </td>
            @*<td style="text-align:center" class="driver-application-accesscol">
                <input type="radio" name="rbAccessLevelDA" id="RdSecondaryFacility" onclick="checkChildRadiosForDriverAppAccess(this);" value="5" />
            </td>*@
            <td style="text-align:center" class="driver-application-accesscol">
                <input type="radio" name="rbAccessLevelDA" id="RdNoFacilityAccess" onclick="checkChildRadiosForDriverAppAccess(this);" value="1"  @(Model.CanEditDAFacilities ? string.Empty : "disabled")/>
            </td>
            <td>&nbsp;</td>
        </tr>
        @{
            foreach (var facility in Model.Facilities)
            {
                <tr data-areaid="@facility.Region">
                    <td><span style="padding-left: 50px;">@facility.Region</span></td>
                    <td>@facility.CompDBAName</td>
                    <td style="text-align:center" class="fardbtn facility-application-accesscol">
                        <input type="hidden" id="hfFacilityId" value="@facility.StoreRowID" />
                        <input type="hidden" id="hfApplicationTypeID" value="1" />
                        @if (facility.FAAccessLevel == PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite)
                        {
                            <input type="radio" name="module_FA_@facility.StoreRowID" value="3" checked="checked" />
                        }
                        else
                        {
                            <input type="radio" name="module_FA_@facility.StoreRowID" value="3" />
                        }
                    </td>
                    <td style="text-align:center" class="fardbtn facility-application-accesscol">
                        <input type="hidden" id="hfFacilityId" value="@facility.StoreRowID" />
                        <input type="hidden" id="hfApplicationTypeID" value="1" />
                        @if (facility.FAAccessLevel == PRFacAppWF.Entities.Enums.AccessLevel.ReadOnly)
                        {
                            <input type="radio" name="module_FA_@facility.StoreRowID" value="2" checked="checked" />
                        }
                        else
                        {
                            <input type="radio" name="module_FA_@facility.StoreRowID" value="2" />
                        }
                    </td>
                    <td style="text-align:center" class="fardbtn facility-application-accesscol">
                        <input type="hidden" id="hfFacilityId" value="@facility.StoreRowID" />
                        <input type="hidden" id="hfApplicationTypeID" value="1" />
                        @if (facility.FAAccessLevel == PRFacAppWF.Entities.Enums.AccessLevel.None)
                        {
                            <input type="radio" name="module_FA_@facility.StoreRowID" value="1" checked="checked" />
                        }
                        else
                        {
                            <input type="radio" name="module_FA_@facility.StoreRowID" value="1" />
                        }
                    </td>
                    <td colspan="2"  style="text-align:center;" class="dardbtn driver-application-accesscol">
                        <input type="hidden" id="hfFacilityId" value="@facility.StoreRowID" />
                        <input type="hidden" id="hfApplicationTypeID" value="2" />
                        @if (facility.DAAccessLevel == PRFacAppWF.Entities.Enums.AccessLevel.PrimaryFacility)
                        {
                            <input type="radio" class="rdPrimaryFacility" name="module_DA_@facility.StoreRowID" value="4" checked="checked" @(Model.CanEditDAFacilities ? string.Empty : "disabled") />
                        }
                        else
                        {
                            <input type="radio" class="rdPrimaryFacility" name="module_DA_@facility.StoreRowID" value="4" @(Model.CanEditDAFacilities ? string.Empty : "disabled") />
                        }
                    </td>
                    @*<td style="text-align:center" class="dardbtn driver-application-accesscol">
                        <input type="hidden" id="hfFacilityId" value="@facility.StoreRowID" />
                        <input type="hidden" id="hfApplicationTypeID" value="2" />
                        @if (facility.DAAccessLevel == PRFacAppWF.Entities.Enums.AccessLevel.SecondaryFacility)
                        {
                            <input type="radio" name="module_DA_@facility.StoreRowID" value="5" checked="checked" />
                        }
                        else
                        {
                            <input type="radio" name="module_DA_@facility.StoreRowID" value="5" />
                        }
                    </td>*@
                    <td style="text-align:center" class="dardbtn driver-application-accesscol">
                        <input type="hidden" id="hfFacilityId" value="@facility.StoreRowID" />
                        <input type="hidden" id="hfApplicationTypeID" value="2" />
                        @if (facility.DAAccessLevel == PRFacAppWF.Entities.Enums.AccessLevel.None)
                        {
                            <input type="radio" name="module_DA_@facility.StoreRowID" value="1" checked="checked" @(Model.CanEditDAFacilities ? string.Empty : "disabled")/>
                        }
                        else
                        {
                            <input type="radio" name="module_DA_@facility.StoreRowID" value="1" @(Model.CanEditDAFacilities ? string.Empty : "disabled") />
                        }
                    </td>
                    <td>
                        @facility.FriendlyName
                    </td>
                </tr>
            }            
        }
    </tbody>
</table>