﻿@model PRFacAppWF.Entities.UserManagement.FADTOUserMaster
<tr>
    <td width="10%">
        First Name
    </td>
    <td align="left">
        <div class="input-control text">
            @Html.TextBoxFor(m => m.FirstName)
        </div>
    </td>
    <td width="10%">
        Last Name
    </td>
    <td align="left">
        <div class="input-control text">
            @Html.TextBoxFor(m => m.LastName)
        </div>
    </td>
</tr>
<tr>
    <td width="10%">
        User Name
    </td>
    <td align="left">
        <div class="input-control text">
            @Html.TextBoxFor(m => m.Username)
            @Html.HiddenFor(m => m.PK_UserId, new { id = "hfUserId" })
            @Html.HiddenFor(m => m.UniqueID, new { id = "hfUniqueID" })
        </div>
    </td>
    <td>
        Password
    </td>
    <td>
        <div class="input-control text">
            @*@Html.PasswordFor(m => m.Password)*@
            <input id="Password" type="text" value="@PRFacAppWF.CodeHelpers.Helper.DecryptString(Model.Password)" name="Password">
        </div>
    </td>
</tr>
<tr>
    <td>
        Email
    </td>
    <td>
        <div class="input-control text">
            @Html.TextBoxFor(m => m.EmailAddress)
        </div>
    </td>
    <td>@Html.LabelFor(m => m.LicenseClassID)</td>
    <td class="input-control text">
        @Html.DropDownListFor(m => m.LicenseClassID, Model.SLItemLicenseClassList, "Select License Class")
    </td>
</tr>