﻿@*@model PRFacAppWF.Repository.models.FAUserMaster*@
@model PRFacAppWF.Entities.UserManagement.AddEditUserViewModel
<div class="child-body">
    @using (Html.BeginForm("Index", "UserAssignment", null, System.Web.Mvc.FormMethod.Post, new { id = "frmUserDetails", onsubmit = "return false;" }))
    {
        <div class="form-panel">
            <!--header image starts-->
            <h2>
                <span class="back-arrow">
                    <a href="/Dashboard.aspx">
                        <img src="/Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                    </a>
                    <a href="/UserAssignment/Index">
                        <img src="/Images/Previous.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                    </a>
                </span>
                <img src="/Images/corporate-reports-icon.png" width="48" height="48" style="float: left; margin-right: 10px;" /><div class="h-title">
                    <span style="float: left; font-size: 9pt; text-transform: uppercase;">Admin Controls</span><br />
                    <span style="float: left;">@ViewBag.PageHead</span>
                </div>
                <div class="nav-bar bg-color-none" style="float: right; width: auto; margin-top: 8px;">
                    <div class="nav-bar-inner new">
                    </div>
                </div>
                <div class="clearfix">
                </div>
            </h2>
            <div class="clearfix" style="height:10px"></div>
            <!--header image ends-->
            <!--pivot item starts -->
            <div class="metro-pivot touch-info-page">
                <div id="displayRole" style="padding: 10px">
                    <table border="0" cellpadding="5" cellspacing="0">
                        @Html.Partial("~/Views/UserAssignment/partial/_fromFields.cshtml", Model.FAUserMaster)
                        <tr>
                            <td width="10%">
                                Role
                            </td>
                            <td align="left">
                                <div class="input-control text">
                                    @*@Html.DropDownListFor(m => m.FAUserMaster.FK_GroupID, Model.UserRoles, new { id = "Roles" })*@
                                    <select id="Roles" name="Roles" title="Select Role">
                                        <option value="-1">--Select Role--</option>
                                        @foreach (var role in Model.Roles)
                                        {
                                            if (role.PK_GroupId == Model.FAUserMaster.FK_GroupID)
                                            {
                                                <option value="@role.PK_GroupId" data-hasDriverAppAccess="@role.HasDriverAppAccess" data-hasFacilityAppAccess="@role.HasFacilityAppAccess" selected="selected">@role.GroupName</option>
                                            }
                                            else
                                            {
                                                <option value="@role.PK_GroupId" data-hasDriverAppAccess="@role.HasDriverAppAccess" data-hasFacilityAppAccess="@role.HasFacilityAppAccess">@role.GroupName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                <div class="input-control text">
                                    @Html.EditorFor(m => m.FAUserMaster.IsActive, new { id = "IsActive" })&nbsp;&nbsp; Active
                                </div>
                            </td> 
                        </tr>
                        <tr>
                            <td style="vertical-align:top" colspan="4" align="left" width="100%">
                                <div class="value role-permission">
                                    <div style="background-color: rgb(195, 195, 195); padding: 15px 15px 0px;">
                                        <div style="float:left;" class="input-control">
                                            <strong>Region Filter</strong>&nbsp;&nbsp;
                                            <select id="ddlFilterRegion" style="width: 300px;" title="Select region to filter.">
                                                <option value="-1">--Select All--</option>
                                                @foreach (var region in Model.Regions)
                                                {
                                                    <option value="@region">@region</option>
                                                }
                                            </select>
                                        </div>
                                        <div style="text-align: right;">
                                            @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.UserAssignment, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true))
                                            {
                                                <input type="button" value="Save" id="btnSaveUserDetailsTop" style="background-color: white">
                                            }
                                            else
                                            {
                                                <input type="button" disabled="disabled" value="Save" id="btnSaveUserDetailsTop" style="background-color: white">
                                            }
                                            <input type="button" value="Reset" id="btnCancelUserDetailsTop" onclick="resetUserForm(); return false;" style="background-color: white">
                                            <input type="button" value="Cancel" id="btnCancelUserDetailsTop" onclick="location.href='/UserAssignment/Index'" style="background-color: white">
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="table-content">
                                        @Html.Partial("~/Views/UserAssignment/partial/_facilityList.cshtml", Model)
                                    </div>
                                    <div style="background-color: rgb(195, 195, 195); padding: 15px 15px 0px;">
                                        <div style="text-align: right;">
                                            @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.UserAssignment, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true))
                                            {
                                                <input type="button" value="Save" id="btnSaveUserDetailsBottom" style="background-color: white">
                                            }
                                            else
                                            {
                                                <input type="button" disabled="disabled" value="Save" id="btnSaveUserDetailsBottom" style="background-color: white">
                                            }
                                            <input type="button" value="Reset" id="btnCancelUserDetailsTop" onclick="$('#frmUserDetails')[0].reset(); return false;" style="background-color: white">
                                            <input type="button" value="Cancel" onclick="location.href='/UserAssignment/Index'" id="btnCancelUserDetailsBottom" style="background-color: white">
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clerfix"></div>
        </div>
    }
</div>