﻿@model List<PRFacAppWF.Entities.UserManagement.FADTOGroupMaster>
@{
    ViewBag.Title = "User Assignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/UserAssignment")

<script type="text/javascript">
    var URLHelper = {
        indexPage: '@Url.Action("Index", "UserAssignment")',
        getUserList: '@Url.Action("listUsers", "UserAssignment")',
        addEditUser: '@Url.Action("AddEditUser", "UserAssignment")',
        displayUserDetails: '@Url.Action("DisplayUserDetails", "UserAssignment")',
        SetUserActiveInactiveUrl: '@Url.Action("SetUserStatus", "UserAssignment")'
    };

    var isFullAccess = '@PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.UserAssignment, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true)';
</script>
<style>
    .ui-jqgrid .ui-jqgrid-bdiv {
        overflow-x: hidden;
        overflow-y: auto;
    }
</style>
<div class="child-body">
    <div class="form-panel">
        <!--header image starts-->
        <h2>
            <span class="back-arrow">
                <a href="/Dashboard.aspx">
                    <img src="/Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                </a>
                <a href="/AdminControls.aspx">
                    <img src="/Images/Previous.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                </a>
            </span>
            <img src="/Images/corporate-reports-icon.png" width="48" height="48" style="float: left; margin-right: 10px;" /><div class="h-title">
                <span style="float: left; font-size: 9pt; text-transform: uppercase;">Admin Controls</span><br />
                <span style="float: left;">User List</span>
            </div>
            <div class="nav-bar bg-color-none" style="float: right; width: auto; margin-top: 8px;">
                <div class="nav-bar-inner new">
                </div>
            </div>
            <div class="clearfix">
            </div>
        </h2>
        <div class="clearfix" style="height:10px"></div>
        <!--header image ends-->
        <!--pivot item starts -->
        <div class="metro-pivot touch-info-page corporate-controls">
            <div class="pivot-item">
                <div class="bg-grey-newfilter">
                    <div class="tiltepanel" style="margin-left:20px">
                        <h4 class="title-h4">Search User</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="form-list form-list-new" style="margin-top: 0%;">
                        <li class="width12prcnt ">
                            <span class="label-form">User Name</span>
                            <span class="value">
                                <div class="input-control text">
                                    <input type="text" name="txtUserName" id="txtUserName" title="Enter user name to search records." />
                                </div>
                            </span>
                        </li>
                        <li class="width12prcnt ">
                            <span class="label-form">Role</span>
                            <span class="value">
                                <div class="input-control text">
                                    <select class="span2" name="listbox" id="ddlRoles" style="width: 100% !important" title="Select role to search records.">
                                        <option value="-1">--Select All--</option>
                                        @foreach (var role in Model)
                                        {
                                            <option value="@role.PK_GroupId">@role.GroupName</option>
                                        }
                                    </select>
                                </div>
                            </span>
                        </li>
                        <li class="width12prcnt " style="padding-top:30px;">
                            <span class="label-form"><input type="checkbox" checked="checked" name="chkOnlyActive" id="chkOnlyActive" title="Check to view only active drivers." />&nbsp;&nbsp;Only Active</span>
                        </li>
                        <li class="width24prcnt ">
                            <div class="button-panel" style="margin: 27px auto 0px -100px; ">
                                <input type="submit" value="Search" id="filterJqGrid" title="Click to search." />
                                <input type="submit" onclick="resetform(); return false;" value="Reset" title="Click to reset page." />
                                @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.UserAssignment, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true))
                                {
                                    <input type="submit" onclick='editPage(false, 0); return false;' value="Add New User" title="Click here to add user." />
                                }
                                else
                                {
                                    <input type="submit" disabled="disabled" value="Add New User" title="Click here to add user." />
                                }
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>

            </div>
            <div class="clerfix"></div>
            <div style="width: 96%; margin: 0 auto;" class="cust-grid-jqgrid">
                <table id="tblLstUsers" class="border tblCCList"></table>
                <div id="ptblLstUsers" class="cust-grid-jqgrid-page"></div>
            </div>
        </div>
        <div class="clerfix"></div>
    </div>
</div>
