﻿@using PRFacAppWF.models
@using PRFacAppWF.Repository.models

@model List<PRFacAppWF.Repository.models.CAPTruckTransferReason>

    @if (Model.Count > 0)
    {
        string apParam = string.Empty;
        foreach (CAPTruckTransferReason asInfo in Model)
        {
            <tr>
                <td>
                    @Html.Raw(asInfo.TransferReason)
                </td>
                <td class="center">
                    @*@if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.TruckTransferReason, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite))
                    {*@
                        <input type="button" onclick='showAddEditPopup(@asInfo.CAPTruckTransferReasonId); return false;' value="Edit" title="Edit" />
                    @*}
                    else
                    { 
                        <input type="button" disabled="disabled" onclick='showAddEditPopup(@asInfo.CAPTruckTransferReasonId); return false;' value="Edit" title="Edit" />
                    }*@
                </td>
                <td class="center">
                    @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.TruckTransferReason, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true))
                    {
                        <a style="cursor:pointer;" onclick='SetActiveInactive(@asInfo.CAPTruckTransferReasonId,@asInfo.Status);'>@(asInfo.Status == 1 ? "Active" : "Inactive")</a>
                    }
                    else
                    {
                        <a style="cursor:pointer;" class="not-active" onclick='SetActiveInactive(@asInfo.CAPTruckTransferReasonId,@asInfo.Status);'>@(asInfo.Status == 1 ? "Active" : "Inactive")</a>
                    }
                </td>
            </tr>
                    apParam = asInfo.CAPTruckTransferReasonId.ToString();
        }
    }
    else
    {
        <tr>
            <td colspan="4">
                Transfer Reasons not available...!
            </td>
        </tr>
    }
