﻿@using PRFacAppWF.models;
<table class="border tblCCList">
    <thead>
        <tr>
            <th onclick="javascript: SortColumn('TransferReason');" class="width70 center" style="text-align:center; cursor:pointer;">
                @Html.Raw("TransferReason")
                <span><img id="ImageFacilityId" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('TransferReason');" class="width16prcnt center" style="text-align:center; cursor:pointer;">
                
            </th>
            <th class="width16prcnt center" style="text-align:center; cursor:pointer;">

            </th>
        </tr>
    </thead>
    <tbody id="divTransferReasons"></tbody>
</table>
<h2></h2>

