﻿<div id="truckOpReason">
    <div>
        <label class="label">
            Transfer Reason
        </label>
    </div>
</div>
<div class="clear"></div>
<div>
    <span style="color: Red;" id="ValidateReason"></span>
    <input type="text" value="" name="TransferReasontxt" id="TransferReasontxt" title="Enter transfer reason." style="margin-right: 0px; width: 80%;" />
</div>
