﻿@using PRFacAppWF.models
@model List<PRFacAppWF.models.TruckDowntimeModel>

@if (Model.Count > 0)
{
    string apParam = string.Empty;
    TruckDowntimeModel corpRow = Model[0];
        <tr id="hdCorpRow">
            <td class="center">
                @Html.Raw(corpRow.FacilityId == 0 ? "" : corpRow.FacilityId.ToString())
            </td>
            <td>
                @if (corpRow.FacilityName != apParam)
                {
                    <a title="Click to edit." onclick='showCorporatePopup(@corpRow.FacilityId); return false;' href="#">@corpRow.FacilityName</a>
                }
            </td>
            <td class="center" style="text-align:center;">
                @Html.Raw(corpRow.State)
            </td>
            <td class="center" style="text-align:center;">
                @Html.Raw(corpRow.TruckDowntime.ToString())
            </td>
            <td class="center" style="text-align:center;">
                @Html.Raw(corpRow.Startdate.HasValue ? corpRow.Startdate.Value.ToShortDateString() : "-")
            </td>
            <td class="center" style="text-align:center;">
                @Html.Raw(corpRow.Nextdate.HasValue ? corpRow.Nextdate.Value.ToShortDateString() : "-")
            </td>
        </tr>
    //foreach (TruckDowntimeModel asInfo in Model)
    for(int index = 1; index < Model.Count(); index++)// TruckDowntimeModel asInfo in Model)
    {
        TruckDowntimeModel asInfo = Model[index];
        <tr>
            <td class="center">
                @Html.Raw(asInfo.FacilityId == 0 ? "" : asInfo.FacilityId.ToString())
            </td>
            <td>
                @if (asInfo.FacilityName != apParam)
                {
                    <a title="Click to edit." onclick='showTruckDowntimePopup(@asInfo.FacilityId); return false;' href="#">@asInfo.FacilityName</a>
                }
            </td>
            <td class="center">
                @Html.Raw(asInfo.State)
            </td>
            <td class="center">
                @Html.Raw(asInfo.Startdate.HasValue ? asInfo.TruckDowntime.ToString() : "-" )
            </td>
            <td class="center">
                @Html.Raw(asInfo.Startdate.HasValue ? asInfo.Startdate.Value.ToShortDateString() : "-")
            </td>
            <td class="center">
                @Html.Raw(asInfo.Nextdate.HasValue ? asInfo.Nextdate.Value.ToShortDateString() : "-")
            </td>
        </tr>
                apParam = asInfo.FacilityId.ToString();
    }
}
else
{
    <tr>
        <td colspan="4">
            Truck Downtime not available...!
        </td>
    </tr>
}
