﻿﻿@using PRFacAppWF.models;
<table class="border tbltruckophours">
    <tbody>
        <tr>
            <th>@Model.Head.Day1</th>
            <th>@Model.Head.Day2</th>
            <th>@Model.Head.Day3</th>
            <th>@Model.Head.Day4</th>
            <th>@Model.Head.Day5</th>
            <th>@Model.Head.Day6</th>
            <th>@Model.Head.Day7</th>
        </tr>
    </tbody>
    <tbody>
        @{           
            if (Model.unitDetails.Count > 0)
            {               
                foreach (tblunitAvailability unitInfo in Model.unitDetails)
                {                    
                    <tr>
                        <td class="center">
                            <a title="Click to edit." onclick="showPopup(@unitInfo.Day1Id); return false;" href="#">@unitInfo.Day1</a>
                        </td>
                        <td class="center">
                            <a title="Click to edit." onclick="showPopup(@unitInfo.Day2Id); return false;" href="#">@unitInfo.Day2</a>
                        </td>
                        <td class="center">
                            <a title="Click to edit." onclick="showPopup(@unitInfo.Day3Id); return false;" href="#">@unitInfo.Day3</a>
                        </td>
                        <td class="center">
                            <a title="Click to edit." onclick="showPopup(@unitInfo.Day4Id); return false;" href="#">@unitInfo.Day4</a>
                        </td>
                        <td class="center">
                            <a title="Click to edit." onclick="showPopup(@unitInfo.Day5Id); return false;" href="#">@unitInfo.Day5</a>
                        </td>
                        <td class="center">
                            <a title="Click to edit." onclick="showPopup(@unitInfo.Day6Id); return false;" href="#">@unitInfo.Day6</a>
                        </td>
                        <td class="center">
                            <a title="Click to edit." onclick="showPopup(@unitInfo.Day7Id); return false;" href="#">@unitInfo.Day7</a>
                        </td>
                    </tr>
                }
              
            }
            else
            {
                <tr>
                    <td colspan="8">
                        Unit information is not vailable
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<h2></h2>