﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Route Optimizer</title>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/script")

    @Scripts.Render("~/bundles/footable")

    @Styles.Render("~/Content/css/footable")

    @Styles.Render("~/Content/css/styles")

    @Styles.Render("~/Content/css/jqueryui")

    <script src="https://maps.googleapis.com/maps/api/js?client=gme-1800packratllc&libraries=places"></script>

    @Scripts.Render("~/bundles/jqueryPluginsLD")

    @Scripts.Render("~/bundles/LocalDispatch")

    @Styles.Render("~/Content/css/LocalDispatch")
   
    @*<script src="~/Scripts/jquery-1.11.1.js"></script>*@
    @*<script src="@Url.Content("~/Scripts/FooTable/footable.js?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FooTable/footable.sort.js?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FooTable/footable.paginate.js")" type="text/javascript"></script>*@
    @*<link href="@Url.Content("~/Content/css/footable.core.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/footable.standalone.css")" rel="stylesheet" />*@
    @*<link href="../../Content/css/MediaLoot/layout.css" rel="stylesheet" type="text/css" />*@

    @*<link href="@Url.Content("~/Content/css/modern-responsive.css?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/modern.css?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/site.css?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" rel="stylesheet" />*@

   
    @*<script src="~/Scripts/jquery.blockUI.js"></script>*@
    @*<script src="../../Scripts/MediaLoot/hideshow.js" type="text/javascript"></script>
    <script src="../../Scripts/MediaLoot/jquery.equalHeight.js" type="text/javascript"></script>*@
   
    
    @*<link href="@Url.Content("~/Content/css/jquery.ui.all.css")" rel="stylesheet" />*@
    @*<script src="~/Scripts/jquery-ui.min.js"></script>*@
    @*<script src="~/Scripts/date.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.contextMenu.js")"></script>
    <script src="@Url.Content("~/Scripts/LightDialog.js")"></script>
    <script src="@Url.Content("~/Scripts/oms.min.js")"></script>
    <script src="@Url.Content("~/Scripts/markerclusterer.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.toolbar.js")"></script>*@
    @*<script src="@Url.Content("~/Scripts/jquery.timepicker.min.js")"></script>*@
    @*<script src="@Url.Content("~/Scripts/LocalLogistics.js?ts=" +@PRFacAppWF.CodeHelpers.Helper.VersionNumber)"></script>
    <script src="@Url.Content("~/Scripts/local.nav-left.js?ts=" +@PRFacAppWF.CodeHelpers.Helper.VersionNumber)"></script>
    <script src="@Url.Content("~/Scripts/local.stopoptimization.map.js?ts=" +@PRFacAppWF.CodeHelpers.Helper.VersionNumber)"></script>
    <script src="@Url.Content("~/Scripts/local.touchoptimization.map.js?ts=" +@PRFacAppWF.CodeHelpers.Helper.VersionNumber)"></script>
    <script src="@Url.Content("~/Scripts/local.googlemap.js?ts=" +@PRFacAppWF.CodeHelpers.Helper.VersionNumber)"></script>
    @*<script src="@Url.Content("~/Scripts/local.stopoptimization.map.js")"></script>
    <script src="@Url.Content("~/Scripts/local.touchoptimization.map.js")"></script>*@

    @*<link href="../../Content/css/jquery.toolbars.css" rel="stylesheet" />
    <link href="../../Content/css/bootstrap.icons.css" rel="stylesheet" />
    <link href="~/Content/css/slide.css" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Content/css/jquery.timepicker.min.css")" rel="stylesheet" />*@

    <script src="@Url.Content("~/Scripts/AjaxGlobalHandler.js")" ></script>

   
</head>
<body>
    <div class="page">
        <div id="toppanel">
            <div id="panel">
                <div class="content clearfix">
                    <div class="deviderbox choose">
                        <h1>Options</h1>                        
                        <label class="grey" for="log">choose date:</label>
                        <input type="text" id="txtDate" value="@ViewBag.Date" style="width: 130px;" class="popfld" />
                        <input type="button" class="srch-btn" value="Reload" id="btnRealod">
                        <input type="button" class="srch-btn" value="Show Map" id="btnFlip">
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="deviderbox">
                        <div class="labelnew">
                            <label class="grey" for="signup">DE Pickup:</label>
                            <input type="text" id="handlingTimeDEPU" value="@ViewBag.TouchHandlingTimes.DEPU.HandlingTime" class="popfld" placeholder="20">
                        </div>
                        <div class="labelnew">
                            <label class="grey" for="signup">DF Pickup:</label>
                            <input type="text" id="handlingTimeDFPU" value="@ViewBag.TouchHandlingTimes.DFPU.HandlingTime" class="popfld" placeholder="20">
                        </div>
                        <div class="labelnew">
                            <label class="grey" for="signup">RE Pickup:</label>
                            <input type="text" id="handlingTimeREPU" value="@ViewBag.TouchHandlingTimes.REPU.HandlingTime" class="popfld" placeholder="20">
                        </div>
                        <div class="labelnew">
                            <label class="grey" for="signup">RF Pickup:</label>
                            <input type="text" id="handlingTimeRFPU" value="@ViewBag.TouchHandlingTimes.RFPU.HandlingTime" class="popfld" placeholder="20">
                        </div>
                        <div class="labelnew">
                            <label class="grey" for="signup">CC Pickup:</label>
                            <input type="text" id="handlingTimeCCPU" value="@ViewBag.TouchHandlingTimes.CCPU.HandlingTime" class="popfld" placeholder="20">
                        </div>
                        <div class="clear"></div>
                        </div>
                    <div class="deviderbox">
                        <div class="labelnew">
                            <label class="grey" for="signup">DE Dropoff:</label>
                            <input type="text" id="handlingTimeDEDF" value="@ViewBag.TouchHandlingTimes.DEDF.HandlingTime" class="popfld" placeholder="20">
                        </div>
                        <div class="labelnew">
                            <label class="grey" for="signup">DF Dropoff:</label>
                            <input type="text" id="handlingTimeDFDF" value="@ViewBag.TouchHandlingTimes.DFDF.HandlingTime" class="popfld" placeholder="20">
                        </div>
                        <div class="labelnew">
                            <label class="grey" for="signup">RE Dropoff:</label>
                            <input type="text" id="handlingTimeREDF" value="@ViewBag.TouchHandlingTimes.REDF.HandlingTime" class="popfld" placeholder="20">
                       </div>
                        <div class="labelnew">
                            <label class="grey" for="signup">RF Dropoff:</label>
                            <input type="text" id="handlingTimeRFDF" value="@ViewBag.TouchHandlingTimes.RFDF.HandlingTime" class="popfld" placeholder="20">
                        </div>
                        <div class="labelnew">
                            <label class="grey" for="signup">CC Dropoff:</label>
                            <input type="text" id="handlingTimeCCDF" value="@ViewBag.TouchHandlingTimes.CCDF.HandlingTime" class="popfld" placeholder="20">
                        </div>
                        <div class="clear"></div>
                        </div>
                    <div class="clear"></div>
                    <div class="deviderbox">
                        <ul class="infoicons">
                            <li>
                                <span>
                                    <img src="~/Images/confirm-status-icon.png" width="18" alt="" />
                                </span>Confirmed Status
                            </li>
                            <li>
                                <span>
                                    <img src="~/Images/weight-ticket-icon.png" width="18" alt="" />
                                </span>Weight Ticket Required
                            </li>
                            <li>
                                <span>
                                    <img src="~/Images/LocalLogistics/Any-Circle.png" width="18" alt="" />
                                </span>AnyTime Touches
                            </li>
                            <li>
                                <span>
                                    <img src="~/Images/LocalLogistics/AM-Circle.png" width="18" alt="" />
                                </span>AM Touches
                            </li>
                            <li>
                                <span>
                                    <img src="~/Images/LocalLogistics/PM-Circle.png" width="18" alt="" />
                                </span>PM Touches
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab">
                <ul class="login">
                    <li class="left">&nbsp;</li>
                    <li id="toggle">
                        <a id="open" class="close" href="#"> options</a>
                        <a id="close" style="display: none;" class="close" href="#">Close Panel</a>
                    </li>
                    <li class="right">&nbsp;</li>
                </ul>
            </div>
        </div>
        <div class="page-header">
            <div class="nav-bar">
                <div class="nav-bar-inner padding10">
                    <span class="pull-menu"></span>
                    <a href="~/DashBoard.aspx">
                        <span class="element" style="font-size: 110%; position: relative; z-index: 999;">
                            <img src="/Images/Truck1.png" style="float: left; margin-right: 5px;" />PACKRAT FACILITY APPLICATION @PRFacAppWF.CodeHelpers.Helper.VersionNumber
                        </span>
                    </a>
                    <ul class="menu" style="float: right; text-align: right; position: relative; z-index: 999; ">
                        <li style="font-size: 100%; cursor:default;" title="@PRFacAppWF.CodeHelpers.Helper.UserLoginWelcomeInfoTooltip">
                            @PRFacAppWF.CodeHelpers.Helper.UserLoginWelcomeInfo
                        </li>
                        <li>
                            <a href="/Home/Logout">Click here to logout</a>
                            @*<asp:LinkButton ID="lbtnLgoout" runat="server" onclick="lbtnLgoout_Click">Click here to logout</asp:LinkButton>*@
                            <br />
                            @if (Convert.ToString(HttpContext.Current.Session["IsMultipleFacility"]) == "true")
                            {
                                <a href="DashBoard.aspx?req=change">Change Facility</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-region">
            <div class="page-region-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="masterError"></div>
</body>
</html>
