﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <!--Load CSS-->    
    

    @Styles.Render("~/Content/cssprint/styles")

    @Styles.Render("~/Content/css/jqueryui")

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/script")

    @Styles.Render("~/Content/css/styles")
</head>
<body>
    <div class="page">
        <div class="page-header">
            <div class="nav-bar">
                <div class="nav-bar-inner padding10">
                    <span class="pull-menu"></span>
                    <a href="~/Dashboard.aspx">
                        <span class="element" style="font-size: 110%;">
                            <img src="/Images/Truck1.png" style="float: left; margin-right: 5px;" />PACKRAT FACILITY APPLICATION @System.Configuration.ConfigurationManager.AppSettings["Version"]
                        </span>
                    </a>
                    <ul class="menu" style="float: right; text-align: right;">
                        <li style="font-size: 100%; cursor:default;" title="@PRFacAppWF.CodeHelpers.Helper.UserLoginWelcomeInfoTooltip">
                            @PRFacAppWF.CodeHelpers.Helper.UserLoginWelcomeInfoWithFacility
                        </li>
                        <li>
                            <a href="/Home/Logout">Click here to logout</a>
                            <br />
                            @if (Convert.ToString(HttpContext.Current.Session["IsMultipleFacility"]) == "true")
                            {
                                <a href="DashBoard.aspx?req=change">Change Facility</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-region">
            <div class="page-region-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="masterError"></div>
</body>
</html>