﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/cssprint/styles")

    @Styles.Render("~/Content/css/jqueryui")

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/script")

    @Styles.Render("~/Content/css/styles")
</head>
<body>
    <div class="page">
        <div class="page-header">
            <div class="page-header">
                <div class="page-header-content">
                    <div>
                        <div class="login-logo"><img src="../Images/packratlogobluenew.png" width="309" height="87" class="logo" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-region">
            <div class="page-region-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="page center">
        <div class="footer-bar">
            <div class="nav-bar-inner padding10">
                <span class="element">
                    Copyright 2017, All Rights Reserved&nbsp;|&nbsp;<a href="">1-800-PackRat.</a>
                </span>
            </div>
        </div>
    </div>
    <div id="masterError"></div>
    @RenderSection("scripts", required: false)
    @RenderSection("style", required: false)
</body>
</html>
