﻿@model PRFacAppWF.Repository.models.FAGroupMaster
<div id="displayRole">
    <table border="0" cellpadding="5" cellspacing="0">
        <tr>
            <td width="20%">
                Role Name:
            </td>
            <td align="left" width="80%">
                @Html.TextBoxFor(m => m.GroupName, new { style = "width:70%;" })
                @Html.HiddenFor(m => m.PK_GroupId, new { id = "groupId" })
            </td>
        </tr>
        <tr>
            <td width="20%">
                Description:
            </td>
            <td width="80%">
                @Html.TextBoxFor(m => m.Description, new { style = "width:70%;" })
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top" colspan="2" align="left" width="100%">
                <div class="value role-permission">
                    <div class="permission-mainhead">
                        <div class="permission-head">Permissions</div>&nbsp;
                        <div class="permission-description-head">Description</div>&nbsp;
                        <div class="permission-head">Permissions</div>&nbsp;
                        <div class="permission-description-head">Description</div>
                    </div>
                    <div class="clear"></div>
                    <div class="role-permission-list">
                        @{
                            int index = 0;
                            foreach (var item in ViewBag.Modules)
                            {
                                index++;
                                <div class="permission">
                                    @if (Model.FAGroupAndModule.Any(l => l.FK_ModuleID == item.PK_ModuleID && l.IsActive == true))
                                    {
                                        <input type="checkbox" class="chkTouchType" onclick="chkParentModule(this);" checked="checked" value="@item.PK_ModuleID" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="chkTouchType" onclick="chkParentModule(this);" value="@item.PK_ModuleID" />
                                    }
                                    <input type="hidden" id="hfParentModuleId" value="@item.ParentModuleId" />
                                    <span class="label">@item.ModuleName</span>
                                </div>
                                <div class="permission-description">
                                    <span class="label">@item.Description</span>
                                </div>
                                if (index % 2 == 0)
                                {
                                    <div class="clear"></div>
                                }
                            }
                        }
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="clear"></div>
