﻿@{
    ViewBag.Title = "Staging Touches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavaScript{
    <script src="@Url.Content("~/Scripts/StagingTouch.js?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)"></script>
    <script type="text/javascript">
    var URLHelper = {
        SearchTouchList: '@Url.Action("SearchStagingTouchList", "StagingTouch")',
        TransferOutTouchUrl: '@Url.Action("TransferOutTouch", "StagingTouch")',
        TransferInTouchUrl: '@Url.Action("TransferInTouch", "StagingTouch")',
        CompleteIBOTouchUrl: '@Url.Action("CompleteIBOTouch", "StagingTouch")',
        CompleteWHTouchUrl: '@Url.Action("CompleteWHTouch", "StagingTouch")',
        CompleteOBOTouchUrl: '@Url.Action("CompleteOBOTouch", "StagingTouch")'
    };
</script>
}
<div class="child-body">
    @using (Html.BeginForm("List", "StagingTouch", null, System.Web.Mvc.FormMethod.Post, new { id = "StagingTouchFilterCriteria", onsubmit = "" }))
    {
        <div class="form-panel">
            <!--header image starts-->
            <h2>
                <span class="back-arrow">
                    <a href="../Dashboard.aspx">
                        <img src="../Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                    </a>
                </span>
                <div class="h-title">
                    @*<span style="float: left; font-size: 9pt; text-transform: uppercase;">Unit</span><br />*@
                    <span style="float: left; margin-top: 13px">Manage Staging Touches</span>
                </div>
                <div class="clearfix"></div>
            </h2>
            <!--<div class="show-map"><button class="image-button bg-color-grayDark fg-color-white">Show route map<img src="Images/map2.png" class="bg-color-blue"></button></div>-->
            <div class="clearfix"></div>
            <!--header image ends-->
            <!--pivot item starts -->
            <div class="metro-pivot touch-info-page">
                <div class="pivot-item">
                    <div class="bg-grey">
                        <div class="tiltepanel">
                            <h4 class="title-h4">Search Staging Touches</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="form-list form-list-new" style="margin-top: 0%;">
                            <li class="width18prcnt">
                                <span class="label-form">Start Date</span>
                                <div clas="clearfix"></div>
                                <span class="value">
                                    <div class="input-control text span2 float-left">
                                        <input type="text" value="@DateTime.Now.AddDays(-3).ToShortDateString()" name="StagingTouchStartDate" id="StagingTouchStartDate" readonly="readonly" />
                                        <button onclick="$('#StagingTouchStartDate').val(''); return false" class="helper" tabindex="-1" type="button"></button>
                                    </div>
                                    <div class="float-left mrgntop-8px" id="StagingTouchStartDateIcon">
                                        <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                                    </div>
                                </span>
                            </li>
                            <li class="width18prcnt">
                                <span class="label-form">End Date</span>
                                <div clas="clearfix"></div>
                                <span class="value">
                                    <div class="input-control text span2 float-left">
                                        <input type="text" value="@DateTime.Now.AddDays(5).ToShortDateString()" name="StagingTouchEndDate" id="StagingTouchEndDate" readonly="readonly" />
                                        <button onclick="$('#StagingTouchEndDate').val(''); return false" class="helper" tabindex="-1" type="button"></button>
                                    </div>
                                    <div class="float-left mrgntop-8px" id="StagingTouchEndDateIcon">
                                        <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                                    </div>
                                </span>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <div class="button-panel">
                        <input type="submit" value="Search"><input type="submit" onclick="this.form.reset();" value="Reset">
                    </div>
                </div>
                <div class="clerfix"></div>
                <div style="width: 96%; margin: 0 auto" class="cust-grid-jqgrid">
                    <table id="tblStagingTouchesList"></table>
                    <div id="ptblStagingTouchesList" class="cust-grid-jqgrid-page"></div>
                </div>
            </div>
            <div class="clerfix"></div>
        </div>

    <div id="dlgEnterUnitNumber" class="message-dialog bg-color-oliveDark" style="display: none;">
        <div class="popup-hdr">
            <div class="pop-left">
                <h3>
                    Enter unit number
                </h3>
            </div>
            <div class="pop-right">
                <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose">
            </div>
            <div class="clearfix">
            </div>
        </div>
        <ul class="poplist-form">
            <li>
                <label class="label">
                    Unit No
                </label>
                <span class="value">
                    <div class="input-control text">
                        @Html.TextBox("UnitNo")
                        <button type="button" tabindex="-1" class="helper" onclick="return false"></button>
                    </div>
                </span>
            </li>
            <li>
                <label class="label">
                    Re Enter Unit No
                </label>
                <span class="value">
                    <div class="input-control text">
                        @Html.TextBox("ReUnitNo")
                        <button type="button" tabindex="-1" class="helper" onclick="return false"></button>
                    </div>
                </span>
            </li>
        </ul>
        <div class="clearfix">
        </div>
        <button class="place-right bClose" id="CancelEnterUnitNumber">
            Cancel
        </button>
        <button class="place-right" id="SubmitEnterUnitNumber">
            Submit
        </button>
    </div>
    }
</div>