﻿@model IEnumerable<PRFacAppWF.models.TouchListViewModel>

<p>
 Search: <input id="nwhFilter" type="text"/>  <button runat="server" id="imagePrint" class="image-button bg-color-darken fg-color-white"
                        causesvalidation="false"  onclick='Popup("transTable", "@ViewBag.RequestFrom");'>
                        Print This<img class="bg-color-green" src="/Images/Printer.png" /></button>
 </p>
 <div id="transTable">
<table class="footable table" data-filter="#nwhFilter" id="nwhTable" >
<thead>
    <tr>
        <th data-class="expand">
            CustomerName
        </th>
        <th data-hide="phone">
            Tenant ID
        </th>
        <th data-hide="phone,tablet">
            Phone
        </th>
        <th data-hide="phone,tablet">
            Unit
        </th>
        <th data-hide="phone,tablet">
            ScheduleDate
        </th>
        <th data-hide="phone,tablet">
            StartTime
        </th>
        <th data-hide="phone,tablet">
            EndTime
        </th>
        <th>
            Status
        </th>
        <th>
            Touchtype
        </th>
        <th data-hide="phone,tablet">
            Confirmed
        </th>
        
        <th>
            Qorid
        </th>
       <th>Edit</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Touchtype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isConfirmed)
                </td>

                <td>
                    @*   @Html.DisplayFor(modelItem => item.Qorid)*@
                    <input type="button" class="edit" title="@item.Qorid.ToString()" value='@item.Qorid.ToString()' />
                </td>

                <td>
                    <a href="#" class="dialog" qorid="@item.Qorid" service="@item.Touchtype">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<script type="text/javascript">
 $(document).ready(function () {
        $(".edit").unbind('click').on('click', function (e) {
            
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditQor", "TouchList")',
                data: { qorid: $(this).attr('title') },
                dataType: "html",
                success: function (data) {
                    window.location.href = data;

                }

            });

        });
        });
</script>