﻿@model IEnumerable<PRFacAppWF.models.TouchListViewModel>

<p>
 Search: <input id="filter" type="text"/>  <button runat="server" id="imagePrint" class="image-button bg-color-darken fg-color-white"
                        causesvalidation="false"  onclick='Popup("sitelinkTouchs", "@ViewBag.RequestFrom");'>
                        Print This WH<img class="bg-color-green" src="/Images/Printer.png" /></button>
 </p>
 <div class="whtable" id="sitelinkTouchs">
<table class="footable table" data-filter="#filter">
<thead>
    <tr>
        <th data-class="expand">
            CustomerName
        </th>
        <th data-hide="phone">
            Tenant ID
        </th>
        <th data-hide="phone,tablet">
            Phone
        </th>
        <th data-hide="phone,tablet">
            Unit
        </th>
        <th data-hide="phone,tablet">
            ScheduleDate
        </th>
        <th data-hide="phone,tablet">
            Time
        </th>
        <th>
            Provided ETA
        </th>
        <th>
            Status
        </th>
        <th>
            Touchtype
        </th>
        <th data-hide="phone">
            Qorid
        </th>
        <th data-hide="phone,tablet">
            BolLink
        </th>
        <th>Edit</th>
        </thead>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenantID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @if (item.ETASettings.CanDisplayETAStatus == true)
            {
                <label class="float-right" style="padding-left:5px; padding-right:5px; background-color:@item.ETASettings.BackGroundColor; color:@item.ETASettings.TextColor">@item.ETASettings.ProvidedETARange</label>
            }
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Touchtype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qorid)
        </td>
        <td>
        @if (item.Touchtype.Contains("Transfer"))
        {
          
       @*    @Html.ActionLink("Show BOL", "ShowBOL", new { qorid = item.Qorid.ToString(),id="bol" }, null) *@
            <a  class="bol" href="#" title="@item.Qorid.ToString()">BOL Docs</a>
        }
        </td>
        <td>
        <input type="button" class="edit" title="@item.Qorid.ToString()" value='@item.Qorid.ToString()'/>
       @* <a  id="edit" href="#" title="@item.Qorid.ToString()">@item.Qorid.ToString()</a>*@
        @*    @Html.ActionLink(item.Qorid.ToString(), "EditQor", new { qorid = item.Qorid.ToString() }, null) *@
         
        </td>
    </tr>
}

</table>
<script type="text/javascript">
    $(document).ready(function () {
        $(".edit").unbind('click').on('click', function (e) {
            
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditQor", "TouchList")',
                data: { qorid: $(this).attr('title') },
                dataType: "html",
                success: function (data) {
                    window.location.href = data;

                }

            });

        });
        $(".bol").unbind('click').on('click', function (e) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("ShowBOL","TouchList")',
                data: { qorid: $(this).attr('title') },
                dataType: "html",
                success: function (page) {
                  
                    var width = window.innerWidth * .75;;
                    var height = window.innerHeight * .75;
                    var left = (screen.width - width) / 2;
                    var top = (screen.height - height) / 2;
                    var params = 'width=' + width + ', height=' + height;
                    params += ', top=' + top + ', left=' + left;
                    params += ', directories=no';
                    params += ', location=no';
                    params += ', menubar=no';
                    params += ', resizable=yes';
                    params += ', scrollbars=yes';
                    params += ', status=no';
                    params += ', toolbar=no';

                    newwin = window.open(page, '_blank', params);
               //     var $dialog = $('<div></div>')
               //.html('<iframe style="border: 0px; " src="' + page + '" width="100%" height="100%"></iframe>')
               //.dialog({
               //    autoOpen: false,
               //    modal: true,
               //    height: 750,
               //    width: 800,
               //    title: "BOL DOCS"
               //});
               //     $dialog.dialog('open');
                }

            });
           
        });
    });
</script>
</div>