﻿@{
    ViewBag.Title = "Touches List";
    Layout = "~/Views/_Layout.cshtml";

    <script src="@Url.Content("~/Scripts/FooTable/footable.js?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FooTable/footable.sort.js?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FooTable/footable.filter.js?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/css/footable.core.css?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/footable.standalone.css?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery.print-preview.js?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/css/print-preview.css?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" rel="stylesheet" />
}
<div class="form-panel">
    <!--header image starts-->
    <h2>
        <span class="back-arrow">
            <a href="/Dashboard.aspx">
                <img src="/Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" />
            </a>
        </span>
        <img src="/Images/Driver.png" width="48" height="48" style="float: left; margin-right: 10px;" /><div class="h-title">
            <span style="float: left; font-size: 9pt; text-transform: uppercase;">@ViewBag.Title</span><br />
            <span style="float: left;"></span>
        </div>
        <div class="nav-bar bg-color-none" style="float: right; width: auto; margin-top: 8px;">
            <div class="nav-bar-inner new">
            </div>
        </div>
        <div class="clearfix">
        </div>
    </h2>
    <!--header image ends-->
    <!--pivot item starts -->
    <div class="metro-pivot">
        <div class="pivot-item">
            <div class="clearfix">
            </div>
            <div class="inner-container">
                <div>
                    <div class="input-control text lft-all">
                        Start Date <input id="StartDate" class="dp" type="text" value="@ViewBag.StartDate" />
                    </div>
                    <div class="input-control text lft-all">
                        End Date <input id="EndDate" class="dp" type="text" value="@ViewBag.EndDate" / />
                    </div>
                    <br />
                    <input type="submit" class="bg-color-green" value="View" id="view" />

                </div>
                <div class="clearfix">
                </div>

                <div class="page-control" data-role="page-control">
                    <!-- Responsive controls -->
                    <span class="menu-pull"></span>
                    <div class="menu-pull-bar">
                    </div>
                    <!-- Tabs -->
                    <ul>
                        @*@if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.Watouches, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, false))
                            {*@
                        <li id="liWareHouse"><a href="#page1">Warehouse Touches</a></li>
                        @*}
                            @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.TouchList, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, false))
                            {*@
                        <li id="liTouchlist" class="active"><a href="#page2">Transportation Touches</a></li>
                        @* }*@
                    </ul>
                    <!-- Tabs content -->
                    <div class="frames">
                        <div class="frame" id="page1">
                            <div id="Whgrid">
                            </div>
                        </div>
                        <div class="frame active" id="page2">
                            <div id="NWhgrid">
                            </div> 
                        </div>
                    </div>
                </div>


            </div>
            <div class="clerfix">
            </div>
        </div>
    </div>
</div>
<div class="progress">
    <img src="../../Images/preloader-w8-line-black.gif" id="process" />
</div>
<div class="bg-color-white" style="display: none; color: #fff;" id="editDialog">
    <h2>
        Details
    </h2>
    <ul class="form-list">
        <li>
            <span class="label-form3">Touch Instructions</span>
            <div class="clearfix">
            </div>
            <span class="value">
                <div class="input-control text">
                    <textarea id="txteditIns" data-bind="text: touchInstructions"></textarea>
            </span>
            <div class="clearfix">
            </div>
        </li>
        <li>
            <span class="label-form3" data-bind="text: confirmed">Confirmed</span> <span class="value">
                <div class="input-control text">
                    <input type="checkbox" id="chkConfirmed" />
                </div>
            </span>
            <div class="clearfix">
            </div>
        </li>
        <li>
            <div class="button-panel">
                <input type="submit" value="Save" id="btnSave" />

            </div>
        </li>
    </ul>
</div>
<script>
    var service, qorid = "";
    @*var isWareHouseAccess = '@PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.Watouches, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true)';*@
    var isTouchListAccess = '@PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.TouchList, PRFacAppWF.Entities.Enums.AccessLevel.Any, true)';

    $(document).ready(function () {
        $('.dp').datepicker();

        /*if (isTouchListAccess == "False" && isWareHouseAccess == "False") {
            $('#liTouchlist').hide();
            $('#page2').hide();
            $('#liWareHouse').hide();
            $('#page1').hide();
        }
        else if (isTouchListAccess == "False") {
            $('#liTouchlist').hide();
            $('#page2').removeClass('active');
            $('#liWareHouse').addClass('active');
            $('#page1').addClass('active');
        }
        else if (isWareHouseAccess == "False") {
            $('#liWareHouse').hide();
            $('#page1').removeClass('active');
        }*/

        setTimeout("$('#view').trigger('click');", 200);
    });

    function Popup(gridid, parentID) {
        console.log($("#" + gridid));
        data = $("#" + gridid, $('#' + parentID)).html();
        console.log(data);
        var mywindow = window.open('', 'my div', 'height=400,width=600');
        mywindow.document.write('<html><head><title>my div</title>');
        //  mywindow.document.write('<script src="/Scripts/FooTable/footable.js" />');
        mywindow.document.write('<link href="/Content/css/footable.core.css" rel="stylesheet" media="print"/><link href="/Content/css/footable.standalone.css" rel="stylesheet" media="print" />');
        mywindow.document.write('</head><body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.print();
        mywindow.close();

        return true;
    }
    var confirmed = "";
    $(function () {

        $('#StartDate').datepicker({ showOn: 'button', buttonImage: 'image/calendar.gif' });

        $("#view").click(function () {
            if (Date.parse($("#StartDate").val()) > Date.parse($("#EndDate").val())) {
                alert("Start Date cannot be greater than end date");
                return false;
            }

            if (isTouchListAccess == "True") {
                $.ajax({
                    type: this.method,
                    url: '@Url.Action("BindSitelinkTouches", "TouchList")',
                    data: { startDate: $("#StartDate").val(), endDt: $("#EndDate").val() },
                    success: function (data) { $("#Whgrid").html(data); $('.footable').footable(); }
                });
                //}

                //if (isTouchListAccess == "True") {
                $.ajax({
                    type: this.method,
                    url: '@Url.Action("BindNonWareHouseTouches", "TouchList")',
                    data: { startDate: $("#StartDate").val(), endDt: $("#EndDate").val() },
                    success: function (data) {
                        $("#NWhgrid").html(data); $('#nwhTable').footable();
                        $(".dialog").click(function () {
                            $.ajax({
                                type: this.method,
                                dataType: "json",
                                url: '@Url.Action("FetchEditData", "TouchList")',
                                data: { qorid: $(this).attr("qorid"), touchtype: $(this).attr("service") },
                                success: function (data, textStatus, jqXHR) {

                                    var result = eval("(" + jqXHR.responseText + ")");

                                    $("#txteditIns").val(result.TouchInstructions);
                                    if (result.isConfirmed == "true") {
                                        $("#chkConfirmed").attr("checked", true);
                                    }

                                    service = result.Touchtype; confirmed = result.isConfirmed; qorid = result.Qorid;
                                    $("#editDialog").dialog({
                                        height: 500,
                                        width: 400,
                                        modal: true

                                    });
                                }
                            });
                        });
                    }
                });
            }
        });

        $('.progress')
    .hide()  // hide it initially
    .ajaxStart(function () {
        $(this).show();
    })
    .ajaxStop(function () {
        $(this).hide();
    });
        //alert(this);
        $('#nwhFilter').keyup(function (e) {
            //console.log(e);
            e.preventDefault();
            $('#nwhTable').trigger('footable_filter', { filter: $('#nwhFilter').val() });
        });

        $("#btnSave").click(function () {
            var confirmed = false;
            if ($("#chkConfirmed").attr('checked') == "checked")
                confirmed = true;

            $.ajax({
                url: '@Url.Action("Save", "TouchList")',
                dataType: 'html',
                data: { qorid: qorid, touchComments: $("#txteditIns").val(), isConfirmed: confirmed, serviceType: service },
                success: function (data) { $("#editDialog").dialog('close'); alert(data); }
            });
        });
    });

</script>
