﻿<div>
    <input type="hidden" id="hfTouchKey" />
    <ul class="form-list form-list-new watouch-edit-form">
        <li class="wa-touch-completed-sl width100prcnt" id="smtTouchStatusCompleted">
            <p>This touch has been completed in Salesforce. You cannot change touch status.</p>
        </li>
        <li class="width48prcnt ">
            <span class="label-form">Customer: </span>
            <span id="CustomerName" class="value">
            </span>
        </li>
        <li class="width48prcnt ">
            <span class="label-form">Order: </span>
            <span id="OrderNumber" class="value">
            </span>
        </li>
        <li class="width48prcnt ">
            <span class="label-form">Status: </span>
            <span id="lblStatusName" class="value">
            </span>
        </li>
        <li class="width48prcnt ">
            <span class="label-form">TouchType: </span>
            <span id="SpanTouchType" class="value">
            </span>
        </li>
        <li class="width48prcnt ">
            <span class="label-form">Action: </span>
            <span class="value">
                <div class="input-control text ">
                    @*BELOW DROP DOWN WILL POPULATE ON EDIT CLICK ACTION, BECAUSE STATUS MAY WARRAY BASED ON TOUCH TYPE AND TOUCH SCHEDULED DATE*@
                    <select name="Status" id="ddEditAction" title="Select action to update.">
                        <option value="-1">--Select--</option>
                    </select>
                </div>
            </span>
        </li>
        <li class="width48prcnt ">
            <span class="label-form">Previous Action: </span>
            <span id="SpanTouchPreviousAction" class="value" style="padding-bottom: 32px;">
            </span>
        </li>
        <li class="width48prcnt hide" id="unitNumberTextField" style="margin-top: 0.5%">
            <span class="label-form">Unit Name</span>
            <span class="value">
                <div class="input-control text">
                    <input type="text" name="UnitNumber" id="UnitNumber" title="Enter unit number." />
                    <input type="hidden" id="hdnUnitNumberValidationReq" value="false" />
                </div>
            </span>
        </li>
        <li class="width100prcnt">
            <span class="label-form">Notes: </span>
            <span class="value comments">
                <div class="input-control text">
                    <textarea id="Notes" name="Notes"></textarea>
                </div>
            </span>
        </li>
    </ul>
</div>