﻿
<div id="edittouchInfo">
    <ul>
        <li><a href="#edit_Touch_Info">Edit Touch</a></li>
        <li><a href="#touchHistory">View Touch History</a></li>
    </ul>
    <div id="edit_Touch_Info">
                @Html.Partial("~/Views/TouchList/partial/_editTouchInfo.cshtml")
        <div class="clear"></div>
    </div>
    <div id="touchHistory">
        @Html.Partial("~/Views/TouchList/partial/_touchHistory.cshtml")
        <div class="clear"></div>
    </div>
</div>
