﻿@model PRFacAppWF.Entities.Touches.TouchListFilterCriteria

@using (Html.BeginForm("SearchTouches", "TouchList", null, System.Web.Mvc.FormMethod.Post, new { id = "WarehouseTouchFilterCriteria", onsubmit = "" }))
{
    <div class="pivot-item">
        <div class="bg-grey-newfilter">
            <div class="tiltepanel" style="margin-left:20px">
                <h4 class="title-h4 width100prcnt">
                    <span id="hShowHide" style="cursor:pointer">Search Criteria</span>           
                    <span class="ui-icon ui-icon-circle-triangle-n float-right" style="cursor: pointer;" id="showHideButton">&nbsp;</span>
                </h4>
                <div class="clearfix"></div>
                <ul class="form-list form-list-watouches" style="margin-top: 0%;">
                    <li class="width30prcnt ">
                        <span class="label-form">Start Date</span>
                        <span class="value">
                            <div class="input-control text ">
                                <input type="text" value="@Model.StartDate.ToString("MM/dd/yyyy")" name="StartDate" id="StartDate" readonly="readonly" title="Select start date to search records." style="margin-right: 0px; width: 80%;" />
                                <img src="../Images/calendar-Icon.gif" id="StartDateIcon" />
                            </div>
                        </span>
                    </li>
                    <li class="width30prcnt ">
                        <span class="label-form">End Date</span>
                        <span class="value">
                            <div class="input-control text">
                                <input type="text" value="@Model.EndDate.ToString("MM/dd/yyyy")" name="EndDate" id="EndDate" readonly="readonly" title="Select end date to search records." style="margin-right: 0px; width: 80%;" />
                                <img src="../Images/calendar-Icon.gif" id="EndDateIcon" />
                            </div>
                        </span>
                    </li>
                    <li class="width30prcnt ">
                        <span class="label-form">Status</span>
                        <span class="value">
                            <div class="input-control text">
                                <select class="" name="Status" id="Status" title="Select status to search records.">
                                    <option value="-1">-- All--</option>
                                    @foreach (var item in Model.StatusTypes)
                                    {
                                        <option value="@item.TouchStatusID" @(item.TouchStatusID == 0 ? "selected='selected'" : string.Empty)>@item.StatusName</option>
                                    }
                                </select>
                            </div>
                        </span>
                    </li>
                    <li class="width100prcnt">
                        <ul class="form-list form-list-watouches" style="margin-top: 0%;">                            
                            <li class="width30prcnt ">
                                <span class="label-form">First Name</span>
                                <span class="value">
                                    <div class="input-control text">
                                        <input type="text" name="FirstName" id="FirstName" title="Enter first name to search records." style="margin-right: 0px; width: 80%;" />
                                    </div>
                                </span>
                            </li>                            
                            <li class="width30prcnt ">
                                <span class="label-form">Last Name</span>
                                <span class="value">
                                    <div class="input-control text">
                                        <input type="text" name="LastName" id="LastName" title="Enter last name to search records." style="margin-right: 0px; width: 80%;" />
                                    </div>
                                </span>
                            </li>
                            <li class="width30prcnt ">
                                <span class="label-form">Touch Type</span>
                                <span class="value">
                                    <div class="input-control text">
                                        <select class="" name="TouchType" id="TouchType" title="Select touch type to search records.">
                                            <option value="-1">--Select--</option>
                                            <option value="4">All</option>
                                            <option value="6">Custom</option>
                                            <option value="7">Needs Action</option>
                                            <option value="5">None</option>
                                            <option value="3">Stage</option>
                                            <option value="2">Transportation</option>
                                            <option value="1">Warehouse</option>
                                        </select>
                                    </div>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li class="width100prcnt">
                        <ul class="form-list form-list-watouches" style="margin-top: 0%;">                            
                            <li class="width30prcnt ">
                                <span class="label-form">Number (Order, Units, STARS)</span>
                                <span class="value">
                                    <div class="input-control text">
                                        <input type="text" name="TouchIdentificationNumber" id="TouchIdentificationNumber" title="Enter number to search records." style="margin-right: 0px; width: 80%;" />
                                    </div>
                                </span>
                            </li>                            
                            <li class="width30prcnt">
                                <span class="value">
                                    <div class="input-control text">
                                        @*<input type="checkbox" name="IsShowCompletedTouches" id="IsShowCompletedTouches" title="Check to view completed touches." /><span class="wstouch-touchtype">Show Completed Touches</span>
                                        *@<br />
                                        <input type="checkbox" name="IsShowPriorNotCompletedTouches" id="IsShowPriorNotCompletedTouches" checked="checked" title="Check to view prior touches." /><span class="wstouch-touchtype">Prior Warehouse Touches Not Completed</span>
                                    </div>
                                </span>
                            </li>
                            <li class="width36prcnt">
                                <span class="value">
                                    <div class="input-control text">
                                        <input type="checkbox" name="IsDETouches" id="IsDETouches" title="Check to view DE touches." data-TouchType="DE" class="chkTouchType"/><span class="wstouch-touchtype">DE</span>
                                        <input type="checkbox" name="IsRFTouches" id="IsRFTouches" title="Check to view RF touches." data-TouchType="RF" class="chkTouchType"/><span class="wstouch-touchtype">RF</span>
                                        <input type="checkbox" name="IsCCToches" id="IsCCToches" title="Check to view CC touches." data-TouchType="CC" class="chkTouchType"/><span class="wstouch-touchtype">CC</span>
                                        <input type="checkbox" name="IsDFTouches" id="IsDFTouches" title="Check to view DF touches." data-TouchType="DF" class="chkTouchType"/><span class="wstouch-touchtype">DF</span>
                                        <input type="checkbox" name="IsRETouches" id="IsRETouches" title="Check to view RE touches." data-TouchType="RE" class="chkTouchType"/><span class="wstouch-touchtype">RE</span>
                                        <br />
                                        <input type="checkbox" name="IsWATouches" id="IsWATouches" title="Check to view DE touches." data-TouchType="WA" class="chkTouchType"/><span class="wstouch-touchtype">WA</span>
                                        <input type="checkbox" name="IsLDMOutTouches" id="IsLDMOutTouches" title="Check to view LDM Out touches." data-TouchType="TO" class="chkTouchType"/><span class="wstouch-touchtype">LDM Out</span>
                                        <input type="checkbox" name="IsLDMInTouches" id="IsLDMInTouches" title="Check to view LDM In touches." data-TouchType="TI" class="chkTouchType"/><span class="wstouch-touchtype">LDM In</span>
                                        <input type="checkbox" name="IsIBOTouches" id="IsIBOTouches" title="Check to view IBO touches." data-TouchType="IBO" class="chkTouchType"/><span class="wstouch-touchtype">IBO</span>
                                        <input type="checkbox" name="IsOBOTouches" id="IsOBOTouches" title="Check to view OBO touches." data-TouchType="OBO" class="chkTouchType"/><span class="wstouch-touchtype">OBO</span>
                                    </div>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li class="width100prcnt">
                        <div class="button-panel">
                            <input type="submit" value="Search" id="btnSearch" title="Click to search." />
                            <input type="reset" value="Reset" id="btnReset" title="Click to reset page." />
                            <input type="submit" value="Print" id="btnPrint" title="Click here to print." />
                            @*<input type="submit" hidden value="Print PDF" id="btnPrintPDF" title="Click here to print." />*@
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}
