﻿<div class="driver-schedule-driverrover-list">
    <table class="tblTouchHistory new-fixed-header">
        <thead>
            <tr>
                <th class="width22prcnt">
                    Status Name
                </th>
                <th class="width22prcnt">
                    Action Name
                </th>
                <th class="width22prcnt">
                    Comments
                </th>
                <th class="width22prcnt">
                    Created Date
                </th>
            </tr>
        </thead>
        <tbody id="tBodyTouchHistory"></tbody>
    </table>
</div>
