﻿@model  IEnumerable<PRFacAppWF.Entities.Touches.WATouchInfoHistory>

@if (Model.Count() > 0)
{
    foreach (var touchInfo in Model)
    {
        <tr>
            <td>
                @touchInfo.DispStatusName
            </td>
            <td class="width12prcnt">
                @touchInfo.ActionName
            </td>
            <td class="width12prcnt">
                @touchInfo.Comments
            </td>
            <td class="width12prcnt">
                @touchInfo.HistCreatedDate.ToString("MM/dd/yyyy hh:mm tt")
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="4">
           There is no history available to the touch.
        </td>       
    </tr>
}