﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="progressbar.ascx.cs" Inherits="PRFacAppWF.usercontrols.progressbar" %>
 <asp:UpdateProgress ID="uprog" runat="server">
        <ProgressTemplate>
        <style type="text/css" >
        
       
        
        </style>
        <div id="progress" class="progress"  runat="server" >
          
                <div onload="$(this).FadeIn(200);"   >
                  
                     
                    
                    
           </div>
           <img src="../Images/preloader-w8-line-black.gif"  id="process"    />
        </div>
        
         
        </ProgressTemplate>
    </asp:UpdateProgress>