﻿@model PRFacAppWF.Entities.AddEditDriverViewModel
<div id="wzAddDriver">
    <h3>User Information</h3>
    <section>
        <div id="wzDrUserInformation" class="padding2prnt">
            @Html.Partial("~/Views/DriverMaintenance/partial/_formAddDriverInformation.cshtml", Model.FAUserMaster)
        </div>
    </section>
    <h3>Security</h3>
    <section>
        <div id="wzDrSecurity" class="padding2prnt">
            @Html.Partial("~/Views/DriverMaintenance/partial/_formAddDriverSecurity.cshtml", Model.FAUserMaster)
        </div>
    </section>
    @*<h3>Facility Assignment</h3>
    <section>
        <div id="wzDrFacilityAssignment">
            @Html.Partial("~/Views/DriverMaintenance/partial/_formAddDriverFacilities.cshtml", Model.FAUserMaster)
        </div>
    </section>*@
</div>