﻿@model PRFacAppWF.models.DriverMaintenance
<div id="displayRole">
    <table border="0" cellpadding="5" cellspacing="0">
        <tr>
            <td>
                Start Time :
            </td>
            <td align="left">
                @Html.TextBoxFor(m => m.startTime)
                @Html.HiddenFor(m => m.DriverID, new { id = "driverId" })
            </td>
        </tr>
        <tr>
            <td>
                End Time :
            </td>
            <td align="left">
                @Html.TextBoxFor(m => m.endTime)
            </td>
        </tr>
       
    </table>
</div>
<div class="clear"></div>