﻿@using PRFacAppWF.Entities;
@using PRFacAppWF.models;
@model PRFacAppWF.Entities.DriversListViewModel
<table class="border tblDriverScheduleHrs new-fixed-header">
    <thead>
        <tr>
            <th class="width100px" style="border-right: 0px;padding: 0;">
                <div class="badge float-left img-next-previous" id="imgPrevious">
                    <i class="icon-arrow-left-3 fg-color-white" style="font-size: 29pt; margin-top: 5px;"></i>
                </div>
            </th>
            <th class="width10prcnt" style="text-align: left;">
                @*<div class="badge float-left img-next-previous" id="imgPrevious">
                    <i class="icon-arrow-left-3 fg-color-white" style="font-size: 29pt; margin-top: 5px;"></i>
                </div>*@
                @Html.Raw(Model.GridHead.col1)
            </th>
            <th class="width9prcnt">
                @Html.Raw(Model.GridHead.col2)
            </th>
            <th class="width9prcnt">
                @Html.Raw(Model.GridHead.col3)
            </th>
            <th class="width9prcnt">
                @Html.Raw(Model.GridHead.col4)
            </th>
            <th class="width9prcnt">
                @Html.Raw(Model.GridHead.col5)
            </th>
            <th class="width9prcnt">
                @Html.Raw(Model.GridHead.col6)
            </th>
            <th class="width9prcnt">
                @Html.Raw(Model.GridHead.col7)
            </th>
            <th class="width9prcnt">
                @Html.Raw(Model.GridHead.col8)
            </th>
            <th class="width9prcnt">
                @Html.Raw(Model.GridHead.col9)
            </th>
            <th class="width9prcnt">
                @Html.Raw(Model.GridHead.col10)
            </th>
            <th class="width8prcnt" style="border-right: 0px;"> 
                @Html.Raw(Model.GridHead.col11)
            </th>
            <th class="width100px" style="padding: 0;">
                <div class="badge float-right img-next-previous" id="imgNext">
                    <i class="icon-arrow-right-3 fg-color-white" style="font-size: 29pt; margin-top: 5px;"></i>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DriverScheduleList.Count > 0)
        {
            foreach (DriverInfoWithWeekSchedule driver in Model.DriverScheduleList)
            {
                <tr>
                    <td class="width10prcnt" colspan="2">
                        <a href="#" class="editDriverDetails" data-driverId="@driver.PK_ID" data-driverfullname="@driver.FullName">@driver.FullName</a>
                        @*@Html.Raw(driver.FullName)*@
                    </td>
                    <td class="width9prcnt">
                        @Html.Raw(driver.FacilityName)
                    </td>
                    <td class="width9prcnt">
                        <a href="#" class="editDriverLicenseDetails" data-driverId="@driver.PK_ID" data-driverfullname="@driver.FullName">@driver.LicenseName</a>
                    </td>
                    <td class="width9prcnt center">
                        @if (driver.Day1.CanDriverScheduleEditable && driver.Day1.DayWork != "N")
                        {
                            <a class="editDriverScheduleHours" data-driverId="@driver.PK_ID" data-driverfullname="@driver.FullName" data-date="@driver.Day1.ScheduleDate.ToString("MM/dd/yyyy")" data-status="@driver.Day1.UserFacilityAccessStatus.ToString()" href="#">
                                @Html.Raw(driver.Day1.DispDayDate)
                            </a>
                        }
                        else
                        {
                            @Html.Raw("N/A");
                        }
                    </td>
                    <td class="width9prcnt center">
                        @if (driver.Day2.CanDriverScheduleEditable && driver.Day2.DayWork != "N")
                        {
                            <a class="editDriverScheduleHours" data-driverId="@driver.PK_ID" data-driverfullname="@driver.FullName" data-date="@driver.Day2.ScheduleDate.ToString("MM/dd/yyyy")" data-status="@driver.Day2.UserFacilityAccessStatus.ToString()" href="#">
                                @Html.Raw(driver.Day2.DispDayDate)
                            </a>
                        }
                        else
                        {
                            @Html.Raw("N/A");
                        }
                    </td>
                    <td class="width9prcnt center">
                        @if (driver.Day3.CanDriverScheduleEditable && driver.Day3.DayWork != "N")
                        {
                            <a class="editDriverScheduleHours" data-driverId="@driver.PK_ID" data-driverfullname="@driver.FullName" data-date="@driver.Day3.ScheduleDate.ToString("MM/dd/yyyy")" data-status="@driver.Day3.UserFacilityAccessStatus.ToString()" href="#">
                                @Html.Raw(driver.Day3.DispDayDate)
                            </a>
                        }
                        else
                        {
                            @Html.Raw("N/A");
                        }
                    </td>
                    <td class="width9prcnt center">
                        @if (driver.Day4.CanDriverScheduleEditable && driver.Day4.DayWork != "N")
                        {
                            <a class="editDriverScheduleHours" data-driverId="@driver.PK_ID" data-driverfullname="@driver.FullName" data-date="@driver.Day4.ScheduleDate.ToString("MM/dd/yyyy")" data-status="@driver.Day4.UserFacilityAccessStatus.ToString()" href="#">
                                @Html.Raw(driver.Day4.DispDayDate)
                            </a>
                        }
                        else
                        {
                            @Html.Raw("N/A");
                        }
                    </td>
                    <td class="width9prcnt center">
                        @if (driver.Day5.CanDriverScheduleEditable && driver.Day5.DayWork != "N")
                        {
                            <a class="editDriverScheduleHours" data-driverId="@driver.PK_ID" data-driverfullname="@driver.FullName" data-date="@driver.Day5.ScheduleDate.ToString("MM/dd/yyyy")" data-status="@driver.Day5.UserFacilityAccessStatus.ToString()" href="#">
                                @Html.Raw(driver.Day5.DispDayDate)
                            </a>
                        }
                        else
                        {
                            @Html.Raw("N/A");
                        }
                    </td>
                    <td class="width9prcnt center">
                        @if (driver.Day6.CanDriverScheduleEditable && driver.Day6.DayWork != "N")
                        {
                            <a class="editDriverScheduleHours" data-driverId="@driver.PK_ID" data-driverfullname="@driver.FullName" data-date="@driver.Day6.ScheduleDate.ToString("MM/dd/yyyy")" data-status="@driver.Day6.UserFacilityAccessStatus.ToString()" href="#">
                                @Html.Raw(driver.Day6.DispDayDate)
                            </a>
                        }
                        else
                        {
                            @Html.Raw("N/A");
                        }
                    </td>
                    <td class="width9prcnt center">
                        @if (driver.Day7.CanDriverScheduleEditable && driver.Day7.DayWork != "N")
                        {
                            <a class="editDriverScheduleHours" data-driverId="@driver.PK_ID" data-driverfullname="@driver.FullName" data-date="@driver.Day7.ScheduleDate.ToString("MM/dd/yyyy")" data-status="@driver.Day7.UserFacilityAccessStatus.ToString()" href="#">
                                @Html.Raw(driver.Day7.DispDayDate)
                            </a>
                        }
                        else
                        {
                            @Html.Raw("N/A");
                        }
                    </td>
                    <td class="width8prcnt center" colspan="2">
                        @Html.Raw(driver.DispTotalWorkHours)
                    </td>
                </tr>
            }
            <tr class="driver-schedule-driverstatistics-head">
                <td colspan="4">
                    Driver Total Hours = Total Hours: Driver
                </td>
                <td class="center">
                    @Model.DriverScheduleSummary.Day1.DispWorkTime
                </td>
                <td class="center">
                    @Model.DriverScheduleSummary.Day2.DispWorkTime
                </td>
                <td class="center">
                    @Model.DriverScheduleSummary.Day3.DispWorkTime
                </td>
                <td class="center">
                    @Model.DriverScheduleSummary.Day4.DispWorkTime
                </td>
                <td class="center">
                    @Model.DriverScheduleSummary.Day5.DispWorkTime
                </td>
                <td class="center">
                    @Model.DriverScheduleSummary.Day6.DispWorkTime
                </td>
                <td class="center">
                    @Model.DriverScheduleSummary.Day7.DispWorkTime
                </td>
                <td class="center" colspan="2">
                    @Model.DriverScheduleSummary.Total.DispWorkTime
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="11">
                    No Drivers are available for this week...!
                </td>
            </tr>
        }
        @*<tr>
                <td colspan="11">&nbsp;</td>
            </tr>*@
        @Html.Partial("~/Views/DriverMaintenance/partial/_formTruckStatistics.cshtml")
    </tbody>
</table>