﻿@model PRFacAppWF.Entities.AddEditDriverViewModel
<div id="editDriverDetails">
    <label class="label">
        Reason
    </label>
    <span class="value">
        <div class="input-control">
            <select id="ddlEditDriverOptions" name="listbox" title="Select reason.">
                <option value="-1">--Select--</option>
                <option value="1">Edit Driver Information</option>
                <option value="2">Schedule Driver Hours</option>
                <option value="3">Rover - Temporary Facility Assignment</option>
                <option value="4">Relocation - Permanent Facility Assignment</option>
            </select>
        </div>
    </span>
</div>
<div class="driver-schedule-edit-from">
    @using (Html.BeginForm("#", "#", null, System.Web.Mvc.FormMethod.Post, new { id = "frmEditDriverDetails" }))
    {
        <div id="editDriverInformation">
        </div>
    }
    <div id="editDriverRover">
        @Html.Partial("~/Views/DriverMaintenance/partial/_formDriverRover.cshtml")        
    </div>
    <div id="editDriverTransfer">
        <div class="reason-head">TRANSFER DRIVER FROM&nbsp;<span id="lblTransferFacilityName">@Session["FacilityName"]</span> </div>
        <div>
            <ul class="form-list form-list-new">
                <li class="width36prcnt">
                    <span class="label-form">Send To</span>
                    <div class="clearfix"></div>
                    <span class="value">
                        <div class="input-control text">
                            <select class="span2" name="listbox" id="ddlDriverTransferPermFacilites" style="width: 100% !important" title="Select facility to transfer.">
                                <option value="-1">--Select--</option>
                                @foreach (var item in this.ViewBag.Facilities)
                                {
                                    <option value="@item.StoreRowID">@item.CompDBAName</option>
                                }
                            </select>
                        </div>
                    </span>
                </li>
                <div class="clear"></div>
                <li class="width56prcnt">
                    <span class="label-form">Available in <span id="lblDriverTransferPermArriveAt">Facility</span> On*</span>
                    <div class="clearfix"></div>
                    <span class="value">
                        <div class="input-control text span3 float-left">
                            <input type="text" value="" name="permanentDriverTransferDate" id="permanentDriverTransferDate" readonly="readonly" style="margin-right:0px" />
                            <button onclick="$('#permanentDriverTransferDate').val(''); return false;" class="helper" tabindex="-1" type="button"></button>
                        </div>
                        <div class="float-left mrgntop-8px" id="permanentDriverTransferDateIcon">
                            <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                        </div>
                    </span>
                    <div class="clearfix"></div>
                </li>
                <li class="width56prcnt">
                    <span class="black" id="dvDriverTransMessage"></span>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div id="editDriverScheduleHours">
        @Html.Partial("~/Views/DriverMaintenance/partial/_formDriverSchedule.cshtml", Model.WeeklySchedule)          
    </div>
    <div id="noneReasonDriverScheduleMsg" style="padding: 20px;">Please select any option from Reasons dropdown.</div>
</div>
<div class="clear"></div>