﻿@model PRFacAppWF.Entities.AddEditDriverViewModel
<div class="reason-head">EDIT DRIVER INFORMATION&nbsp;@Model.FAUserMaster.FirstName&nbsp;@Model.FAUserMaster.LastName</div>
<div>
    @Html.Partial("~/Views/DriverMaintenance/partial/_formAddDriverInformation.cshtml", Model.FAUserMaster)
    @Html.Partial("~/Views/DriverMaintenance/partial/_formAddDriverSecurity.cshtml", Model.FAUserMaster)
</div>
<div class="clear"></div>