﻿@using PRFacAppWF.Entities.UserManagement;
@using PRFacAppWF.Entities.DriverSchedule;
@*@model PRFacAppWF.Entities.UserManagement.FADTOUserMaster*@
<div class="driver-schedule-driverrover-list">
    <table class="tblDriverRoverFacilityList new-fixed-header">
        <thead>
            <tr>               
                <th>
                    Facility Name
                </th>
                <th class="width12prcnt">
                    Status
                </th>
                <th class="width12prcnt">
                    Start
                </th>
                <th class="width12prcnt">
                    End
                </th>
                <th class="width9prcnt">
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody id="tBodyDriverRoverFacilityList">
            @*@if (Model.DriverFacilityList.Count > 0)
            {
                foreach (DriverFacility driverFacility in Model.DriverFacilityList)
                {
                    @Html.Partial("~/Views/DriverMaintenance/partial/_formDriverFacility.cshtml", driverFacility)
                }
            }*@
        </tbody>
    </table>
</div>