﻿@using PRFacAppWF.Entities.UserManagement;
@using PRFacAppWF.Entities.DriverSchedule;
@model PRFacAppWF.Entities.UserManagement.FADTOUserMaster
<div class="add-driver-schedule" style="padding-bottom: 20px;">
    Associated Facilities
    @*<span class="float-right icon-driverfacility-add" data-countdriverfacility="@Model.DriverFacilityList.Count">
        <a id="addDriverSchedule" class="ui-state-default" href="#">Add Facilities</a>
    </span>*@
    <input id="addDriverSchedule" value="Add Facilities" title="Click to search." class="float-right icon-driverfacility-add" type="submit" style="font-size: 16px;background-color: #ea8e1a;">
</div>
<div class="driver-schedule-driverfacility-list">
    <table class="tblDriverFacilityList new-fixed-header">
        <thead>
            <tr>
                <th class="width9prcnt">
                    Facility
                </th>
                <th>
                    Facility Name
                </th>
                <th class="width12prcnt">
                    Status
                </th>
                <th class="width12prcnt">
                    Start
                </th>
                <th class="width12prcnt">
                    End
                </th>
                <th class="width9prcnt">
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody id="tBodyDriverFacilityList">
            @if (Model.DriverFacilityList.Count > 0)
            {
                foreach (DriverFacility driverFacility in Model.DriverFacilityList)
                {
                    @Html.Partial("~/Views/DriverMaintenance/partial/_formDriverFacility.cshtml", driverFacility)
                }
            }
        </tbody>
    </table>
</div>