﻿@using PRFacAppWF.Entities.UserManagement;
@model PRFacAppWF.Entities.DriverSchedule.DriverFacility
<tr id="DriverFacility_@(Model.Index)" data-rowindex="@(Model.Index)">
    <td class="width9prcnt center">
        <span id="DriverFacility[@Model.Index].StoreNoDisp">@(Model.StoreNo > 0 ? Model.StoreNo.ToString() : "")</span>
        <input type="hidden" id="DriverFacility[@Model.Index].UserFacilityID" name="DriverFacility[@Model.Index].UserFacilityID" value="@Model.UserFacilityID" />
        <input type="hidden" id="DriverFacility[@Model.Index].StoreRowID" name="DriverFacility[@Model.Index].StoreRowID" value="@Model.StoreRowID" />
        <input type="hidden" id="DriverFacility[@Model.Index].DFStatus" name="DriverFacility[@Model.Index].DFStatus" value="@Model.DFStatus" />
    </td>
    <td class="width12prcnt">
        <span class="viewData" id="DriverFacility[@Model.Index].FriendlyNameDisp">
            @Model.CompDBAName
        </span>
        <span class="editData hide input-control">
            <select id="DriverFacility[@Model.Index].StoreNo" name="DriverFacility[@Model.Index].StoreNo">
                @foreach (FADTOFacility df in Model.AccessableFacilityList)
                {
                    <option value="@df.StoreNo" data-storerowid="@df.StoreRowID" data-storeno="@df.StoreNo" data-dispstorename="@df.displayFacilityName" @(Model.StoreRowID == df.StoreRowID ? "selected" : string.Empty)>@df.displayFacilityName</option>
                }
            </select>
        </span>
    </td>
    <td class="width8prcnt">
        <span class="viewData" id="DriverFacility[@Model.Index].DAAccessLevelDisp">
            @Model.DAAccessLevel
        </span>
        <span class="editData hide input-control">
            <select id="DriverFacility[@Model.Index].DAAccessLevel" name="DriverFacility[@Model.Index].DAAccessLevel" class="dd-driverfacility-DAAccessLevel">
                <option value="@PRFacAppWF.Entities.Enums.AccessLevel.PrimaryFacility" data-displayname="PrimaryFacility" @(Model.DAAccessLevel == PRFacAppWF.Entities.Enums.AccessLevel.PrimaryFacility ? "selected" : string.Empty)>PrimaryFacility</option>
                <option value="@PRFacAppWF.Entities.Enums.AccessLevel.SecondaryFacility" data-displayname="SecondaryFacility" @(Model.DAAccessLevel == PRFacAppWF.Entities.Enums.AccessLevel.SecondaryFacility ? "selected" : string.Empty)>SecondaryFacility</option>
                <option value="@PRFacAppWF.Entities.Enums.AccessLevel.Rover" data-displayname="Rover" @(Model.DAAccessLevel == PRFacAppWF.Entities.Enums.AccessLevel.Rover ? "selected" : string.Empty)>Rover</option>
            </select>
        </span>
    </td>
    <td class="width12prcnt center">
        <span class="viewData" id="DriverFacility[@Model.Index].DriverStartDateDisp">@Model.DisplayDriverStartDate</span>
        <span class="editData hide input-control">
            <input class="txt-driverfacility-StartDate" type="text" value="@(Model.DriverStartDate.HasValue ? Model.DriverStartDate.Value.ToString("MM/dd/yyyy"):string.Empty)" name="DriverFacility[@Model.Index].DriverStartDate" id="DriverFacility[@Model.Index].DriverStartDate" readonly="readonly" title="Enter driver startdate." data-canedit="@Model.CanEditStartDate" style="margin-right: 0px; width: 73%; padding:0px;" />
            <img class="icon-driverfacility-StartDate" src="../Images/calendar-Icon.gif" id="DriverFacility[@Model.Index].DriverStartDateIcon" />
        </span>
    </td>
    <td class="width12prcnt center">
        <span class="viewData" id="DriverFacility[@Model.Index].DriverEndDateDisp">@Model.DisplayDriverEndDate</span>
        <span class="editData hide input-control">
            <input class="txt-driverfacility-EndDate" type="text" value="@(Model.DriverEndDate.HasValue ? Model.DriverEndDate.Value.ToString("MM/dd/yyyy"):string.Empty)" name="DriverFacility[@Model.Index].DriverEndDate" id="DriverFacility[@Model.Index].DriverEndDate" readonly="readonly" title="Enter driver enddate." data-canedit="@Model.CanEditEndDate" style="margin-right: 0px; width: 73%;padding:0px;" />
            <img class="icon-driverfacility-EndDate" src="../Images/calendar-Icon.gif" id="DriverFacility[@Model.Index].DriverEndDateIcon" />
        </span>
    </td>
    <td class="width9prcnt center">
        @if (Model.CanDelete)
        { 
            <span class="icon-driverfacility-delete" data-index="@Model.Index" style="margin-right:10px" ><img src="@Url.Content("~/Images/MediaLoot/icon_trash.png")" alt="Delete" style="width: 20px;" /></span>
        }
        @if (Model.CanEdit)
        {
            <span class="icon-driverfacility-edit" data-index="@Model.Index" ><img src="@Url.Content("~/Images/MediaLoot/icon_edit.png")" alt="Edit" style="width: 20px;" /></span>
            
        }
        <span class="icon-driverfacility-save hide" data-index="@Model.Index" style="margin-right:10px" ><img src="@Url.Content("~/Images/MediaLoot/icon_save.png")" alt="Save" style="width: 20px;" /></span>
        <span class="icon-driverfacility-cancel hide" data-index="@Model.Index"><img src="@Url.Content("~/Images/MediaLoot/icon_logout.png")" alt="Edit" style="width: 20px;" /></span>
    </td>
</tr>