﻿@using PRFacAppWF.Entities.UserManagement;
@using PRFacAppWF.Entities.DriverSchedule;
@model List<PRFacAppWF.Entities.DriverSchedule.DriverFacility>
@if (Model.Count > 0)
{
    foreach (DriverFacility driverFacility in Model)
    {
        <tr id="DriverFacility_@(driverFacility.Index)" data-rowindex="@(driverFacility.Index)">
            @*<td class="width9prcnt center">
                <span id="DriverFacility[@driverFacility.Index].StoreNoDisp">@(driverFacility.StoreNo > 0 ? driverFacility.StoreNo.ToString() : "")</span>                
            </td>*@
            <td class="width12prcnt">
                <input type="hidden" id="DriverFacility[@driverFacility.Index].DriverId" name="DriverFacility[@driverFacility.Index].DriverId" class="driverroverfacility-driverid" value="@driverFacility.DriverId" />
                <input type="hidden" id="DriverFacility[@driverFacility.Index].UserFacilityID" name="DriverFacility[@driverFacility.Index].UserFacilityID" class="driverroverfacility-userfacilityid" value="@driverFacility.UserFacilityID" />
                <input type="hidden" id="DriverFacility[@driverFacility.Index].StoreRowID" name="DriverFacility[@driverFacility.Index].StoreRowID" value="@driverFacility.StoreRowID" />
                <input type="hidden" id="DriverFacility[@driverFacility.Index].DFStatus" name="DriverFacility[@driverFacility.Index].DFStatus" value="@driverFacility.DFStatus" />
                 <span class="viewData" id="DriverFacility[@driverFacility.Index].FriendlyNameDisp">
                    @driverFacility.CompDBAName
                </span>
                <span class="editData hide input-control">
                    <select id="DriverFacility[@driverFacility.Index].StoreNo" name="DriverFacility[@driverFacility.Index].StoreNo" class="driverroverfacility-storerowid">
                        @foreach (FADTOFacility df in driverFacility.AccessableFacilityList)
                        {
                            <option value="@df.StoreNo" data-storerowid="@df.StoreRowID" data-storeno="@df.StoreNo" data-dispstorename="@df.displayFacilityName" @(driverFacility.StoreRowID == df.StoreRowID ? "selected" : string.Empty)>@df.displayFacilityName</option>
                        }
                    </select>
                </span>
            </td>
            <td class="width8prcnt">
                <span id="DriverFacility[@driverFacility.Index].DAAccessLevelDisp">
                    @driverFacility.DAAccessLevel
                </span>
            </td>
            <td class="width12prcnt center">
                <span class="viewData" id="DriverFacility[@driverFacility.Index].DriverStartDateDisp">@driverFacility.DisplayDriverStartDate</span>
                <span class="editData hide input-control">
                    <input class="txt-driverroverfacility-StartDate driverroverfacility-driverstartdate" type="text" value="@(driverFacility.DriverStartDate.HasValue ? driverFacility.DriverStartDate.Value.ToString("MM/dd/yyyy") : string.Empty)" name="DriverFacility[@driverFacility.Index].DriverStartDate" id="DriverFacility[@driverFacility.Index].DriverStartDate" readonly="readonly" title="Enter driver startdate." data-canedit="@driverFacility.CanEditStartDate" style="margin-right: 0px; width: 73%; padding:0px;" />
                    <img class="icon-driverroverfacility-StartDate" src="../Images/calendar-Icon.gif" id="DriverFacility[@driverFacility.Index].DriverStartDateIcon" />
                </span>
            </td>
            <td class="width12prcnt center">
                <span class="viewData" id="DriverFacility[@driverFacility.Index].DriverEndDateDisp">@driverFacility.DisplayDriverEndDate</span>
                <span class="editData hide input-control">
                    <input class="txt-driverroverfacility-EndDate driverroverfacility-driverenddate" type="text" value="@(driverFacility.DriverEndDate.HasValue ? driverFacility.DriverEndDate.Value.ToString("MM/dd/yyyy") : string.Empty)" name="DriverFacility[@driverFacility.Index].DriverEndDate" id="DriverFacility[@driverFacility.Index].DriverEndDate" readonly="readonly" title="Enter driver enddate." data-canedit="@driverFacility.CanEditEndDate" style="margin-right: 0px; width: 73%;padding:0px;" />
                    <img class="icon-driverroverfacility-EndDate" src="../Images/calendar-Icon.gif" id="DriverFacility[@driverFacility.Index].DriverEndDateIcon" />
                </span>
            </td>
            <td class="width9prcnt center">
                <span class="icon-driverroverfacility-save hide" data-index="@driverFacility.Index" style="margin-right:10px; padding: 0px 15px;"><img src="@Url.Content("~/Images/MediaLoot/icon_save.png")" alt="Save" style="width: 20px;" /></span>
                <span class="icon-driverroverfacility-cancel hide" data-index="@driverFacility.Index" style="padding: 0px 15px;"><img src="@Url.Content("~/Images/MediaLoot/icon_logout.png")" alt="Cancel" style="width: 20px;" /></span>
                @if (driverFacility.CanDelete)
                {
                    <span class="icon-driverroverfacility-delete" data-index="@driverFacility.Index" style="margin-right:10px; padding: 0px 15px;"><img src="@Url.Content("~/Images/MediaLoot/icon_trash.png")" alt="Delete" style="width: 20px;" /></span>
                }
                @if (driverFacility.CanEdit)
                {
                    <span class="icon-driverroverfacility-edit" data-index="@driverFacility.Index" style=" padding: 0px 15px;"><img src="@Url.Content("~/Images/MediaLoot/icon_edit.png")" alt="Edit" style="width: 20px;" /></span>
                }
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="6">
            <div style="padding: 20px;">No Rover records found in the system for this driver.</div>
        </td>
    </tr>
}