﻿@using PRFacAppWF.Entities;
<div>
    <ul class="form-list form-list-new form-list-newdriver" style="margin-top: 0%;">
        <li class="width36prcnt">
            <span class="label-form">Send To</span>
            <div class="clearfix"></div>
            <span class="value">
                <div class="input-control text">
                    <select class="span2" name="listbox" id="ddlDriverRoverFacilites" style="width: 100% !important" title="Select facility to transfer.">
                        <option value="-1">--Select--</option>
                        @foreach (var item in this.ViewBag.Facilities)
                        {
                            <option value="@item.StoreRowID">@item.CompDBAName</option>
                        }
                    </select>
                </div>
            </span>
        </li>
        <div class="clear"></div>
        <li class="width48prcnt">
            <span class="label-form">Available in <span id="lblDriverRoverSendTo">Facility</span> On*</span>
            <div class="clearfix"></div>
            <span class="value">
                <div class="input-control text span3 float-left">
                    <input type="text" value="" name="driverRoverSendToDate" id="driverRoverSendToDate" readonly="readonly" style="margin-right:0px" />
                    <button onclick="$('#driverRoverSendToDate').val(''); return false;" class="helper" tabindex="-1" type="button"></button>
                </div>
                <div class="float-left mrgntop-8px" id="driverRoverSendToDateIcon">
                    <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                </div>
                <div class="clearfix"></div>
                <span class="black driverinfo-hinttext" id="dvDriverRoverMessage"></span>
            </span>
        </li>
        <li class="width48prcnt">
            <span class="label-form">Back in <span id="lblDriverRoverBackOn">@Session["FacilityName"]</span></span>
            <div class="clearfix"></div>
            <span class="value">
                <div class="input-control text span3 float-left">
                    <input type="text" value="" name="driverRoverBackOnDate" id="driverRoverBackOnDate" readonly="readonly" style="margin-right:0px" />
                    <button onclick="$('#driverRoverBackOnDate').val(''); return false;" class="helper" tabindex="-1" type="button"></button>
                </div>
                <div class="float-left mrgntop-8px" id="driverRoverBackOnDateIcon">
                    <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                </div>
                <div class="clear"></div>
                <span class="black driverinfo-hinttext" id="dvDriverRoverToMessage"></span>
            </span>
        </li>
    </ul>
</div>