﻿@model List<PRFacAppWF.Entities.UserManagement.FADTOUserMaster>
<div class="info_box">
    <div style="float: left;"><img src="/Images/MediaLoot/info-c.png" style="width: 50px;height: 50px;"></div>
    <div style="padding-left: 60px;">
        <span style="font-size:17px; font-weight:bold;">The Last Name Entered Matches Previous and/or Current Users!</span><br />
        <span style="font-size:14px; font-weight:bolder;">
            Click the radial button next to the matching name and then click next to continue.  Otherwise, just click next to create a new user.
            <br />
            If you are unable to click on your name, please contact the helpdesk.
        </span>
    </div>
</div>
<table class="border tblDriverScheduleHrs" id="tblDuplicateDrivers">
    <tbody>
        <tr>
            <th class="width30px">
                &nbsp;
            </th>            
            <th>
                @Html.Raw("FirstName")
            </th>
            <th>
                @Html.Raw("LastName")
            </th>
            <th>
                @Html.Raw("Username")
            </th>
            <th class="width9prcnt">
                @Html.Raw("Primary Facility")
            </th>
            <th class="width9prcnt">
                @Html.Raw("Effective Date")
            </th>
            <th class="width9prcnt">
                @Html.Raw("Status")
            </th>
        </tr>
    </tbody>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var user in Model)
            {
                <tr style="@(user.IsDriverApp == false ? "background-color: #bde5f8;" : "")">
                    <td class="width30px center">
                        @if (user.IsDriverApp)
                        {
                            var primaryFacility = user.PrimaryFacility == null ? new PRFacAppWF.Entities.UserManagement.FADTOFacility() : user.PrimaryFacility;
                            @Html.RadioButton("UserID", "NO", new { @datadriverid = user.PK_UserId,
                           @datadriverfirstname = user.FirstName,
                           @datadriverlastname = user.LastName,
                           @dataprimaryfacilityname = primaryFacility.CompDBAName,
                           @dataprimaryfacilitystoreno = primaryFacility.StoreNo,
                           @datacanuseredit = (PRFacAppWF.CodeHelpers.Helper.CurrentSiteInfo.GlobalSiteNum.ToString() == primaryFacility.StoreNo.ToString()) })
                        }
                    </td>
                    <td>
                        @Html.Raw(user.FirstName)
                    </td>
                    <td>
                        @Html.Raw(user.LastName)
                    </td>
                    <td>
                        @Html.Raw(user.Username)
                    </td>
                    <td class="width12prcnt">
                        @if (user.PrimaryFacility != null)
                        {
                            @Html.Raw(user.PrimaryFacility.FriendlyName)
                        }
                        else
                        {
                            @Html.Raw("N/A")
                        }
                    </td>
                    <td class="width12prcnt center">
                        @if (user.PrimaryFacility != null)
                        {  
                            @Html.Raw(user.PrimaryFacility.DriverStartDate.Value.ToShortDateString())
                        }
                        else
                        {
                            @Html.Raw("N/A")
                        }
                    </td>
                    <td class="width9prcnt center">
                        @Html.Raw(user.StatusName)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    @Html.Raw("No matching users found in the system. Please continue creating new driver.")
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="clearfix"></div>
