﻿@using PRFacAppWF.Entities;
@*@model PRFacAppWF.Entities.DriversListViewModel*@
@*<div id="DriverSelection">
    <label class="label">
        Driver
    </label>
    <span class="value">
        <div class="input-control">    
            <select name="listbox" id="ddlDriversList" title="Select reason.">
            </select>
        </div>
    </span>
</div>*@
<div class="">
    <div id="driverScheduleHourChange" class="cust-grid-jqgrid">
        <table id="list" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="listPager" class="scroll" style="text-align: center;">
        </div>
        <div id="listPsetcols" class="scroll" style="text-align: center;">
        </div>
        <div class="clear">
        </div>
    </div>
</div>