﻿@using PRFacAppWF.Entities;
@using PRFacAppWF.models;
@model PRFacAppWF.Entities.DriversListViewModel
<tr class="driver-schedule-driverstatistics-head">
    <td colspan="4">
        <a href="@Url.Action("TruckOpHours", "TruckStatus")">Total Hours: Available Trucks</a>&nbsp;<a class="driver-schedule-truckstatistics"><img src="@Url.Content("/Content/css/images/icon-plus.gif")" data-togglesrc="@Url.Content("/Content/css/images/icon-minus.gif")" alt="+" /></a>
    </td>
    <td class="center">
        @Html.Raw(Model.TruckHoursSummary.oDay1.DispTruckOpHours)
    </td>
    <td class="center">
        @Html.Raw(Model.TruckHoursSummary.oDay2.DispTruckOpHours)
    </td>
    <td class="center">
        @Html.Raw(Model.TruckHoursSummary.oDay3.DispTruckOpHours)
    </td>
    <td class="center">
        @Html.Raw(Model.TruckHoursSummary.oDay4.DispTruckOpHours)
    </td>
    <td class="center">
        @Html.Raw(Model.TruckHoursSummary.oDay5.DispTruckOpHours)
    </td>
    <td class="center">
        @Html.Raw(Model.TruckHoursSummary.oDay6.DispTruckOpHours)
    </td>
    <td class="center">
        @Html.Raw(Model.TruckHoursSummary.oDay7.DispTruckOpHours)
    </td>
    <td class="center" colspan="2">
        @Html.Raw(Model.TruckHoursSummary.Total.DispTruckOpHours)
    </td>
</tr>
@foreach (FacilityCapacity truckInfo in Model.TrucksHours)
{
    <tr class="truck-totalhours hide">
        <td colspan="4">
            &nbsp;&nbsp;&nbsp;&nbsp;@Html.Raw(truckInfo.Head)
        </td>
        <td class="center">
            @Html.Raw(truckInfo.oDay1.DayDisplayValue)
        </td>
        <td class="center">
            @Html.Raw(truckInfo.oDay2.DayDisplayValue)
        </td>
        <td class="center">
            @Html.Raw(truckInfo.oDay3.DayDisplayValue)
        </td>
        <td class="center">
            @Html.Raw(truckInfo.oDay4.DayDisplayValue)
        </td>
        <td class="center">
            @Html.Raw(truckInfo.oDay5.DayDisplayValue)
        </td>
        <td class="center">
            @Html.Raw(truckInfo.oDay6.DayDisplayValue)
        </td>
        <td class="center">
            @Html.Raw(truckInfo.oDay7.DayDisplayValue)
        </td>
        <td class="center" colspan="2">
            @Html.Raw(truckInfo.Total.DispTruckOpHours)
        </td>
    </tr>
}
<tr class="driver-schedule-driverstatistics-head">
    <td colspan="4">
        Truck Hours - Driver Hours
    </td>
    <td class="center" style="@(Model.DifTruckDriverHours.Day1DiffTruckDriver < 0 ? "color:red;" : "")">
        @Html.Raw(Model.DifTruckDriverHours.Day1DiffTruckDriverDisp)
    </td>
    <td class="center" style="@(Model.DifTruckDriverHours.Day2DiffTruckDriver < 0 ? "color:red;" : "")">
        @Html.Raw(Model.DifTruckDriverHours.Day2DiffTruckDriverDisp)
    </td>
    <td class="center" style="@(Model.DifTruckDriverHours.Day3DiffTruckDriver < 0 ? "color:red;" : "")">
        @Html.Raw(Model.DifTruckDriverHours.Day3DiffTruckDriverDisp)
    </td>
    <td class="center" style="@(Model.DifTruckDriverHours.Day4DiffTruckDriver < 0 ? "color:red;" : "")">
        @Html.Raw(Model.DifTruckDriverHours.Day4DiffTruckDriverDisp)
    </td>
    <td class="center" style="@(Model.DifTruckDriverHours.Day5DiffTruckDriver < 0 ? "color:red;" : "")">
        @Html.Raw(Model.DifTruckDriverHours.Day5DiffTruckDriverDisp)
    </td>
    <td class="center" style="@(Model.DifTruckDriverHours.Day6DiffTruckDriver < 0 ? "color:red;" : "")">
        @Html.Raw(Model.DifTruckDriverHours.Day6DiffTruckDriverDisp)
    </td>
    <td class="center" style="@(Model.DifTruckDriverHours.Day7DiffTruckDriver < 0 ? "color:red;" : "")">
        @Html.Raw(Model.DifTruckDriverHours.Day7DiffTruckDriverDisp)
    </td>
    <td class="center" style="@(Model.DifTruckDriverHours.TotalDiffTruckDriver < 0 ? "color:red;" : "")" colspan="2">
        @Html.Raw(Model.DifTruckDriverHours.TotalDiffTruckDriverDisp)
    </td>
</tr>
