﻿@model PRFacAppWF.Entities.UserManagement.FADTOUserMaster
    <ul class="form-list form-list-new form-list-newdriver" style="margin-top: 0%;">
        <li class="width48prcnt">
            <span class="label-form">
                @Html.LabelFor(m => m.FirstName)
            </span>
            <div class="clearfix"></div>
            <span class="value">
                <div class="input-control text ">
                    @Html.TextBoxFor(m => m.FirstName, new { id = "driverFirstName" })
                    @Html.HiddenFor(m => m.PK_UserId)
                </div>
            </span>
        </li>
        <li class="width48prcnt">
            <span class="label-form">
                @Html.LabelFor(m => m.LastName)
            </span>
            <div class="clearfix"></div>
            <span class="value">
                <div class="input-control text ">
                    @Html.TextBoxFor(m => m.LastName, new { id = "driverLastName" })
                </div>
            </span>
        </li>
        <li class="width48prcnt" style="clear:both;">
            <span class="label-form">
                @Html.LabelFor(m => m.EmailAddress)
            </span>
            <div class="clearfix"></div>
            <span class="value">
                <div class="input-control text ">
                    @Html.TextBoxFor(m => m.EmailAddress, new { id = "driverEmail" })
                </div>
            </span>
        </li>
        @*<li class="width48prcnt">
            <span class="label-form">
                @Html.LabelFor(m => m.PrimaryFacilityID)
            </span>
            <div class="clearfix"></div>
            <span class="value">
                <div class="input-control text ">
                    @Html.DropDownListFor(m => m.PrimaryFacilityID, Model.SLItemAccessableFacilityList, "Select Primary Facility")
                </div>
            </span>
        </li>*@
        @*<li class="width48prcnt">
            <span class="label-form">
                @Html.LabelFor(m => m.StartDate)
            </span>
            <div class="clearfix"></div>
            <span class="value">
                <div class="input-control text ">
                    <input type="text" value="@DateTime.Now.ToShortDateString()" name="StartDate" id="driverAddStartDate" readonly="readonly" title="Enter date to search records." style="margin-right: 0px; width: 80%;" />
                    <img src="../Images/calendar-Icon.gif" id="driverAddStartDateIcon" />
                </div>
            </span>
        </li>*@ 
        <li class="width48prcnt">          
        </li>             
        <li class="width48prcnt">
            <span class="label-form">
                @Html.LabelFor(m => m.LicenseClassID)
            </span>
            <div class="clearfix"></div>
            <span class="value">
                <div class="input-control text ">
                    @Html.DropDownListFor(m => m.LicenseClassID, Model.SLItemLicenseClassList, "Select License Class")
                </div>
            </span>
        </li>
         <li class="width48prcnt">
            <span class="label-form">
                @Html.LabelFor(m => m.StatusID)
            </span>
            <div class="clearfix"></div>
            <span class="value">
                <div class="input-control text ">
                    @Html.DropDownListFor(m => m.StatusID, Model.SLItemStatusList, "Select Status")
                </div>
            </span>
        </li>
        <li class="width56prcnt">            
            <div class="clearfix"></div>
            <span class="value">
                <div class="input-control text error" id="divError">
                    <label id="lblError"></label>
                </div>
            </span>
        </li>
    </ul>
<div class="clearfix"></div>