﻿@model PRFacAppWF.Entities.UserManagement.FADTOUserMaster
<ul class="form-list form-list-new form-list-newdriver" style="margin-top: 0%;">
    <li class="width100prcnt">
        <span class="label-form">
            Username
        </span>
        <div class="clearfix"></div>
        <span class="value">
            <div class="input-control text ">
                <div class="width100prcnt" style="@(Model.PK_UserId > 0 ? "float:left;": string.Empty)">
                    @if (Model.PK_UserId > 0)
                    {
                        @Html.TextBoxFor(m => m.Username, new { @id = "txtUserName", @disabled = "disabled", @style = "margin-right: 0px; height:34px;", @class="width48prcnt" })
                        <input id="hfCheckBtnClicked" value="true" type="hidden" />
                        <div class="driverinfo-hinttext" style="padding-top: 6px;">* To update or make changes to the existing username please contact at <a href="mailto:helpdesk@1800packrat.com?subject=Update Driver Username Request">helpdesk@1800packrat.com</a></div>
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.Username, new { @id = "txtUserName", @style = "margin-right: 0px; height:34px;", @class = "width48prcnt" })
                        <input id="hfCheckBtnClicked" value="false" type="hidden" />
                    }
                </div>
                @*@if (Model.PK_UserId == 0)
                {
                    <div><input id="btnCheckUsernameAvailable" value="Check" title="Click to search." type="submit"></div>
                }*@
            </div>
        </span>
    </li>
    <li class="width100prcnt">
        <span class="label-form" id="hdrSuggestUserName" style="display:none;float:left;font-size: 18px !important;">
            Available:
        </span>
        <div class="value" id="suggestedName" style="padding-left:10px;padding-top:2px;">
        </div>
    </li>
    <li class="width48prcnt">
        <span class="label-form">
            Password
        </span>
        <div class="clearfix"></div>
        <span class="value">
            <div class="input-control text">
                @*<input id="txtPassword" type="password" name="Password" />*@
                @Html.TextBoxFor(m => m.Password, new { @id = "txtPassword"@*, @type = "password"*@ })
            </div>
        </span>
    </li>    
    <li class="width100prcnt" style="display: @(Model.PK_UserId > 0 ? "none": "block")">
        <div style="visibility:hidden;" id="imgUserNameNotAvailable">
            <span class="value">
                <div style="float:left;"><img src="~/Images/red_x_mark.png" style="height:30px; width:25px" /></div> <label style="color:red; margin-left:10px; padding-top:4px;">Someone already has that username. Please select from the suggested usernames above or try again.</label>
            </span>
        </div>
        <div style="visibility:hidden;" id="imgUserNameAvailable">
            <span class="value">
                <div style="float:left;"><img src="~/Images/tick_green.png" style="height:30px; width:30px" /></div><label style="color:green;margin-left:10px; padding-top:4px;">User name available.</label>
            </span>
        </div>
    </li>
    <li class="width48prcnt">
        <div class="clearfix"></div>
        <span class="value">
            <div class="input-control text error" id="divError">
                <label id="lblDriverSecurityError"></label>
            </div>
        </span>
    </li>
</ul>