﻿@using PRFacAppWF.Entities;
@model PRFacAppWF.Entities.DriverSchedule.WeeklySchedule
<div class="">
    <ul class="form-list form-list-new form-list-newdriver" style="margin-top: 0%;">
        <li class="width23prcnt">
            <span class="label-form">
                <label class="label">
                    Schedule By
                </label>
            </span>
            <div class="clearfix"></div>
            <span class="value">
                <div class="input-control">
                    <select id="ddlWeeklyDriverScheduleType" name="ddlWeeklyDriverScheduleType" title="Driver Schedule By">
                        <option value="-1" data-durationdays="365">Custom</option>
                        <option value="1" data-durationdays="6">Week</option>
                        <option value="2" data-durationdays="30">Month</option>
                        <option value="3" data-durationdays="365">Year</option>
                    </select>
                </div>
            </span>
        </li>
        <li class="width23prcnt">
            <span class="label-form">
                @Html.LabelFor(m => m.WeeklyScheduleFromDate)
            </span>
            <div class="clearfix"></div>
            <span class="value">
                <div class="input-control text">
                    @Html.TextBoxFor(m => m.WeeklyScheduleFromDate, "{0:MM/dd/yyyy}", new { @readonly = "readonly", @title = "Please select from date to schedule driver hours", @style = "margin-right: 0px; width: 80%;", @value = Model.WeeklyScheduleFromDate.ToShortDateString() })
                    <img src="../Images/calendar-Icon.gif" id="FromDateIcon" />
                </div>
            </span>
        </li>
        <li class="width23prcnt">
            <span class="label-form">
                @Html.LabelFor(m => m.WeeklyScheduleToDate)
            </span>
            <div class="clearfix"></div>
            <span class="value">
                <div class="input-control text ">
                    @Html.TextBoxFor(m => m.WeeklyScheduleToDate, "{0:MM/dd/yyyy}", new { @readonly = "readonly", @title = "Please select to-date to schedule driver hours", @style = "margin-right: 0px; width: 80%;", @value = Model.WeeklyScheduleToDate.ToLongDateString() })
                    <img src="../Images/calendar-Icon.gif" id="ToDateIcon" />
                </div>
            </span>
        </li>
        <li class="width23prcnt">
            <input id="addDriverWeeklySchedule" value="Add Driver Schedule Time Slot" title="Click to add new record." class="icon-driverfacility-add driver-schedule-addweeklyschedule" type="submit">
            @*<input id="addDriverWeeklySchedule" value="Add Record" title="Click to add new record." class="icon-driverfacility-add" type="submit" style="width: 200px; font-size: 16px;">*@
        </li>
    </ul>
    @*<div class="clear"></div>
        <div class="add-driver-schedule" style="padding-bottom: 20px;">
            DRIVER SCHEDULE
            <input id="addDriverWeeklySchedule" value="Add Record" title="Click to add new record." class="place-right icon-driverfacility-add" type="submit" style="width: 200px; font-size: 16px;">
        </div>*@
    <div class="clear"></div>
    <div class="driver-schedule-driverweeklyschedule">
        <table class="tblDriverWeeklySchedule new-fixed-header">
            <thead>
                <tr>
                    <th class="width150px">
                        Start Time
                    </th>
                    <th class="width150px">
                        End Time
                    </th>
                    <th class="width150px">
                        Status
                    </th>
                    <th class="width130px">
                        Total Hours
                    </th>
                    <th class="width30px">
                        Open
                    </th>
                    <th class="width6prcnt">
                        Sun
                    </th>
                    <th class="width6prcnt">
                        Mon
                    </th>
                    <th class="width6prcnt">
                        Tue
                    </th>
                    <th class="width6prcnt">
                        Wed
                    </th>
                    <th class="width6prcnt">
                        Thu
                    </th>
                    <th class="width6prcnt">
                        Fri
                    </th>
                    <th class="width6prcnt">
                        Sat
                    </th>
                </tr>
            </thead>
            <tbody id="tBodyDriverWeeklyScheduleHours" data-maxrowindex="-1"></tbody>
        </table>
    </div>
    <table class="tblDriverWeeklySchedule-summary">
        <tfoot id="tFootDriverWeeklyScheduleHours" class="tablewithnewfooter">            
            <tr><td class="summaryhead" colspan="12">Summary</td></tr>
            <tr class="summary-starttime-row">
                <td colspan="5" class="rowhead">Start Time</td>
                <td class="center width6prcnt"><span class="sunday">-</span></td>
                <td class="center width6prcnt"><span class="monday">-</span></td>
                <td class="center width6prcnt"><span class="tuesday">-</span></td>
                <td class="center width6prcnt"><span class="wednesday">-</span></td>
                <td class="center width6prcnt"><span class="thursday">-</span></td>
                <td class="center width6prcnt"><span class="friday">-</span></td>
                <td class="center width6prcnt"><span class="saturday">-</span></td>
            </tr>
            <tr class="summary-endtime-row">
                <td class="rowhead" colspan="5">End Time</td>
                <td class="center width6prcnt"><span class="sunday">-</span></td>
                <td class="center width6prcnt"><span class="monday">-</span></td>
                <td class="center width6prcnt"><span class="tuesday">-</span></td>
                <td class="center width6prcnt"><span class="wednesday">-</span></td>
                <td class="center width6prcnt"><span class="thursday">-</span></td>
                <td class="center width6prcnt"><span class="friday">-</span></td>
                <td class="center width6prcnt"><span class="saturday">-</span></td>
            </tr>
            <tr class="summary-totaltime-row">
                <td class="rowhead" colspan="5">Total</td>
                <td class="center width6prcnt"><span class="sunday">-</span></td>
                <td class="center width6prcnt"><span class="monday">-</span></td>
                <td class="center width6prcnt"><span class="tuesday">-</span></td>
                <td class="center width6prcnt"><span class="wednesday">-</span></td>
                <td class="center width6prcnt"><span class="thursday">-</span></td>
                <td class="center width6prcnt"><span class="friday">-</span></td>
                <td class="center width6prcnt"><span class="saturday">-</span></td>
            </tr>
        </tfoot>
    </table>
</div>