﻿@using PRFacAppWF.Entities;
@*@model PRFacAppWF.Entities.DriverSchedule.WeeklySchedule*@
@*<div class="reason-head">DRIVER ROVER</div>*@
<div id="editDriverRoverFacilityTabs">
    <ul>
        <li><a href="#addrover-driver-schedule">ADD ROVER ENTRY</a></li>
        <li><a href="#editrover-driver-schedule">VIEW/EDIT ROVER ENTRIES</a></li>
    </ul>
    <div id="addrover-driver-schedule">        
        @Html.Partial("~/Views/DriverMaintenance/partial/_formDriverRoverAdd.cshtml")
        <div class="clear"></div>
    </div>
    <div id="editrover-driver-schedule">
        @Html.Partial("~/Views/DriverMaintenance/partial/_formDriverRoverFacilities.cshtml")
        <div class="clear"></div>
    </div>
</div>