﻿@using PRFacAppWF.Entities;
@model PRFacAppWF.Entities.DriverSchedule.WeeklySchedule
@*<div class="reason-head">DRIVER SCHEDULE</div>*@
<div id="editDriverScheduleHoursTabs">
    <ul>
        <li><a href="#weekly-driver-schedule">WEEKLY SCHEDULE</a></li>
        <li><a href="#daywise-driver-schedule">DAILY SCHEDULE</a></li>
    </ul>
    <div id="weekly-driver-schedule">
        @using (Html.BeginForm("#", "#", null, System.Web.Mvc.FormMethod.Post, new { id = "frmAddEditDriverScheduleHours" }))
        {
            @Html.Partial("~/Views/DriverMaintenance/partial/_formDriverWeeklySchedule.cshtml", Model)
        }
        <div class="clear"></div>
    </div>
    <div id="daywise-driver-schedule">
        @Html.Partial("~/Views/DriverMaintenance/partial/_formDriverDayWiseSchedule.cshtml")
        <div class="clear"></div>
    </div>
</div>