﻿@using PRFacAppWF.models;
<table class="border tblCCList" id="fixTable">
    <thead id="tblHead">
        <tr>
            <th onclick="javascript:SortColumn('FacilityId');" class="width12prcnt center" style="text-align:center; cursor:pointer;">
                @Html.Raw("Store")
                <span><img id="ImageFacilityId" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('Facility');" class="width22prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("Facility")
                <span><img id="ImageFacility" src="/Images/up-arrow.png" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('State');" class="width16prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("State")
                <span><img id="ImageState" src="/Images/up-arrow.png" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('AvgMPH');" class="width16prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("MPH")
                <span><img id="ImageAvgMPH" src="/Images/up-arrow.png" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('Startdate');" class="width22prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("Effective Date")
                <span><img id="ImageStartdate" src="/Images/up-arrow.png" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('Nextdate');" class="width22prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("Next Date")
                <span><img id="ImageNextdate" src="/Images/up-arrow.png" style="display: none; width: 12px;" /></span>
            </th>
        </tr>
    </thead>
    <tbody id="divAverageMPH"></tbody>
</table>

