﻿@using PRFacAppWF.models
@model List<PRFacAppWF.models.AverageMPH>

    @if (Model.Count > 0)
    {
        string apParam = string.Empty;
        AverageMPH corpRow = Model[0];
        <tr id="hdCorpRow">
            <td class="center">
                @Html.Raw(corpRow.FacilityId == 0 ? "" : corpRow.FacilityId.ToString())
            </td>
            <td>
                @if (corpRow.FacilityName != apParam)
                {
                    <a title="Click to edit." onclick='showCorporatePopup(@corpRow.FacilityId); return false;' href="#">@corpRow.FacilityName</a>
                }
            </td>
            <td class="center" style="text-align:center;">
                @Html.Raw(corpRow.State)
            </td>
            <td class="center" style="text-align:center;">
                @Html.Raw(corpRow.AvgMPH.ToString())
            </td>
            <td class="center" style="text-align:center;">
                @Html.Raw(corpRow.Startdate.HasValue ? corpRow.Startdate.Value.ToShortDateString() : "-")
            </td>
            <td class="center" style="text-align:center;">
                @Html.Raw(corpRow.Nextdate.HasValue ? corpRow.Nextdate.Value.ToShortDateString() : "-")
            </td>
        </tr>
        
        for (int index = 1; index < Model.Count(); index++)
        {
            AverageMPH asInfo = Model[index];
            <tr>
                <td class="center">
                    @Html.Raw(asInfo.FacilityId == 0 ? "" : asInfo.FacilityId.ToString())
                </td>
                <td>
                    @if (asInfo.FacilityName != apParam)
                    {
                        <a title="Click to edit." onclick='showAveragaeMPHPopup(@asInfo.FacilityId); return false;' href="#">@asInfo.FacilityName</a>
                    }
                </td>
                <td class="center">
                    @Html.Raw(asInfo.State)
                </td>
                <td class="center">
                    @Html.Raw(asInfo.Startdate.HasValue ? asInfo.AvgMPH.ToString() : "-")
                </td>
                <td class="center">
                    @Html.Raw(asInfo.Startdate.HasValue ? asInfo.Startdate.Value.ToShortDateString() : "-")
                </td>
                <td class="center">
                    @Html.Raw(asInfo.Nextdate.HasValue ? asInfo.Nextdate.Value.ToShortDateString() : "-")
                </td>
            </tr>
             apParam = asInfo.FacilityId.ToString();
        }
    }
    else
    {
        <tr>
            <td colspan="4">
                Average MPH are not available...!
            </td>
        </tr>
    }
