﻿<!--SFERP-TODO-CTRMV -- Remove this page completely --TG-563 -->

@using PRFacAppWF.models;
@model PRFacAppWF.models.UnitMaintenanceDetails
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .modalBackground {
        background-color: Gray;
        filter: alpha(opacity=70);
        opacity: 0.7;
    }

    .addmore-section {
        display: none;
    }
</style>

@*Body part*@
<div id="progress" class="progress" style="display: none;">
    <div onload="$(this).FadeIn(200);">
    </div>
    <img src="../Images/preloader-w8-line-black.gif" id="process" />
</div>
@using (Html.BeginForm("Index", "UnitMaintenance", null, System.Web.Mvc.FormMethod.Post, new { id = "UnitMaintenanceForm", onsubmit = "return ValidateForm();" }))
{
    @Html.HiddenFor(model => model.UMUnitId)
    <input type="hidden" value="@Session["FacilityName"]" id="CurrentFacilityName" name="CurrentFacilityName" />
    <div class="page-region-content">
        <div class="form-panel">
            <!--header image starts-->
            <h2>
                <span class="back-arrow">
                    <a href="../Dashboard.aspx">
                        <img src="../Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                    </a>
                </span>
                <img src="../Images/Driver.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                <div class="h-title">
                    <span style="float: left; font-size: 9pt; text-transform: uppercase;">Unit</span><br />
                    <span style="float: left;">Maintenance Entry</span>
                </div>
                <div class="clearfix"></div>
            </h2>
            @Html.ValidationSummary(false)
            <div class="clearfix"></div>
            <!--header image ends-->
            <!--pivot item starts -->
            <div class="metro-pivot touch-info-page">
                <div class="pivot-item">
                    <div class="tiltepanel" style="padding: 20px;">
                        <h4 class="title-h4">Enter Unit Maintenance Details</h4>
                        <div class="float-right txt-align-rgt">
                            <a href="@Url.Action("List", "UnitMaintenance")" style="color: #333;">
                                <img src="../Images/search-icon.jpg" width="17" height="15" alt="" style="margin: 0px 2px -3px 0" />Search Unit Maintenance Records
                                <img src="../Images/go-icon.jpg" width="9" height="11" alt="" style="margin: 0px 2px -1px 0" />
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="form-list form-list-new" style="margin-top: 0%;">
                        <li class="width36prcnt">
                            <span class="label-form">Date</span>
                            <div clas="clearfix"></div>
                            <span class="value">
                                <div class="input-control text  span2">
                                    @Html.TextBoxFor(model => model.Date, "{0:d}", new { disabled = "disabled" })
                                </div>
                            </span>
                        </li>
                        <li class="width56prcnt">
                            <span class="label-form">Total Loss</span>
                            <div clas="clearfix"></div>
                            <span class="value">
                                <div id="TotalLoss">
                                    <div data-role="input-control" class="input-control radio default-style">
                                        <label>
                                            @Html.RadioButtonFor(model => model.IsTotalLoss, "true")
                                            <span class="check"></span>
                                            Yes
                                        </label>
                                    </div>
                                    <div data-role="input-control" class="input-control radio  default-style">
                                        <label>
                                            @Html.RadioButtonFor(model => model.IsTotalLoss, "false")
                                            <span class="check"></span>
                                            No
                                        </label>
                                    </div>
                                </div>
                            </span>
                        </li>
                        <div class="clear"></div>
                        <li class="width36prcnt">
                            <span class="label-form">Unit #</span>
                            <div clas="clearfix"></div>
                            <span class="value">
                                <div class="input-control text">
                                    @Html.EditorFor(model => model.UnitNumber)
                                    <span id="errUnitNumber" class="error"></span>
                                    <button onclick="return false" class="helper" tabindex="-1" type="button"></button>
                                </div>
                            </span>
                        </li>
                        <li class="width56prcnt">
                            <span class="label-form">Rentable</span>
                            <div clas="clearfix"></div>
                            <span class="value">
                                <div id="dvRentable">
                                    <div data-role="input-control" class="input-control radio default-style">
                                        <label>
                                            @Html.RadioButtonFor(model => model.IsRentable, "true")
                                            <span class="check"></span>
                                            Yes
                                        </label>
                                    </div>
                                    <div data-role="input-control" class="input-control radio  default-style">
                                        <label>
                                            @Html.RadioButtonFor(model => model.IsRentable, "false", new { id = "rdoRNo" })
                                            <span class="check"></span>
                                            No
                                        </label>
                                    </div>
                                </div>
                            </span>
                        </li>
                        <div class="clear"></div>
                        <li class="width36prcnt">
                            <span class="label-form">Size of Unit</span>
                            <div clas="clearfix"></div>
                            <span class="value">
                                <div class="input-control select">
                                    <input type="text" id="Size" name="Size" value="" disabled>
                                    <span id="errSize" class="error"></span>
                                </div>
                            </span>
                        </li>

                        <li class="width56prcnt" id="PartTypeNoOfParts">
                            <div class="partInfo-section">
                                <div class="width36prcnt float-left">
                                    <span class="label-form">Part Type:</span>
                                    <div clas="clearfix"></div>
                                    <span class="value">
                                        <div class="input-control select">
                                            @Html.DropDownListFor(
                                            model => model.UMPartDetails[0].UnitPartsId,
                                            new System.Web.Mvc.SelectList(ViewBag.PartTypes, "PartsId", "PartsName", ""),
                                            "-- Select --",
                                            new
                                            {
                                                @class = "dropdown",
                                                @onChange = "CheckDuplicatePartType(this);"
                                            })
                                        </div>
                                    </span>
                                </div>
                                <div class="width36prcnt float-left">
                                    <span class="label-form">Number Of Parts:</span>
                                    <div clas="clearfix"></div>
                                    <span class="value">
                                        <div class="input-control text">
                                            @Html.TextBoxFor(model => model.UMPartDetails[0].NumberOfParts, new { @class = "non-negative", @maxlength = "3" })
                                            <input id="UMPartDetails_0__IsDeleted" name="UMPartDetails[0].IsDeleted" type="hidden" value="false" />
                                            <button onclick="return false" class="helper" tabindex="-1" type="button"></button>
                                        </div>
                                    </span>
                                </div>
                                <div class="width20prcnt float-left">
                                    <input type="button" id="Add" name="Add" value="Add More" onclick="AddNewPartDetails(this); return false;" class="mrgntop-25px">
                                </div>
                            </div>

                            @* -------------------------------------------------------------  More Part type selection -------------------------------------------------- *@


                            <div class="addmore-section">
                                <div class="width36prcnt float-left">
                                    <span class="value">
                                        <div class="input-control select">
                                            @Html.DropDownList(
                                            "PartDetailsUnitPartsId",
                                            new System.Web.Mvc.SelectList(ViewBag.PartTypes, "PartsId", "PartsName", "-1"),
                                            "-- Select --",
                                            new
                                            {
                                                @class = "mode-dropdown",
                                                @onChange = "CheckDuplicatePartType(this);"
                                            })
                                        </div>
                                    </span>
                                </div>
                                <div class="width36prcnt float-left">
                                    <div class="clearfix"></div>
                                    <span class="value">
                                        <div class="input-control text">
                                            <input id="PartDetailsNumberOfParts" name="PartDetailsNumberOfParts" type="text" maxlength="3" />
                                            <button onclick="return false" class="helper" tabindex="-1" type="button"></button>
                                        </div>
                                    </span>
                                </div>
                                <div class="float-left mrgntop-8px">
                                    @*<a href="#">*@
                                    <input id="IsDeleted" name="IsDeleted" type="hidden" value="false" />
                                    <img width="16" height="16" id="Remove" name="Remove" src="../Images/close.png" title="Remove Part Type" onclick="RemoveRow(this)">@*</a>*@
                                </div>
                            </div>

                            @* -------------------------------------------------------------  End More Part type selection -------------------------------------------------- *@

                            <div id="container"></div>
                            <div class="clear value" id="errPartDetails"><span id="errPartDetailsT" class="error"></span><span id="errPartDetailsN" class="error" style="float: right; padding-right: 199px;"></span></div>
                        </li>
                        <div clas="clearfix"></div>

                        <li class="width36prcnt">
                            <span class="label-form">Location:</span>
                            <div clas="clearfix"></div>
                            <span class="value">
                                <div class="input-control text">
                                    <input type="text" id="txtLocation" name="Location" value="" disabled>
                                    <button onclick="return false" class="helper" tabindex="-1" type="button"></button>
                                </div>
                            </span>
                        </li>

                        <li class="width56prcnt">
                            <span class="label-form">Comments:</span>
                            <div clas="clearfix"></div>
                            <span class="value">
                                <div class="input-control textarea">
                                    @Html.TextAreaFor(model => model.Comments)
                                    <span id="errComments" class="error"></span>
                                </div>
                            </span>
                        </li>
                        <div class="clearfix"></div>
                    </ul>

                    <div class="button-panel">
                        @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.UnitMaintenance, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite))
                        {
                            <input type="submit" value="Save">
                        }
                        else
                        {
                            <input type="submit" value="Save" disabled="disabled">
                        }
                        <input type="submit" onclick="onResetFrom(); this.form.reset(); return false;" value="Reset" id="Reset">
                    </div>
                </div>
                <div class="clerfix"></div>
            </div>
            <div class="clerfix"></div>
        </div>
        <div id="confirmation-pop" class="message-dialog bg-color-oliveDark" style="display: none; color: #fff;">
            <div class="popup-hdr">
                <div class="pop-left">
                    <h3>Confirmation</h3>
                </div>
                <div class="pop-right">
                    <img width="32" height="32" src="../Images/Cancel.png" class="bClose" onclick="onConfirmNo();" />
                </div>
                <div class="clearfix"></div>
            </div>
            <p class="pop-para">Unit is located in <span id="SelectedFacilityName"></span>.  Do you want to continue with entering the maintenance details for this unit?</p>
            <div class="clearfix"></div>
            <br />
            <button class="place-right bClose" id="SelectedFacilityNameYes" onclick="onConfirmYes(); return false;">Yes</button>
            <button class="place-right bClose" id="SelectedFacilityNameNo" onclick="onConfirmNo(); return false;">No</button>
            <input id="confirmation-pop-UMUnitId" type="hidden" value="" />
            <input id="confirmation-pop-size" type="hidden" value="" />
            <input id="confirmation-pop-location" type="hidden" value="" />
        </div>
    </div>
    @*End Body part*@
}

@Scripts.Render("~/bundles/unitmaintenanceindex")
<script type="text/javascript">
    var URLHelper = {        
        searchUnits: '@Url.Action("UnitsSearch", "UnitMaintenance")'
    };
</script>

