﻿@using PRFacAppWF.models;
@model PRFacAppWF.models.UnitMaintenanceFilterCriteria
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="progress" class="progress" style="display:none;">
    <div onload="$(this).FadeIn(200);">
    </div>
    <img src="../Images/preloader-w8-line-black.gif" id="process" />
</div>
<div class="page-region">
    <div class="page-region-content">
        <form id="ExportUM" name="ExportUM" action="UnitMaintenance/ExportUnitMaintenance"></form>
        @using (Html.BeginForm("GetUnitMaintenanceList", "UnitMaintenance", null, System.Web.Mvc.FormMethod.Post, new { id = "UnitMaintenanceFilterCriteria", onsubmit = "" }))
                {
                <div class="form-panel">
                    <!--header image starts-->
                    <h2>
                        <span class="back-arrow">
                            <a href="../Dashboard.aspx">
                                <img src="../Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                            </a>
                        </span>
                        <img src="../Images/Driver.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                        <div class="h-title">
                            <span style="float: left; margin-top: 13px">Search Unit Maintenance Records</span>
                        </div>
                        <div class="clearfix"></div>
                    </h2>
                    <div class="clearfix"></div>
                    <!--header image ends-->
                    <!--pivot item starts -->
                    <div class="metro-pivot touch-info-page">

                        <div class="pivot-item">
                            <div class="bg-grey">
                                <div class="tiltepanel">
                                    <h4 class="title-h4">Search Unit Maintenance Records</h4>
                                    <div class="float-right txt-align-rgt">
                                        <a href="Index" style="color: #333;">
                                            <img src="../Images/back-arrow-icon.png" width="9" height="11" alt="" style="margin: 0px 2px -1px 0" />Back to Unit Maintenance Entry
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="clearfix"></div>

                                <ul class="form-list form-list-new" style="margin-top: 0%;">
                                    <li class="width23prcnt">
                                        <span class="label-form">From Date</span>
                                        <div clas="clearfix"></div>
                                        <span class="value">
                                            <div class="input-control text span2 float-left">
                                                <input type="text" value="@DateTime.Today.AddMonths(-1).ToShortDateString()" name="FromDate" id="FromDate" readonly="readonly" />
                                                <button onclick="$('#FromDate').val(''); return false" class="helper" tabindex="-1" type="button"></button>
                                            </div>
                                            <div class="float-left mrgntop-8px" id="FromDateIcon">
                                                <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                                            </div>
                                        </span>
                                    </li>
                                    <li class="width23prcnt">
                                        <span class="label-form">To Date</span>
                                        <div clas="clearfix"></div>
                                        <span class="value">
                                            <div class="input-control text span2 float-left">
                                                <input type="text" value="@DateTime.Today.ToShortDateString()" name="ToDate" id="ToDate" readonly="readonly" />
                                                <button onclick="$('#ToDate').val(''); return false" class="helper" tabindex="-1" type="button"></button>
                                            </div>
                                            <div class="float-left mrgntop-8px" id="ToDateIcon">
                                                <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                                            </div>
                                        </span>
                                        <div class="clear"></div>
                                        <span id="errToDate" class="error"></span>
                                    </li>

                                    <li class="width23prcnt">
                                        <span class="label-form">Location</span>
                                        <div clas="clearfix"></div>
                                        <span class="value">
                                            <div class="input-control select span3">
                                                @Html.DropDownListFor(
                                                    model => model.Location,
                                                    new System.Web.Mvc.SelectList(ViewBag.UnitLocations, "UnitLocationId", "Location", ""),
                                                    "-- Select All --",
                                                    new
                                                    {
                                                        @class = "dropdown"
                                                    })
                                            </div>
                                        </span>
                                    </li>
                                    <li class="width23prcnt">
                                        <span class="label-form">Size</span>
                                        <div clas="clearfix"></div>
                                        <span class="value">
                                            <div class="input-control select span3">
                                                @{ List<SelectListItem> listItems = new List<SelectListItem>();
                                                     listItems.Add(new SelectListItem { Text = "-- Select All --", Value = "", Selected = true });
                                                     listItems.Add(new SelectListItem { Text = "16 Ft", Value = "16 Ft" });
                                                     listItems.Add(new SelectListItem { Text = "12 Ft", Value = "12 Ft" });
                                                     listItems.Add(new SelectListItem { Text = "8 Ft", Value = "8 Ft" });   }
                                                @Html.DropDownListFor(model => model.UnitSize, listItems)
                                            </div>
                                        </span>
                                    </li>
                                    <div class="clear"></div>

                                    <li class="width23prcnt">
                                        <span class="label-form">Unit #</span>
                                        <div clas="clearfix"></div>
                                        <span class="value">
                                            <div class="input-control text span3">
                                                @Html.EditorFor(model => model.UnitNumber)
                                                <button onclick="return false" class="helper" tabindex="-1" type="button"></button>
                                            </div>
                                        </span>
                                    </li>

                                    <li class="width23prcnt">
                                        <span class="label-form">Total Loss</span>
                                        <div clas="clearfix"></div>
                                        <span class="value">
                                            <div class="input-control select span3">
                                                @{ List<SelectListItem> lstTotalLoss = new List<SelectListItem>();
                                                     lstTotalLoss.Add(new SelectListItem { Text = "-- Select All --", Value = "", Selected = true });
                                                     lstTotalLoss.Add(new SelectListItem { Text = "Yes", Value = "true" });
                                                     lstTotalLoss.Add(new SelectListItem { Text = "No", Value = "false" }); }
                                                @Html.DropDownListFor(model => model.TotalLoss, lstTotalLoss)
                                            </div>
                                        </span>
                                    </li>
                                    <li class="width23prcnt">
                                        <span class="label-form">Rentable</span>
                                        <div clas="clearfix"></div>
                                        <span class="value">
                                            <div class="input-control select span3">
                                                @{ List<SelectListItem> lstRentable = new List<SelectListItem>();
                                                     lstRentable.Add(new SelectListItem { Text = "-- Select All --", Value = "", Selected = true });
                                                     lstRentable.Add(new SelectListItem { Text = "Yes", Value = "true" });
                                                     lstRentable.Add(new SelectListItem { Text = "No", Value = "false" });  }
                                                @Html.DropDownListFor(model => model.Rentable, lstRentable)
                                            </div>
                                        </span>
                                    </li>
                                    <li class="width23prcnt">
                                        <span class="label-form">Part Type</span>
                                        <div clas="clearfix"></div>
                                        <span class="value">
                                            <div class="input-control select span3">
                                                @Html.DropDownListFor(
                                                    model => model.PartType,
                                                    new System.Web.Mvc.SelectList(ViewBag.PartTypes, "PartsId", "PartsName", ""),
                                                    "-- Select --",
                                                    new
                                                    {
                                                        @class = "dropdown"
                                                    })
                                            </div>
                                        </span>
                                    </li>

                                    <li class="width56prcnt">
                                        <div data-role="input-control" class="input-control checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.OnlyMaintenanceRec, new { @checked = "checked" })
                                                <span class="check"></span>
                                                Only display maintenance records entered by my facility
                                            </label>
                                        </div>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                            <div class="button-panel">
                                <input type="submit" value="Search"><input type="submit" onclick="this.form.reset();" value="Reset">
                            </div>
                        </div>
                        <div class="clerfix"></div>
                        <div style="width: 96%; margin: 0 auto" class="cust-grid-jqgrid">
                            <table id="tblUnitMaintenaceList"></table>
                            <div id="ptblUnitMaintenaceList" class="cust-grid-jqgrid-page"></div>
                        </div>
                    </div>
                    <div class="clerfix"></div>
                </div>
                }
    </div>
</div>


@Scripts.Render("~/bundles/unitmaintenancefilter")
<script type="text/javascript">
    var URLHelper = {
        searchUnitMaintenanceList: '@Url.Action("SearchUnitMaintenanceList", "UnitMaintenance")'
    };
</script>
