﻿@model List<PR.LocalLogisticsSolution.Model.Touch>
<div class="contentdiv">
    <table class="table-content footable" style="overflow:scroll !important;height:100px !important;" id="tblAddressList">
        <thead>
            <tr class="theadstyle">
                <th>Name</th>
                <th>Order No</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        if (item.OriginAddress.IsAddressValid == false)
                        {
                            <tr class="" id="@item.OriginAddress.ID" data-touchid="@item.OrderNumber" style="color:@item.Color" data-addrtype="origin">
                                <td class="@item.Confirmed">@item.CustomerName</td>
                                <td>
                                    @item.OrderNumberDisp
                                </td>
                                <td>
                                    <a href="#" onclick="showEditInvalidAddFromMapView(this);">
                                        @item.OriginAddress.City
                                        @item.OriginAddress.State
                                        @item.OriginAddress.Zip
                                    </a>
                                </td>
                            </tr>
                        }
                        if (item.DestAddress.IsAddressValid == false)
                        {
                            <tr class="" id="@item.DestAddress.ID" data-touchid="@item.OrderNumber" style="color:@item.Color" data-addrtype="origin">
                                <td class="@item.Confirmed">@item.CustomerName</td>
                                <td>
                                    @item.OrderNumberDisp
                                </td>
                                <td>
                                    <a href="#" onclick="showEditInvalidAddFromMapView(this);">
                                        @item.DestAddress.City
                                        @item.DestAddress.State
                                        @item.DestAddress.Zip
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>
</div>