﻿@model PR.LocalLogisticsSolution.Model.Load

<table class="footable table-content packrat_grid" id="tbldriver-@Model.DriverId" data-page-size="1000">
    <thead>
        <tr>
            <th data-type="alpha" data-sort="true">Name</th>
            <th data-type="alpha" data-sort="true">Touch</th>
            <th data-type="alpha" data-sort="true">Origin Address</th>
            <th data-hide="all" class="hide">Destination Address</th>
            <th data-hide="all" data-type="alpha" data-sort="true">Order No</th>
            <th data-hide="all">Phone</th>
            <th data-hide="all">Door Position</th>
            <th data-hide="all">Weight Ticket</th>
            <th data-hide="all">Instructions</th>
            <th data-hide="all">Scheduled DateTime</th>
            <th data-hide="all">Salesforce Mileage</th>
            <th data-hide="all">Touch Time</th>
            <th data-type="numeric" data-hide="all" data-sort-initial="true" class="hide">RouteSequence</th>
            <th data-hide="all">ETA Provided</th>
        </tr>
    </thead>
    <tbody>
        @{
            string msg = "";
        }
        @if (Model.Touches != null && Model.Touches.Count() > 0)
        {
            foreach (var touch in Model.DisplayTouches)
            {

                string myClass = "";
                string draggable = "true";
                string background = "white";
                string trClass = "";
                if (touch.Status == "Completed")
                {
                    draggable = "false";
                    background = "#D8D8D8";
                    trClass = " ui-state-disabled";
                    touch.Color = "black";
                }
                else if (touch.Status == "Skipped")
                {
                    background = "#ffc40d";
                    touch.Color = "#8A2908";
                }

                <tr class="@(touch.Status == "Completed" ? trClass : "selector-draggable ") selector-droppable @touch.Status @(touch.OriginAddress.IsAddressValid == false || touch.DestAddress.IsAddressValid == false ? "invalid-address-touch" : string.Empty)"  data-globalsitenum="@touch.GlobalSiteNum" touchid="@touch.TouchId" style="background-color:@background;color:@touch.Color;" data-NoLatLang="@(touch.OriginAddress.IsAddressValid == false || touch.DestAddress.IsAddressValid == false ? "True" : "False")">
                    <td data-toggle="true" class="@myClass">
                        @touch.CustomerName
                    </td>
                    <td class="TouchNumberDisp">
                        @touch.TouchNumberDisp
                    </td>
                    <td class="@(touch.WeightStnReq == true ? "weightT" : "")">
                        @if (touch.OriginAddress != null)
                        {
                            <span>
                                @if (touch.OriginAddress.AddressType == PR.UtilityLibrary.PREnums.AddressType.Warehouse)
                                {
                                    <label>@touch.OriginAddress.City - Warehouse</label>
                                }
                                else
                                {
                                    @touch.OriginAddress.FullAddress
                                }
                            </span>
                        }
                        @if (@touch.ProvidedETASettings.CanDisplayETAStatus == true)
                        {
                            <label class="float-right" style="padding-left:5px; padding-right:5px; background-color:@touch.ProvidedETASettings.BackGroundColor; color:@touch.ProvidedETASettings.TextColor">ETA</label>
                        }

                        @Html.Partial("~/Views/LocalLogistics/partial/touchSLSyncJobChanges.cshtml", touch)
                    </td>
                    <td  class="destAddress hide" >
                        @if (touch.DestAddress != null)
                        {
                            <span>
                                @if (touch.DestAddress.AddressType == PR.UtilityLibrary.PREnums.AddressType.Warehouse)
                                {
                                    <label>@touch.DestAddress.City - Warehouse</label>
                                }
                                else
                                {
                                    @touch.DestAddress.FullAddress
                                }
                            </span>
                        }
                    </td>
                    <td>
                        @touch.Qorid
                        <input type="hidden" value="@touch.OrderNumber" class="TouchOrderNumber" />
                        <input type="hidden" value="@touch.Qorid" class="TouchQORID" />
                        <input type="hidden" value="@touch.SequenceNO" class="TouchSequenceNO" />
                        <input type="hidden" value="@touch.TouchType" class="TouchTouchType" />
                    </td>
                    <td>@touch.PhoneNumber</td>
                    <td>@touch.DoorPOS</td>
                    <td>@(touch.WeightStnReq != null && touch.WeightStnReq.Value ? "Yes" : "No")</td>
                    <td>@touch.Instructions</td>
                    <td>@touch.ScheduledDate</td>
                    <td>@(Math.Round(touch.SiteLinkMileage, 1))</td>
                    <td>@touch.StartTime</td>
                    <td class="hide">@touch.RouteSequence</td>
                    <td class="hide">
                      
                        @if (@touch.ProvidedETASettings.CanDisplayETAStatus == true)
                        {
                            <label >@touch.ProvidedETASettings.ProvidedETARange</label>
                        }
                    </td>


                </tr>
            }
        }
        else
        {
            //msg = "No Touches found.<br />";
            @*<tr class="selector-droppable">
                    <td colspan="3">No Touches found.<br /></td>
                </tr>*@
        }
    </tbody>
    <tfoot>
        @*@if (Model.IsLocked == false)
        {*@
        <tr id="droppableFooter" class="selector-droppable" style="height:60px;"><td colspan="4">@*@msg*@Drop touches here to add to this load.</td></tr>
        @*}*@
    </tfoot>
</table>
