﻿<div id="divAddressHiddenParams">
    <input type="hidden" id="hdAddressType" value="" />
    <input type="hidden" id="hdAddressId" value="" />
    <input type="hidden" id="hdTouchID" value="" />

    <input type="hidden" id="hdQoridLatLngMap" value="" />
    <input type="hidden" id="hdSequenceNumLatLngMap" value="" />
    <input type="hidden" id="hdTouchTypeLatLngMap" value="" />
</div>
<div class="main-instructions-editfield">
    <div class="editaddress-instructions">
        <div class="contentEditAddress-head">
            Instructions
            <div class="map-icon-col" style="top: 60px !important;" id="btnInvalidAddrssToggleInstructions">
                <a href="#"><img src="/Images/LocalLogistics/expnd-icon.png" width="16" height="16" alt="" onclick=""></a>
            </div>
        </div>
        <div id="divTouchInstructions" class="contentEditAddress-content">
            1.	Remove Address Line 2 and click validate <br />
                &nbsp;&nbsp;&nbsp;&nbsp;or Add information from Address Line 2 into instructions<br />
            2.	Make sure the street and city are spelled correctly and click the Validate Address button<br />
            3.	Correct the Street Type and make sure it is abbreviated (like St for Street, Blvd for Boulevard, ..) and click validate.<br />
            4.	Remove city and click validate<br />
            5.	If the address still isn’t validated, click the Google Maps button<br />

        </div>
    </div>
    <div class="editaddress-editfield" id="editAddressInfo">
        <ul>
            <li><a href="#divEditAddressInfo">Check Address</a></li>
            <li><a href="#checkGoogleMap">Google Maps</a></li>
        </ul>
        <div id="divEditAddressInfo">
            <ul class="form-list form-list-new">
                <li class="width48prcnt ">
                    <span class="label label-form">Address 1: </span>
                    <span class="value">
                        <div class="input-control text">
                            <input type="text" name="LatLngAddress1" id="LatLngAddress1" title="Enter Address 1." />
                        </div>
                    </span>
                </li>
                <li class="width48prcnt ">
                    <span class="label label-form">Address 2: </span>
                    <span class="value">
                        <div class="input-control text">
                            <input type="text" name="LatLngAddress2" id="LatLngAddress2" title="Enter Address 2." />
                        </div>
                    </span>
                </li>
                <li class="width48prcnt ">
                    <span class="label label-form">City : </span>
                    <span class="value">
                        <div class="input-control text">
                            <input type="text" name="LatLngCity" id="LatLngCity" title="Enter City." />
                        </div>
                    </span>
                </li>
                <li class="width48prcnt">
                </li>
                <li class="width45">
                    <span class="label label-form">State : </span>
                    <span class="input-control text">
                        <select name="Status" id="ddlStates" title="Select State.">
                            <option value="-1">--Select--</option>
                            @foreach (var item in this.ViewBag.USStates)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    </span>
                </li>
                <li class="width48prcnt ">
                    <span class="label label-form">Zip : </span>
                    <span class="value">
                        <div class="input-control text">
                            <input type="text" name="LatLngZip" id="LatLngZip" title="Enter Zip." />
                        </div>
                    </span>
                </li>
                <li class="width48prcnt ">
                    <span class="label label-form">&nbsp;</span>
                    <span class="value">
                        <div class="input-control text">
                            <input type="button" name="validateAddress" id="validateAddress" title="Validate Address." onclick="validateAddress(); return false;" value="Validate" />
                            @*<label id="lblAddressValidate"></label>*@
                        </div>
                    </span>
                </li>
                <li class="width100prcnt ">
                        <span class="label label-form"></span>
                        <span class="value">
                            <label id="lblAddressValidate"></label>
                        </span>
                    </li>
                <li class="width100prcnt">
                    <span class="label label-form">Instructions : </span>
                    <span class="value">
                        <div class="input-control text">
                            <textarea name="LatLngInstructions" id="LatLngInstructions"></textarea>
                        </div>
                    </span>
                </li>
                <div style="position:absolute; bottom:8%; width:100%">
                    &nbsp;
                </div>
            </ul>
            <div class="clear"></div>
            <div class="align-center" style="top:5px;height: 40px;position: relative;">
                <input type="button" id="saveAddress" value="Save" onclick="saveFullAddressForLatLng(); return false;" />
                <input type="button" class="popup-exit" onclick="clearPopupAddressEditor();" value="Cancel" />
            </div>
        </div>
        <div id="checkGoogleMap">
            <input id="SearchMapInput" class="controls" type="text" placeholder="Search Box">
            <div id="mapEditAddress" style="position:absolute;width:95%; height:63%;"></div>
            <div id="infowindow-content">
                <img src="" width="16" height="16" id="place-icon">
                <span id="place-name" class="title"></span><br>
                <span id="place-address"></span>
            </div>
            <div class="invalidAddress-selectedAddress">
                <span class="invalidAddress-selectedAddress-head">Selected Address</span>:&nbsp;<label id="mapSelectedLocationAddress"></label>
            </div>
            <div class="invalidAddress-instructions">
                <span class="invalidAddress-instructions-head">Instructions</span>:&nbsp;<textarea style="width:87%" id="mapInstructions"></textarea>
            </div>
            <div class="clear"></div>
            <div class="align-center" style="left:40%;bottom: 40px;position: absolute;bottom: 1px;align-self: center;">
                <input type="button" id="saveMapLatlang" value="Save" onclick="saveLatLangFromMap(false); return false;" />
                <input type="button" class="popup-exit" onclick="clearPopupAddressEditor();" value="Cancel" />
            </div>
        </div>
    </div>
</div>
<div class="main-editaddress-custinfo">
    <div class="editaddress-custinfo">
        <div class="contentEditAddress-head">Customer Information</div>
        <div id="divCustomerInfo" class="contentEdit-customerinfo-body">
            <div class="editaddress-custinfo-row">
                <span class="custinfo-head">Customer Name</span>:
                <label id="lblCustomerName"></label>
            </div>
            <div class="editaddress-custinfo-row">
                <span class="custinfo-head">Phone</span>:
                <label id="lblCustomerPhone"></label>
            </div>
            @*<div class="editaddress-custinfo-row">
                <span class="custinfo-head">Alt Ph</span>:
                <label id="lblCustomerAltPhone"></label>
            </div>*@
        </div>
    </div>
    <div class="editaddress-addresslist" id="modalAddressesEditorBody">
        No Address Found To Update
    </div>
</div>
<div class="clearfix"></div>

<div id="checkAddressInstructions" style="visibility:hidden">
    <div>
        1.	Remove Address Line 2 and click validate. <br />
        &nbsp;&nbsp;&nbsp;&nbsp;o	Add information from Address Line 2 into instructions.<br />
        2.	Make sure the street and city are spelled correctly and click the Validate Address button.<br />
        3.	Correct the Street Type and make sure it is abbreviated (like St for Street, Blvd for Boulevard, ..) and click validate.<br />
        4.	Remove city and click validate.<br />
        5.	If the address still isn’t validated, click the Google Maps button.<br />
    </div>
</div>
<div id="googlemapInstructions" style="visibility:hidden">
    <div>
        Start looking for the correct location using the address box on top of the map. Suggested addresses will appear below the box as you type.<br />
        1.	Remove the zip code from the address line and check results.<br />
        2.	Remove city, state and add zip code.<br />
        &nbsp;&nbsp;&nbsp;&nbsp; o	The original touch address will always appear in the left column for reference.<br />
        3.	Assuming you are close and found a location in the map, you can click an approximate location in the map for routing. You may need to update the address in touch instructions for the driver.<br />
        4.	If no solutions present themselves, you may need to contact the customer or PR service to get an approximate or valid address.<br />
    </div>
</div>