﻿@model List<PR.LocalLogisticsSolution.Model.Touch>
<div class="contentEditAddress-head">Touch Address To Fix</div>
<div id="divCustomerAddresses" class="contentEditAddress-addresslist">
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            if (item.OriginAddress.IsAddressValid == false)
            {
                <div id="@item.OriginAddress.ID" data-touchid="@item.OrderNumber" data-qorid="@item.Qorid" class="invalid-address-foredit" data-addrtype="origin" data-CustomerName="@item.CustomerName"
                     data-CustomerPhone="@item.PhoneNumber" data-AddressLine1="@item.OriginAddress.AddressLine1" data-Zip="@item.OriginAddress.Zip"
                     data-AddressLine2="@item.OriginAddress.AddressLine2" data-City="@item.OriginAddress.City" data-State="@item.OriginAddress.State"
                     data-AltPhoneNumber="@item.OriginAddress.AlternatePhoneNumber" data-QoridLatLng="@item.Qorid" data-SequenceNumLatLng="@item.SequenceNO"
                     data-TouchTypeLatLng="@item.TouchTypeAcronym" onclick="bindCustomerInfo(this); return false;">
                    <input type="hidden" value="@item.Instructions" id="hdTouchInstructions" />
                    <div class="nav anchorBlack" id="showCustomerDetails">
                        @if (@item.TouchTypeAcronym == "CC")
                        { <b>(From)&nbsp;</b>}
                        @item.TouchTypeAcronym - @item.CustomerName
                        <br />
                        @if (item.OriginAddress.AddressLine1 != "")
                        {
                            @item.OriginAddress.AddressLine1<br />
                        }
                        @if (item.OriginAddress.AddressLine2 != "")
                        {
                            @item.OriginAddress.AddressLine2<br />
                        } a
                        @item.OriginAddress.City
                        @item.OriginAddress.State
                        -
                        @item.OriginAddress.Zip
                    </div>
                </div>
            }
            if (item.DestAddress.IsAddressValid == false)
            {
                <div data-addrtype="dest" id="@item.DestAddress.ID" class="invalid-address-foredit" data-touchid="@item.OrderNumber" data-CustomerName="@item.CustomerName"
                     data-CustomerPhone="@item.PhoneNumber" data-AddressLine1="@item.DestAddress.AddressLine1" data-Zip="@item.DestAddress.Zip"
                     data-AddressLine2="@item.DestAddress.AddressLine2" data-City="@item.DestAddress.City" data-State="@item.DestAddress.State"
                     data-AltPhoneNumber="@item.DestAddress.AlternatePhoneNumber" data-QoridLatLng="@item.Qorid" data-SequenceNumLatLng="@item.SequenceNO"
                     data-TouchTypeLatLng="@item.TouchTypeAcronym" onclick="bindCustomerInfo(this); return false;">
                    <input type="hidden" value="@item.Instructions" id="hdTouchInstructions" />
                    <div class="nav anchorBlack" id="showCustomerDetails">
                        @if (@item.TouchTypeAcronym == "CC")
                        { <b>(To)&nbsp;</b>}
                        @item.TouchTypeAcronym - @item.CustomerName
                        <br />
                        @if (item.DestAddress.AddressLine1 != "")
                        {
                            @item.DestAddress.AddressLine1<br />
                        }
                        @if (item.DestAddress.AddressLine2 != "")
                        {
                            @item.DestAddress.AddressLine2<br />
                        }
                        @item.DestAddress.City
                        @item.DestAddress.State
                        -
                        @item.DestAddress.Zip
                    </div>
                </div>
            }
        }
    }
</div>
