﻿@model List<PR.LocalLogisticsSolution.Model.Touch>

    <thead>
        <tr class="theadstyle">
            <th data-class="expand" data-type="alpha" data-sort-initial="true">Name</th>
            <th data-type="alpha" data-sort="true" data-sort-initial="true">Touch</th>
            <th data-type="alpha" data-sort-initial="true">Address</th>
            <th data-hide="all">Destination Address</th>
            <th data-hide="all">Order No</th>
            @*<th data-hide="all">Company</th>*@
            <th data-hide="all">Phone</th>
            @*<th data-hide="all">Obstacles</th>
                <th data-hide="all">DriveWay</th>*@
            <th data-hide="all">Door Position</th>
            @*<th data-hide="all">DoorToFront</th>
                <th data-hide="all">DoorToRear</th>*@
            <th data-hide="all">Weight Ticket</th>
            <th data-hide="all">Instructions</th>
            <th data-hide="all">Scheduled Date</th>
            <th data-hide="all">Touch Time</th>
            <th data-hide="all">Salesforce Mileage</th>
            <th data-hide="all">ETA Provided</th>
        </tr>
    </thead>
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {
            @*<tfoot>
                    <tr class="selector-droppable"><td colspan="4">Drop touches here to add to unassigned touches.</td></tr>
                </tfoot>*@
        }
    }
    <tbody>
        @if (Model != null)
        {
            if (Model.Count() == 0)
            {
                @*<tr class="selector-droppable"><td colspan="4">No Touches found.</td></tr>*@
            }
            else
            {
                foreach (var item in Model)
                {
                    string myClass = "";
                    <tr class="@item.Status selector-draggable selector-droppable @(item.OriginAddress.IsAddressValid == false || item.DestAddress.IsAddressValid == false ? "invalid-address-touch" : string.Empty)" data-globalsitenum="@item.GlobalSiteNum" touchid="@item.OrderId" style="color:@(item.Status=="Completed"?"":item.Color)" data-NoLatLang="@(item.OriginAddress.IsAddressValid == false || item.DestAddress.IsAddressValid == false ? "True" : "False")">
                        <td class="@item.Confirmed">@item.CustomerName</td>
                        <td class="TouchNumberDisp">
                            @item.TouchNumberDisp
                        </td>
                        <td class="@(item.WeightStnReq == true ? "weightT" : "")">
                            @if (item.OriginAddress.AddressType == PR.UtilityLibrary.PREnums.AddressType.Warehouse)
                            {
                                <label>@item.OriginAddress.City - Warehouse</label>
                            }
                            else
                            {
                                <label>@item.OriginAddress.City, @item.OriginAddress.State, @item.OriginAddress.Zip</label>
                            }
                            -<br />
                            @if (item.DestAddress.AddressType == PR.UtilityLibrary.PREnums.AddressType.Warehouse)
                            {
                                <label>@item.DestAddress.City - Warehouse</label>
                            }
                            else
                            {
                                <label>@item.DestAddress.City @item.DestAddress.State @item.DestAddress.Zip</label>
                            }
                            @if (@item.ProvidedETASettings.CanDisplayETAStatus == true)
                            {
                                <label class="float-right" style="padding-left:5px; padding-right:5px; background-color:@item.ProvidedETASettings.BackGroundColor; color:@item.ProvidedETASettings.TextColor">ETA</label>
                            }
                        </td>
                        <td>
                            @if (item.DestAddress != null)
                            {
                                <span class="destAddress">
                                    @item.DestAddress.FullAddress
                                </span>
                            }
                        </td>
                        <td>
                            @item.Qorid
                            <input type="hidden" value="@item.OrderNumber" class="TouchOrderNumber" />
                            <input type="hidden" value="@item.Qorid" class="TouchQORID" />
                            <input type="hidden" value="@item.SequenceNO" class="TouchSequenceNO" />
                            <input type="hidden" value="@item.TouchType" class="TouchTouchType" />
                        </td>
                        @*<td>Company</td>*@
                        <td>@item.PhoneNumber</td>
                        @*<td>@item.Obstacles</td>
                            <td>@item.DriveWay</td>*@
                        @*<td>@item.DoorToFront</td>
                            <td>@item.DoorToRear</td>*@
                        <td>@item.DoorPOS</td>
                        <td>@(item.WeightStnReq != null && item.WeightStnReq.Value ? "Yes" : "No")</td>
                        <td>@item.Instructions</td>
                        <td>@item.ScheduledDate.ToString("d")</td>
                        <td>@item.StartTime</td>
                        <td>@(Math.Round(item.SiteLinkMileage, 1))</td>
                        <td class="hide">

                            @if (@item.ProvidedETASettings.CanDisplayETAStatus == true)
                            {
                                <label >@item.ProvidedETASettings.ProvidedETARange</label>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
<tfoot>
    <tr class="selector-droppable"><td colspan="4">Drop touches here to add to unassigned touches.</td></tr>
</tfoot>