﻿@model PR.LocalLogisticsSolution.Model.Touch
@if (Model != null)
{
    var touch = Model;
    <input type="hidden" class="touchTimeZone" value="@touch.StartTime" />
    <input type="hidden" class="touchType" value="@touch.TouchTypeAcronym" />
    <input type="hidden" class="unitSize" value="@touch.Unitsize" />
    <input type="hidden" class="OrderNumberDisp" value="@touch.OrderNumberDisp" />
    <input type="hidden" class="TouchStatus" value="@touch.Status" />
    if (touch.Status.Equals("Completed", StringComparison.OrdinalIgnoreCase) || touch.Status.Equals("Skipped", StringComparison.OrdinalIgnoreCase))
    {
        <input type="hidden" class="touchScheduledStartTime" value="@touch.PickupStop.ScheduledStartTime.ToString("MM/dd/yyy h:mm tt")" />
        <input type="hidden" class="touchActualEndTime" value="@touch.DropoffStop.ActualEndTime.Value.ToString("MM/dd/yyy h:mm tt")" />
    }
    <div class="first-col">
        <div class="" id="tooltipTouch_@touch.TouchId"><input type="checkbox" class="" /></div><h5>@touch.TouchTypeAcronym </h5>
    </div>
    <span class="second-col">
        <span class="customer-name-ordnum"><label class="main-head" id="CustNm">@touch.CustomerName</label> @touch.TouchNumberDisp</span><br />
        <span class="customer-name-ordnum main-head" style="font-size:9px; font-weight:normal;">Status: @touch.Status</span>&nbsp;&nbsp;&nbsp;
        @if (touch.Status.ToUpper() == "SKIPPED")
        {
            <a id="" href="#" class="main-head" style="cursor: pointer;font-size:11px; text-decoration: underline;" onclick="ReScheduleSkippedTouch(this); return false;">RESCHEDULE</a>
        }
        <br>
        <span>
            @if (touch.OriginAddress != null)
            {
                <span class="orgAdr">
                    @if (touch.OriginAddress.AddressType == PR.UtilityLibrary.PREnums.AddressType.Warehouse)
                    {
                        <label>@touch.OriginAddress.City WH</label>
                    }
                    else
                    {
                        @touch.OriginAddress.FullAddress
                    }
                </span>
                <input type="hidden" class="orgLat" value="@touch.OriginAddress.Latitude" />
                <input type="hidden" class="orgLong" value="@touch.OriginAddress.Longitude" />
            }
            <br />
            @if (touch.DestAddress != null)
            {
                <span class="destAdr">
                    @if (touch.DestAddress.AddressType == PR.UtilityLibrary.PREnums.AddressType.Warehouse)
                    {
                        <label>@touch.DestAddress.City WH</label>
                    }
                    else
                    {
                        @touch.DestAddress.FullAddress
                    }
                </span>
                <input type="hidden" class="destLat" value="@touch.DestAddress.Latitude" />
                <input type="hidden" class="destLong" value="@touch.DestAddress.Longitude" />
            }
            @*<br />*@

            @*@if (touch.Status.ToUpper() == "SKIPPED")
                {
                    <span>
                        <input type="button" class="actSkippedTouch" value="Reschedule" onclick="ReScheduleSkippedTouch(this); return false;"/>
                    </span>
                }*@
        </span>
        @Html.Partial("~/Views/LocalLogistics/partial/touchSLSyncJobChanges.cshtml", touch)
    </span>
}


