﻿@model IEnumerable<PR.LocalLogisticsSolution.Model.Touch>

    @if (Model != null)
    {
        <ol class="group-items">
            @foreach (var touch in Model)
            {
                <li class="" id="SortTouchId_@touch.TouchId" style="color:@touch.Color;" data-weightstnreq="@touch.WeightStnReq" data-touchid="@touch.TouchId">
                    <input type="hidden" class="touchTimeZone" value="@touch.StartTime" />
                    <input type="hidden" class="touchType" value="@touch.TouchTypeAcronym" />
                    <input type="hidden" class="unitSize" value="@touch.Unitsize" />
                    <input type="hidden" class="OrderNumberDisp" value="@touch.OrderNumberDisp" />
                    <input type="hidden" class="TouchStatus" value="@touch.Status" />
                    @if (touch.Status.Equals("Completed", StringComparison.OrdinalIgnoreCase) || touch.Status.Equals("Skipped", StringComparison.OrdinalIgnoreCase))
                    {
                        <input type="hidden" class="touchScheduledStartTime" value="@touch.PickupStop.ScheduledStartTime.ToString("MM/dd/yyy h:mm tt")" />
                        <input type="hidden" class="touchActualEndTime" value="@touch.DropoffStop.ActualEndTime.Value.ToString("MM/dd/yyy h:mm tt")" />
                    }
                    <div class="first-col">
                        <div class="" id="tooltipTouch_@touch.TouchId"><input type="checkbox" class="" disabled="disabled" /></div><h5>@touch.TouchTypeAcronym</h5>
                    </div>
                    <div class="second-col">
                        <span class="custmer-name-ordnum"><label class="main-head" id="CustNm">@touch.CustomerName</label> @touch.TouchNumberDisp</span><br />
                        <span>
                            @if (touch.OriginAddress != null)
                            {
                                <span class="orgAdr">
                                    @*@touch.OriginAddress.AddressLine1,
                                        @touch.OriginAddress.AddressLine2,
                                        @touch.OriginAddress.City,
                                        @touch.OriginAddress.State,
                                        @touch.OriginAddress.Zip*@
                                    @if (touch.OriginAddress.AddressType == PR.UtilityLibrary.PREnums.AddressType.Warehouse)
                                    {
                                        <label>@touch.OriginAddress.City WH</label>
                                    }
                                    else
                                    {
                                        @touch.OriginAddress.FullAddress
                                    }
                                </span>
                                <input type="hidden" class="orgLat" value="@touch.OriginAddress.Latitude" />
                                <input type="hidden" class="orgLong" value="@touch.OriginAddress.Longitude" />
                            }
                            <br />
                            @if (touch.DestAddress != null)
                            {
                                <span class="destAdr">
                                    @*@touch.DestAddress.AddressLine1,
                                        @touch.DestAddress.AddressLine2,
                                        @touch.DestAddress.City,
                                        @touch.DestAddress.State,
                                        @touch.DestAddress.Zip*@
                                    @if (touch.DestAddress.AddressType == PR.UtilityLibrary.PREnums.AddressType.Warehouse)
                                    {
                                        <label>@touch.DestAddress.City WH</label>
                                    }
                                    else
                                    {
                                        @touch.DestAddress.FullAddress
                                    }
                                </span>
                                <input type="hidden" class="destLat" value="@touch.DestAddress.Latitude" />
                                <input type="hidden" class="destLong" value="@touch.DestAddress.Longitude" />
                            }
                        </span>
                        @Html.Partial("~/Views/LocalLogistics/partial/touchSLSyncJobChanges.cshtml", touch)
                    </div>
                </li>
            }
        </ol>
    }
