﻿@model PR.LocalLogisticsSolution.Model.Stops


@if (Model != null)
{
    var stop = Model;
    <input type="hidden" class="touchTimeZone" value="@stop.Touch.StartTime" />
    <input type="hidden" class="stopType" value="@stop.TouchStopTypeFullAcronym" />
    <input type="hidden" class="TouchStopTypeAcronym" value="@stop.TouchStopTypeAcronym" />
    <input type="hidden" class="OrderNumberDisp" value="@stop.Touch.OrderNumberDisp" />
    <input type="hidden" class="QORID" value="@stop.Touch.Qorid" />
    <input type="hidden" class="TouchNumberDisp" value="@stop.Touch.TouchNumberDisp" />
    <input type="hidden" class="StopStatus" value="@stop.TouchStatus" />
    <div class="first-col">

        <h5>@stop.TouchStopTypeAcronym - @stop.TouchStatus.ToUpper()</h5>
        @Html.Partial("~/Views/LocalLogistics/partial/stopSLSyncJobChanges.cshtml", stop)
       
        @if (@stop.Touch.ProvidedETASettings.CanDisplayETAStatus == true)
        {
            <label style="padding-left:5px; padding-right:5px; background-color:@stop.Touch.ProvidedETASettings.BackGroundColor; color:@stop.Touch.ProvidedETASettings.TextColor">ETA</label>
        }
        <span class="float-right" style="line-height: 16px;">@stop.Touch.TouchNumberDisp</span>
    </div>
    <div class="second-col">
        <div style="margin: 0 5px">
            <label class="main-head" id="CustNm">@stop.CustomerName  </label><span class="float-right" style="font-style:italic;font-weight:bold;color:#8a2908">@stop.SkipTouchReason </span> @*(@stop.Touch.OrderNumberDisp)<br />*@
            <br />
            <span>
                @if (stop.OriginAddress != null)
                {
                    <span class="orgAdr">
                        @if (stop.OriginAddress.AddressType == PR.UtilityLibrary.PREnums.AddressType.Warehouse)
                        {
                            @*<label>@stop.OriginAddress.City - Warehouse</label>*@
                            if (ViewBag.lstWarehouseAddress.Count <= 1)
                            {
                                <label>@stop.OriginAddress.City - Warehouse</label>
                            }
                            else
                            {
                                <span class="destAdr width100">
                                    <select id="OriginAddress-@(stop.TouchStopId)" class="width70 origin-warehouse-address" name="OriginAddress.ID" data-stopid="@stop.TouchStopId">
                                        @foreach (var warehouse in ViewBag.lstWarehouseAddress)
                                        {
                                            <option value="@warehouse.ID" data-orglat="@warehouse.Latitude" data-orglong="@warehouse.Longitude" @(stop.OriginAddress.ID == warehouse.ID ? "selected=selected" : "")>@warehouse.DisplayWarehouseName</option>
                                        }
                                    </select>                                   
                                </span>
                            }
                        }
                        else
                        {
                            @stop.OriginAddress.FullAddress
                        }
                        <span style="float: right;" class="org-markericon-text"></span>
                    </span>
                    <input type="hidden" class="orgAddressType" value="@stop.OriginAddress.AddressType" />
                    <input type="hidden" class="orgAddressID" value="@stop.OriginAddress.ID" />
                    <input type="hidden" class="orgLat" value="@stop.OriginAddress.Latitude" />
                    <input type="hidden" class="orgLong" value="@stop.OriginAddress.Longitude" />
                }
                <div class="clear"></div>
                @if (stop.DestinationAddress != null)
                {
                    <span class="destAdr">
                        @if (stop.DestinationAddress.AddressType == PR.UtilityLibrary.PREnums.AddressType.Warehouse)
                        {
                            if (ViewBag.lstWarehouseAddress.Count <= 1)
                            {
                                <label>@stop.DestinationAddress.City - Warehouse</label>
                            }
                            else
                            {
                                <span class="destAdr width100">
                                    <select id="DestinationAddress-@(stop.TouchStopId)" class="width70 destination-warehouse-address" name="DestinationAddress.ID" data-stopid="@stop.TouchStopId" onchange="onChangeStopDestinationAddress(this, false);">
                                        @foreach (var warehouse in ViewBag.lstWarehouseAddress)
                                        {
                                            <option value="@warehouse.ID" data-destlat="@warehouse.Latitude" data-destlong="@warehouse.Longitude" @(stop.DestinationAddress.ID == warehouse.ID ? "selected=selected" : "")>@warehouse.DisplayWarehouseName</option>
                                        }
                                    </select>
                                </span>
                            }
                        }
                        else
                        {
                            @stop.DestinationAddress.FullAddress
                        }
                        <span style="float: right;" class="dest-markericon-text"></span>
                        <input type="hidden" class="destAddressType" value="@stop.DestinationAddress.AddressType" />
                        <input type="hidden" class="destAddressID" value="@stop.DestinationAddress.ID" />
                        <input type="hidden" class="destLat" value="@stop.DestinationAddress.Latitude" />
                        <input type="hidden" class="destLong" value="@stop.DestinationAddress.Longitude" />
                    </span>
                }
            </span>
        </div>
        <div class="clear"></div>
        @if (stop.TouchStatus == "Completed" || stop.TouchStatus.ToUpper() == "SKIPPED")
        {
            <input type="hidden" class="stopScheduledStartTime" value="@stop.ScheduledStartTime.ToString("MM/dd/yyy h:mm tt")" />
            <input type="hidden" class="stopScheduledEndTime" value="@stop.ScheduledEndTime.ToString("MM/dd/yyy h:mm tt")" />
            <input type="hidden" class="stopEstimatedEndTime" value="@stop.EstimatedEndDateTime.ToString("MM/dd/yyy h:mm tt")" />
            <input type="hidden" class="stopEstimatedStartDateTime" value="@stop.EstimatedStartDateTime.ToString("MM/dd/yyy h:mm tt")" />
            if (stop.ActualStartTime.HasValue && stop.ActualEndTime.HasValue)
            {
                <input type="hidden" class="stopActualEndTime" value="@stop.ActualEndTime.Value.ToString("MM/dd/yyy h:mm tt")" />
                <input type="hidden" class="stopActualStartTime" value="@stop.ActualStartTime.Value.ToString("MM/dd/yyy h:mm tt")" />
            }
        }
        @if (@stop.Touch.ProvidedETASettings.CanDisplayETAStatus == true)
        {
            <strong>ETA Provided:</strong><label class="float-right" >@stop.Touch.ProvidedETASettings.ProvidedETARange</label>
        }
        @*}*@
        <div class="clear"></div>
        <span class="stop-del-time">
            <strong>Scheduled:</strong><br /><span class="stop-scheduled-time">
                @*@if (@ViewData["IsOptimized"] != null && Convert.ToBoolean(@ViewData["IsOptimized"]))*@
                @if ((ViewData["IsOptimized"] != null && Convert.ToBoolean(ViewData["IsOptimized"])) || (stop.TouchStatus == "Completed" || stop.TouchStatus == "Skipped"))
                {
                    @stop.ScheduledStartTime.ToString("h:mm tt") @Html.Raw(" - ") @stop.ScheduledEndTime.ToString("h:mm tt")
                }
                else
                {
                    @Html.Raw(" - ")<br />
                }
            </span>
        </span>
        <span class="stop-del-time">
            <strong>Estimated:</strong><br /><span class="stop-estimated-time">
                @*@if (@ViewData["IsOptimized"] != null && Convert.ToBoolean(@ViewData["IsOptimized"]))*@
                @if ((ViewData["IsOptimized"] != null && Convert.ToBoolean(ViewData["IsOptimized"])) || (stop.TouchStatus == "Completed" || stop.TouchStatus == "Skipped"))
                {
                    @stop.EstimatedStartDateTime.ToString("h:mm tt") @Html.Raw(" - ") @stop.EstimatedEndDateTime.ToString("h:mm tt");
                }
                else
                {
                    @Html.Raw(" - ")<br />
                }
            </span>
        </span>
        <span class="stop-del-time">
            <strong>Actual:</strong><br />
            @if ((stop.TouchStatus == "Completed" || stop.TouchStatus == "Skipped") && stop.ActualStartTime.HasValue && stop.ActualEndTime.HasValue)
            {
                @stop.ActualStartTime.Value.ToString("h:mm tt") @Html.Raw(" - ") @stop.ActualEndTime.Value.ToString("h:mm tt");
            }
            else
            {
                @Html.Raw(" - ")<br />
            }
        </span>
    </div>
}