﻿@model PR.LocalLogisticsSolution.Model.Stops
@if (Model != null)
{
    var touch = Model.Touch;
    var stop = Model;
    if (touch.SLUpdatedStatusType != null && touch.SLUpdatedStatusType == PR.LocalLogisticsSolution.Model.SLUpdateType.Canceled)
    {
        <img src="../Images/MediaLoot/icn_trash.png" alt="ShowUpdates" onclick="RemoveCancleStop(@touch.TouchId, @touch.LoadId)" style="width: 18px; float: right; margin: 1px 10px 0 10px;cursor: pointer;" title="This touch has been removed from the schedule as of @DateTime.Now.ToString("d")." />
    }
    else if (touch.IsExceptionalTouch)
    {
        <img src="../Images/MediaLoot/icn_alert_warning.png" alt="ShowUpdates" onmouseout="HideSLUpdates(this)" onmouseover="ShowSLUpdates(this)" style="width: 18px; float: right; margin: 2px 10px 0 0;cursor: pointer;" />
        <div class="slupdatetooltip slupdates-oldandnew" style="display: none;position: static;">
            <span class="main-slupdatetooltip">This touch is an Exception Touch</span>
        </div>
    }
    else if (touch.SLUpdatedStatusType != null && touch.SLUpdatedStatusType != PR.LocalLogisticsSolution.Model.SLUpdateType.Nochanges && touch.SLUpdatedStatusType != PR.LocalLogisticsSolution.Model.SLUpdateType.Sync)
    {
        <img src="../Images/MediaLoot/icn_alert_warning.png" alt="ShowUpdates" onmouseout="HideSLUpdates(this);" onmouseover="ShowSLUpdates(this);" style="width: 18px; float: right; margin: 1px 10px 0 10px;cursor: pointer;" />
        <div class="slupdatetooltip slupdates-oldandnew" style="display: none;">
            <span class="main-slupdatetooltip">
                <div class="slupdate-arrow-up"></div>
                <div class="slupdateinformation">Information has changed for this touch</div>
                <div class="slupdateheader"><h7>Field Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Updated Info&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Old Info</h7> </div>
                @if (touch.SLUpdatedStatusType == PR.LocalLogisticsSolution.Model.SLUpdateType.OnlyAddressUpdated ||
                    touch.SLUpdatedStatusType == PR.LocalLogisticsSolution.Model.SLUpdateType.AddressAndInfoUpdated)
                {
                    if (stop.SLUpdatedOriginAddress != null)
                    {
                        <div class="slupdate-body">
                            <div class="slupdate-field-col">
                                <span>
                                    Origin Address:
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @stop.SLUpdatedOriginAddress.FullAddress
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @stop.OriginAddress.FullAddress
                                </span>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    }
                    if (stop.SLUpdatedDestAddress != null)
                    {
                        <div class="slupdate-body">
                            <div class="slupdate-field-col">
                                <span>
                                    Destination Address:
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @stop.SLUpdatedDestAddress.FullAddress
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @stop.DestinationAddress.FullAddress
                                </span>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    }
                }

                @if (touch.SLUpdatedStatusType == PR.LocalLogisticsSolution.Model.SLUpdateType.OnlyInfoUpdated ||
                    touch.SLUpdatedStatusType == PR.LocalLogisticsSolution.Model.SLUpdateType.AddressAndInfoUpdated)
                {
                    if (touch.SLUpdatedTouch.CustomerName != null && touch.CustomerName != touch.SLUpdatedTouch.CustomerName)
                    {
                        <div class="slupdate-body">
                            <div class="slupdate-field-col">
                                <span>
                                    Customer Name:
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @touch.CustomerName
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @touch.SLUpdatedTouch.CustomerName
                                </span>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    }
                    if (touch.SLUpdatedTouch.PhoneNumber != null && touch.PhoneNumber != touch.SLUpdatedTouch.PhoneNumber)
                    {
                        <div class="slupdate-body">
                            <div class="slupdate-field-col">
                                <span>
                                    PhoneNumber:
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @touch.PhoneNumber
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span class="touch-updates-compar">
                                    @touch.SLUpdatedTouch.PhoneNumber
                                </span>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    }
                    if (touch.SLUpdatedTouch.Instructions != null && touch.Instructions != touch.SLUpdatedTouch.Instructions)
                    {
                        <div class="slupdate-body">
                            <div class="slupdate-field-col">
                                <span>
                                    Instructions:
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @touch.Instructions
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @touch.SLUpdatedTouch.Instructions
                                </span>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    }
                    if (touch.SLUpdatedTouch.UnitNumber != null && touch.UnitNumber != touch.SLUpdatedTouch.UnitNumber)
                    {
                        <div class="slupdate-body">
                            <div class="slupdate-field-col">
                                <span>
                                    UnitNumber:
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @touch.UnitNumber
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @touch.SLUpdatedTouch.UnitNumber
                                </span>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    }
                    if (touch.SLUpdatedTouch.StartTime != null && touch.StartTime != touch.SLUpdatedTouch.StartTime)
                    {
                        <div class="slupdate-body">
                            <div class="slupdate-field-col">
                                <span>
                                    StartTime:
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @touch.StartTime
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @touch.SLUpdatedTouch.StartTime
                                </span>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    }
                    if (touch.SLUpdatedTouch.WeightStnReq != null && touch.WeightStnReq != touch.SLUpdatedTouch.WeightStnReq)
                    {
                        <div class="slupdate-body">
                            <div class="slupdate-field-col">
                                <span>
                                    WeightStnReq:
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @touch.WeightStnReq
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @touch.SLUpdatedTouch.WeightStnReq
                                </span>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    }
                    if (touch.DoorPOS != touch.SLUpdatedTouch.DoorPOS)
                    {
                        <div class="slupdate-body">
                            <div class="slupdate-field-col">
                                <span>
                                    Door POS:
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @touch.DoorPOS
                                </span>
                            </div>
                            <div class="slupdate-field-col">
                                <span>
                                    @touch.SLUpdatedTouch.DoorPOS
                                </span>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    }
                }
            </span>
        </div>
    }
}