﻿@{
    ViewBag.Title = "Driver Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/drivermanagement")
<script type="text/javascript">
    driverMaintenanceModule.URLHelper = {
        getDriverScheduleList: '@Url.Action("DriverScheduleList", "DriverMaintenance")'
    };
    driverMaintenanceFormModule.URLHelper = {
        loadUserInfo: '@Url.Action("UserForm", "DriverMaintenance")',
        getDuplicateDrivers: '@Url.Action("GetDuplicateUsersByLastname", "DriverMaintenance")',
        //getDirverSecurity: '@Url.Action("GetDirverSecurity", "DriverMaintenance")',
        //getDirverFacilities: '@Url.Action("GetDirverFacilities", "DriverMaintenance")',
        saveDriverDetails: '@Url.Action("SaveDriverDetails", "DriverMaintenance")',
        checkUserNameAvailability: '@Url.Action("CheckUserNameAvailability", "DriverMaintenance")',
        SuggesstedUserName: '@Url.Action("SuggesstedUserName", "DriverMaintenance")',
        addDriverFacility: '@Url.Action("AddDriverFacility", "DriverMaintenance")',
        assingDriverToFacility: '@Url.Action("AssingDriverToFacility", "DriverMaintenance")'
    };
    driverScheduleModule.URLHelper = {
        loadDriverScheduleInfo: '@Url.Action("LoadDriverSchedule", "DriverMaintenance")',
        getDriverScheduleHours: '@Url.Action("GetDriverScheduleHours", "DriverMaintenance")',
        saveDriverScheduleHours: '@Url.Action("SaveDriverScheduleHours", "DriverMaintenance")',
        saveWeeklyDriverSdhedule: '@Url.Action("SaveWeeklyDriverSchedule", "DriverMaintenance")',
        saveDriverRoverTransfer: '@Url.Action("SaveDriverRoverTransfer", "DriverMaintenance")',
        getDriverRoverFacility: '@Url.Action("GetDriverRoverFacility", "DriverMaintenance")',
        updateDriverRoverFacilityInfo: '@Url.Action("UpdateDriverRoverFacilityInfo", "DriverMaintenance")',
        checkAndGetDriverLockedLoadsByDate: '@Url.Action("CheckAndGetDriverLockedLoadsByDate", "DriverMaintenance")',
        checkAndGetDriverLockedLoadsByDateForWeeklySchedule: '@Url.Action("CheckAndGetDriverLockedLoadsByDateForWeeklySchedule", "DriverMaintenance")',
    }
    driverMaintenanceFormModule.DefaultVariables.PasswordMinLength = '@ViewBag.PasswordMinLength';
    var isFullAccess = '@PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.DriverMaintenance, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true)';
</script>
<style>
    /*This class form timepicker*/
    .ui-timepicker-wrapper, .ui-timepicker-container {
        z-index: 999999 !important;
    }
    /*Use disable-anchor-click class from modern.css file*/
    .not-active {
        pointer-events: none;
        cursor: default;
    }

    .ui-jqgrid .ui-jqgrid-bdiv {
        overflow-x: hidden;
        overflow-y: auto;
    }
</style>
<div class="child-body">
    @using (Html.BeginForm("DriverScheduleList", "DriverMaintenance", null, System.Web.Mvc.FormMethod.Post, new { id = "SearchDriverScheduleList" }))
    {
        <div class="form-panel">
            <!--header image starts-->
            <h2>
                <span class="back-arrow">
                    <a href="/Dashboard.aspx">
                        <img src="/Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                    </a>
                </span>
                <img src="/Images/corporate-reports-icon.png" width="48" height="48" style="float: left; margin-right: 10px;" /><div class="h-title">
                    <span style="float: left; font-size: 9pt; text-transform: uppercase;">Facility Operation</span><br />
                    <span style="float: left;">Driver Management</span>
                </div>
                <div class="nav-bar bg-color-none" style="float: right; width: auto; margin-top: 8px;">
                    <div class="nav-bar-inner new">
                    </div>
                </div>
                <div class="clearfix">
                </div>
            </h2>
            <!--<div class="show-map"><button class="image-button bg-color-grayDark fg-color-white">Show route map<img src="Images/map2.png" class="bg-color-blue"></button></div>-->
            <div class="clearfix"></div>
            <!--header image ends-->
            <!--pivot item starts -->
            <div class="metro-pivot touch-info-page corporate-controls">
                <div class="pivot-item">
                    <div class="bg-grey-newfilter">
                        <div class="tiltepanel">
                            <h4 class="title-h4">Search Driver Schedule Hours</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="form-list form-list-new" style="margin-top: 0%;">
                            <li class="width22prcnt">
                                <span class="label-form">Date</span>
                                <span class="value">
                                    <div class="input-control text">
                                        <input type="text" value="@DateTime.Now.ToShortDateString()" name="StartDate" id="StartDate" readonly="readonly" title="Enter date to search records." style="margin-right: 0px; width: 80%;" />
                                        <img src="../Images/calendar-Icon.gif" id="StartDateIcon" />
                                    </div>
                                </span>
                            </li>
                            <li class="width56prcnt">
                                <div class="button-panel" style="margin: 20px auto 0;">
                                    <input type="submit" value="Search" id="btnSearch" title="Click to search." />
                                    <input type="submit" value="Reset" id="btnReset" title="Click to reset page." />
                                    <input type="submit" value="Print" id="btnPrint" title="Click here to print this week driver hours." />
                                    @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.DriverMaintenance, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite))
                                    {
                                        <input type="submit" value="Add New Driver" id="btnAddNewUser" title="Click here to add driver." />
                                    }
                                    else
                                    {
                                        <input type="submit" class="hidden" disabled="disabled" value="Add New Driver" id="btnAddNewUser" title="You don't have permission to add driver." />
                                    }

                                </div>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                </div>
                <div class="clerfix"></div>
                <div style="width: 98%; margin: 0 auto" class="cust-grid-jqgrid">
                    @*<div style="float:left;">
                            <img src="~/Images/goback-btn.png" id="imgPrevious" title="Click to view previous records." />
                        </div>
                        <div style="float:right">
                            <img src="../Images/gonext-btn.png" id="imgNext" title="Click to view next records." />
                        </div>
                        <div class="clearfix"></div>*@
                    <div id="dvDriverScheduleList" class="driver-schedule-list">
                    </div>
                </div>
            </div>
            <div class="clerfix"></div>
        </div>
    }
</div>

@using (Html.BeginForm("SaveDriverDetails", "DriverMaintenance", null, System.Web.Mvc.FormMethod.Post, new { id = "frmSaveDriverDetails" }))
{
    <div id="popup" class="driver-schedule modal-box ui-draggable">
        <header class="ui-draggable-handle">
            <a href="#" class="js-modal-close close">×</a>
            <h3 class="driver-schedule-popuphead"><span id="popupAddEditDriverHead"></span></h3>
        </header>
        <div class="modal-body" id="dvDriverMaintenanceForm">
        </div>
    </div>
}
<div id="popupDriverSchedule" class="driver-schedule modal-box ui-draggable">
    <header class="ui-draggable-handle">
        <a href="#" class="js-modal-close close">×</a>
        <h3>Edit&nbsp;<span class="driver-schedule-popuphead"></span>&nbsp;Details</h3>
    </header>
    <div class="modal-body" id="dvAddEditDriverScheduel">
        @Html.Partial("~/Views/DriverMaintenance/partial/_editDriver.cshtml", (PRFacAppWF.Entities.AddEditDriverViewModel)ViewBag.EditDriverForm)
    </div>
    <footer>
        @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.DriverMaintenance, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true))
        {
            @*<a href="#" id="modalSchduleHours" class="js-modal-updateselectedhours fm-button ui-state-default ui-corner-all">Submit</a>*@
            <a href="#" id="modalUpdateselectedhours" class="js-modal-updateselectedhours fm-button ui-state-default ui-corner-all">Update Selected</a>
            <a href="#" id="modalSaveEditDriverInfo" class="js-modal-savehours fm-button ui-state-default ui-corner-all">Submit</a>
        }
        else
        {
            @*<a href="#" id="modalSchduleHours" class="js-modal-updateselectedhours fm-button ui-state-default ui-corner-all not-active">Submit</a>*@
            <a href="#" id="modalUpdateselectedhours" class="js-modal-updateselectedhours fm-button ui-state-default ui-corner-all not-active">Update Selected</a>
            <a href="#" id="modalSavedriverInfo" class="js-modal-savehours fm-button ui-state-default ui-corner-all not-active">Submit</a>
        }
        <a href="#" id="modalJqgridClose" class="fm-button ui-state-default ui-corner-all js-modal-close">Close</a>
    </footer>
</div>
<script id="tmplAddWeeklyDriverSchedule" type="text/html">
    <tr class="weeklyschedule-row weeklyschedule-row_${index}" data-rowindex="${index}">
        <td>
            <div class="input-control">
                <input type="text" id="WeeklyDayWiseSchedule[${index}].StartTime" name="WeeklyDayWiseSchedule[${index}].StartTime" class="starttime-picker timepicker" value="7:00 AM" title="Please enter driver schedule start time." />
            </div>
        </td>
        <td>
            <div class="input-control">
                <input type="text" id="WeeklyDayWiseSchedule[${index}].EndTime" name="WeeklyDayWiseSchedule[${index}].EndTime" class="endtime-picker timepicker" value="5:00 PM" title="Please enter driver schedule end time." />
            </div>
        </td>
        <td class="width150px">
            <div class="input-control">
                <select id="WeeklyDayWiseSchedule[${index}].DayWork" name="WeeklyDayWiseSchedule[${index}].DayWork" class="weeklyschedue-daywork" title="Please select type of schedule status.">
                    <option role="option" value="S">Scheduled</option>
                    <option role="option" value="C">Off</option>
                    <option role="option" value="O">On-Call</option>
                </select>
            </div>
        </td>
        <td class="width130px center">
            <span class="totalworkinghours">10 hr 0 min</span>
        </td>
        <td class="width30px center">
            <div class="input-control">
                @*<input type="checkbox" class="weeklyscheduleselectall weeklyscheduleselectall_${index}" />*@
                <input class="weeklyscheduleselectall" value="Open" title="Click to select all open days." type="submit">
            </div>
        </td>
        <td class="width6prcnt center">
            <div class="input-control">
                <input type="checkbox" class="weeklyschedule-sunday weeklyscheduleday" data-weekday="sunday" name="WeeklyDayWiseSchedule[${index}].Sunday" id="WeeklyDayWiseSchedule[${index}].Sunday" />
            </div>
        </td>
        <td class="width6prcnt center">
            <div class="input-control">
                <input type="checkbox" class="weeklyschedule-monday weeklyscheduleday" data-weekday="monday" name="WeeklyDayWiseSchedule[${index}].Monday" id="WeeklyDayWiseSchedule[${index}].Monday" />
            </div>
        </td>
        <td class="width6prcnt center">
            <div class="input-control">
                <input type="checkbox" class="weeklyschedule-tuesday weeklyscheduleday" data-weekday="tuesday" name="WeeklyDayWiseSchedule[${index}].Tuesday" id="WeeklyDayWiseSchedule[${index}].Tuesday" />
            </div>
        </td>
        <td class="width6prcnt center">
            <div class="input-control">
                <input type="checkbox" class="weeklyschedule-wednesday weeklyscheduleday" data-weekday="wednesday" name="WeeklyDayWiseSchedule[${index}].Wednesday" id="WeeklyDayWiseSchedule[${index}].Wednesday" />
            </div>
        </td>
        <td class="width6prcnt center">
            <div class="input-control">
                <input type="checkbox" class="weeklyschedule-thursday weeklyscheduleday" data-weekday="thursday" name="WeeklyDayWiseSchedule[${index}].Thursday" id="WeeklyDayWiseSchedule[${index}].Thursday" />
            </div>
        </td>
        <td class="width6prcnt center">
            <div class="input-control">
                <input type="checkbox" class="weeklyschedule-friday weeklyscheduleday" data-weekday="friday" name="WeeklyDayWiseSchedule[${index}].Friday" id="WeeklyDayWiseSchedule[${index}].Friday" />
            </div>
        </td>
        <td class="width6prcnt center">
            <div class="input-control">
                <input type="checkbox" class="weeklyschedule-saturday weeklyscheduleday" data-weekday="saturday" name="WeeklyDayWiseSchedule[${index}].Saturday" id="WeeklyDayWiseSchedule[${index}].Saturday" />
            </div>
        </td>
    </tr>
</script>