﻿@model PRFacAppWF.Entities.UserManagement.AddEditRoleViewModel

@{
    ViewBag.Title = "Role Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/footable")

@Styles.Render("~/Content/css/footable")

@Scripts.Render("~/bundles/RoleManagementAddUpdate")
<script type="text/javascript">
    var URLHelper = {
        getUserList: '@Url.Action("RolesList", "RoleManagement")',
        addEditRole: '@Url.Action("AddEditRole", "RoleManagement")',
        SetRoleActiveInactiveUrl: '@Url.Action("SetRoleStatus", "RoleManagement")'
    };
    var isDriverDefaultRoleGroupName = '@PRFacAppWF.CodeHelpers.Helper.DriverDefaultRoleGroupName';
</script>
<div class="child-body">
    <div class="form-panel">
        <!--header image starts-->
        <h2>
            <span class="back-arrow">
                <a href="/Dashboard.aspx">
                    <img src="/Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                </a>
                <a href="/RoleManagement/Index">
                    <img src="/Images/Previous.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                </a>
            </span>
            <img src="/Images/corporate-reports-icon.png" width="48" height="48" style="float: left; margin-right: 10px;" />
            <div class="h-title">
                <span style="float: left; font-size: 9pt; text-transform: uppercase;">Corporate Controls</span><br />
                <span style="float: left;">Role Management</span>
            </div>
            <div class="nav-bar bg-color-none" style="float: right; width: auto; margin-top: 8px;">
                <div class="nav-bar-inner new">
                </div>
            </div>
            <div class="clearfix">
            </div>
        </h2>
        <div class="clearfix" style="height:10px"></div>
        <!--header image ends-->
        <!--pivot item starts -->
        <div class="metro-pivot touch-info-page">

            <div id="displayRole" style="padding: 10px">
                <table border="0" cellpadding="5" cellspacing="0">
                    @{bool isDefaultDriverGroup = (Model.FAGroupMaster.GroupName == PRFacAppWF.CodeHelpers.Helper.DriverDefaultRoleGroupName); string disabled = ""; }
                    <tr>
                        <td width="10%">
                            <strong>Role Name</strong>
                        </td>
                        <td align="left" width="90%">
                            <div class="input-control text">
                                @if (isDefaultDriverGroup)
                                {
                                    @Html.TextBoxFor(m => m.FAGroupMaster.GroupName, new { id = "GroupName", style = "width:70%;", @readonly = "readonly" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.FAGroupMaster.GroupName, new { id = "GroupName", style = "width:70%;" })
                                }
                                @Html.HiddenFor(m => m.FAGroupMaster.PK_GroupId, new { id = "groupId" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="10%">
                            <strong>Description</strong>
                        </td>
                        <td width="90%">
                            <div class="input-control text">
                                <textarea rows="4" cols="150" id="Description" name="Description">@Model.FAGroupMaster.Description</textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top" colspan="2" align="left" width="100%">
                            <div class="value role-permission">
                                <div style="background-color: #DCDCDC; padding: 10px 15px 0px;">
                                    <div style="float:left;" class="input-control">
                                        <strong>Section Filter</strong>&nbsp;&nbsp;
                                        <select id="ddlFilterArea" style="width: 300px;" title="Select Area to filter.">
                                            <option value="-1">--Select All--</option>
                                            @foreach (var item in Model.FAModuleArea)
                                            {
                                                <option data-applicationid="@item.FK_ApplicationID" value="@item.PK_ID">@item.Description</option>
                                            }
                                        </select>
                                    </div>
                                    <div style="text-align: right;">
                                        @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.RoleManagement, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true))
                                        {
                                            <input type="button" value="Save" id="btnSaveRoleDetailsTop" style="background-color: white">
                                        }
                                        else
                                        {
                                            <input type="button" disabled="disabled" value="Save" id="btnSaveRoleDetailsTop" style="background-color: white">
                                        }
                                        <input type="button" value="Cancel" id="btnCancelRoleDetailsTop" onclick="location.href='/RoleManagement/Index'" style="background-color: white">
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="table-content">
                                    <table class="table-content footable packrat_grid permission" data-page-size="1000" style="width:100% !important">
                                        <thead>
                                            <tr class="theadstyle">
                                                <th data-sort-ignore="true" width="10%">Permission</th>
                                                <th data-sort-ignore="true" width="10%">Section</th>
                                                <th data-sort-ignore="true" width="90px" align="center">Full Access</th>
                                                <th data-sort-ignore="true" width="95px">Read Only</th>
                                                <th data-sort-ignore="true" width="90px">No Access</th>
                                                <th data-sort-ignore="true">Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="permissions-section">
                                                <td colspan="2" data-group="group1"></td>
                                                <td style="text-align:center">
                                                    <input type="radio" name="rbAccessLevel" id="RdReadAndWrite" onclick="checkChildRadios(this);" value="3" />
                                                </td>
                                                <td style="text-align:center">
                                                    <input type="radio" name="rbAccessLevel" id="RdRead" onclick="checkChildRadios(this);" value="2" />
                                                </td>
                                                <td style="text-align:center">
                                                    <input type="radio" name="rbAccessLevel" id="RdNoAccess" onclick="checkChildRadios(this);" value="1" />
                                                </td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr class="applicationhead" data-applicationid="1"><td colspan="6">Facility Application</td></tr>
                                            @{
                                                foreach (var faModule in Model.FacilityAppModule)
                                                {
                                                    //var thisGroupModule = Model.FAGroupMaster.FAGroupAndModule.Where(m => m.FK_ModuleID.Value == faModule.PK_ModuleID).FirstOrDefault();
                                                    <tr data-areaid="@faModule.FK_AreaID">
                                                        <td><span style="padding-left: 50px;">@faModule.ModuleName</span></td>
                                                        <td>@faModule.FAModuleArea.Area</td>
                                                        <td style="text-align:center">
                                                            <input type="hidden" id="hfParentModuleId" value="@faModule.ParentID" />
                                                            <input type="hidden" id="hfChildAreaId" value="@faModule.FK_AreaID" />
                                                            <input type="hidden" id="hfModuleId" value="@faModule.PK_ModuleID" />
                                                            @if (faModule.AccessLevel == PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite)
                                                            {
                                                                <input type="radio" name="fa_module_@faModule.PK_ModuleID" value="3" checked="checked" />
                                                            }
                                                            else
                                                            {
                                                                <input type="radio" name="fa_module_@faModule.PK_ModuleID" value="3" />
                                                            }
                                                        </td>
                                                        <td style="text-align:center">
                                                            @if (faModule.AccessLevel == PRFacAppWF.Entities.Enums.AccessLevel.ReadOnly)
                                                            {
                                                                <input type="radio" name="fa_module_@faModule.PK_ModuleID" value="2" checked="checked" />
                                                            }
                                                            else
                                                            {
                                                                <input type="radio" name="fa_module_@faModule.PK_ModuleID" value="2" />
                                                            }
                                                        </td>
                                                        <td style="text-align:center">
                                                            @if (faModule.AccessLevel == PRFacAppWF.Entities.Enums.AccessLevel.None)
                                                            {
                                                                <input type="radio" name="fa_module_@faModule.PK_ModuleID" value="1" checked="checked" />
                                                            }
                                                            else
                                                            {
                                                                <input type="radio" name="fa_module_@faModule.PK_ModuleID" value="1" />
                                                            }
                                                        </td>
                                                        <td>
                                                            @faModule.Description
                                                        </td>
                                                    </tr>
                                                }
                                                <tr class="applicationhead" data-applicationid="2"><td colspan="6">Driver Application</td></tr>

                                                if (isDefaultDriverGroup)
                                                {
                                                    disabled = "disabled";
                                                }
                                                else {
                                                    disabled = "";
                                                }
                                                foreach (var daModule in Model.DriverAppModule)
                                                {
                                                    <tr data-areaid="@daModule.FK_AreaID">
                                                        <td><span style="padding-left: 50px;">@daModule.ModuleName</span></td>
                                                        <td>@daModule.FAModuleArea.Area</td>
                                                        <td style="text-align:center">
                                                            <input type="hidden" id="hfParentModuleId" value="@daModule.ParentID" />
                                                            <input type="hidden" id="hfChildAreaId" value="@daModule.FK_AreaID" />
                                                            <input type="hidden" id="hfModuleId" value="@daModule.PK_ModuleID" />
                                                            @if (daModule.AccessLevel == PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite)
                                                            {
                                                                <input  type="radio" @disabled name="da_module_@daModule.PK_ModuleID" value="3" checked="checked" />
                                                            }
                                                            else
                                                            {
                                                                <input type="radio" @disabled name="da_module_@daModule.PK_ModuleID" value="3" />
                                                            }
                                                        </td>
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                        <td style="text-align:center">
                                                            @if (daModule.AccessLevel == PRFacAppWF.Entities.Enums.AccessLevel.None)
                                                            {
                                                                <input type="radio" @disabled name="da_module_@daModule.PK_ModuleID" value="1" checked="checked" />
                                                            }
                                                            else
                                                            {
                                                                <input type="radio" @disabled name="da_module_@daModule.PK_ModuleID" value="1" />
                                                            }
                                                        </td>
                                                        <td>
                                                            @daModule.Description
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div style="background-color: rgb(195, 195, 195); padding: 15px 15px 0px;">
                                    <div style="text-align: right;">
                                        @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.RoleManagement, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true))
                                        {
                                            <input type="button" value="Save" id="btnSaveRoleDetailsBottom" style="background-color: white">
                                        }
                                        else
                                        {
                                            <input type="button" disabled="disabled" value="Save" id="btnSaveRoleDetailsBottom" style="background-color: white">
                                        }
                                        <input type="button" value="Cancel" onclick="location.href='/RoleManagement/Index'" id="btnCancelRoleDetails" style="background-color: white">
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="clerfix"></div>
    </div>
</div>
