﻿@{
    ViewBag.Title = "Role Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/RoleManagement")

<script type="text/javascript">
    var URLHelper = {
        getUserList: '@Url.Action("RolesList", "RoleManagement")',
        addEditRole: '@Url.Action("AddEditRole","RoleManagement")',
        SetRoleActiveInactiveUrl: '@Url.Action("SetRoleStatus", "RoleManagement")'
    };

    var isFullAccess = '@PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.RoleManagement, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true)';
    var isDriverDefaultRoleGroupName = '@PRFacAppWF.CodeHelpers.Helper.DriverDefaultRoleGroupName';
</script>
<style type="text/css">
    .ui-jqgrid .ui-jqgrid-btable {
        table-layout: auto;
    }
</style>

<div class="child-body">
    <div class="form-panel">
        <!--header image starts-->
        <h2>
            <span class="back-arrow">
                <a href="/Dashboard.aspx">
                    <img src="/Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                </a>
                <a href="/AdminControls.aspx">
                    <img src="/Images/Previous.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                </a>
            </span>
            <img src="/Images/corporate-reports-icon.png" width="48" height="48" style="float: left; margin-right: 10px;" /><div class="h-title">
                <span style="float: left; font-size: 9pt; text-transform: uppercase;">Admin Controls</span><br />
                <span style="float: left;">Role Management</span>
            </div>
            <div class="nav-bar bg-color-none" style="float: right; width: auto; margin-top: 8px;">
                <div class="nav-bar-inner new">
                </div>
            </div>
            <div class="clearfix">
            </div>
        </h2>
        <div class="clearfix" style="height:10px"></div>
        <!--header image ends-->
        <!--pivot item starts -->
        <div class="metro-pivot touch-info-page corporate-controls">
            <div class="pivot-item">
                <div class="bg-grey-newfilter">
                    <div class="tiltepanel" style="margin-left:20px">
                        <h4 class="title-h4">Search Role</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="form-list form-list-new" style="margin-top: 0%;">
                        <li class="width12prcnt ">
                            <span class="label-form">Role Name</span>
                            <span class="value">
                                <div class="input-control text">
                                    <input type="text" name="txtRoleName" id="txtRoleName" title="Enter role name to search records." />
                                </div>
                            </span>
                        </li>
                        <li class="width24prcnt ">
                            <div class="button-panel" style="margin: 27px auto 0px -100px; ">
                                <input type="submit" value="Search" id="filterJqGrid" title="Click to search." />
                                <input type="submit" onclick="resetform(); return false;" value="Reset" title="Click to reset page." />
                                @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.RoleManagement, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true))
                                {
                                    <input type="submit" onclick='editPage(false, 0); return false;' value="Add New Role" title="Click here to add role." />
                                }
                                else
                                {
                                    <input type="submit" disabled="disabled" value="Add New Role" title="Click here to add role." />
                                }
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>

            </div>
            <div class="clerfix"></div>
            <div style="width: 96%; margin: 0 auto;" class="cust-grid-jqgrid">
                <table id="tblLstRoles" class="border tblCCList"></table>
                <div id="ptblLstRoles" class="cust-grid-jqgrid-page"></div>
            </div>
        </div>
        <div class="clerfix"></div>
    </div>
</div>

