body {
    background: #f3f3f3;
}
#map-canvas  {
    background: #f3f3f3;
     margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
}
.page {
/*    width: 1000px ;
*/    width: 96% ;
    margin: auto;
/*    background-color: #fff;
*/}
.browsers-icons img {
    float: left;
    margin-right: 20px;
}


.github-info {
}


#brand-name {
    line-height: 24px;
    margin-top: 2px;
}

.error
{
    color: red;
}

.show
{
    display: block;
}

.hide
{
    display: none;
}

hr {
    border: 0;
    border-bottom: 1px #ddd dotted;
    color: #ddd;
    background-color: #ddd;
}

#social{
    margin-bottom: 90px;
}
#shareme .box{
    margin:5% 8% 0 8%;
    width:100%;
    clear: both;
}
#shareme .box a{
    color:#404040;
    text-shadow: 0 1px 1px rgba(167,167,167,.4);
}
#shareme .box a:hover{
    text-decoration:none;
}
#shareme .count {
    font-weight:bold;
    font-size:50px;
    float:left;
    border-right:2px solid #57b8d1;
    line-height:40px;
    padding-right:10px
}
#shareme .share {
    float:left;
    margin-left:10px;
    font-size:20px;
    width:82px;
}
#shareme .buttons {
    position: absolute;
    width:294px;
    background-color:#fff;
    border: 1px solid rgba(0,0,0,.2);
    padding:10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    height: 100px;
}
#shareme .button {
    float:left;
    max-width:50px;
    min-width:10px;
    margin:0 15px 0 0;
    background-color: transparent;
}
#shareme .facebook {
    margin:0 4px 0 0;
}

#carousel1 {
    height: 242px;
}

#sponsorBlock {
    height: 300px;
}

#page-index .carousel .control {
    top: auto;
    left: auto;
    bottom: -40px;
}
#page-index .carousel .control.left {
    right: 100px;
}
#page-index .carousel .control.right {
    right: 30px;
}

.charms, .app-bar, .message-dialog, .error-bar, .warning-bar, .info-bar {
    position: absolute;
}

@media (min-width: 768px) and (max-width: 979px) {
    .page {
        width: 724px;
    }
    .hero-unit > img {
        zoom: .6;
    }
    .browsers-icons img {
        zoom: .8;
    }
}

@media (max-width: 767px) {
    .page {
        width: 100%;
    }

    .hero-unit > img {
        zoom: .6;
    }

    .modern-ui-logo {
        width: 24px;
        height: 24px;
    }
    .github-info {
        margin-top: 5px;
    }

    a, .link {
        font-size: 9pt;
    }

    h3 {
        line-height: 11px;
    }

    .no-mobile {
        display: none;
    }

    #carousel1 {
        height: 300px !important;
    }
}

@media (max-width: 480px) {
    .hero-unit img {
        display: none;
    }

    #jetbrains {
        display: none;
    }
    #brand-name {
        display: none;
    }
}
/************************************************************************ CALENDAR CSS ***************************************************************************/



.cellblack {
    background: #595959; /* Old browsers */
    background: -moz-linear-gradient(top, #595959 0%, #4c4c4c 1%, #1c1c1c 91%, #2c2c2c 99%, #2c2c2c 99%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #595959 0%,#4c4c4c 1%,#1c1c1c 91%,#2c2c2c 99%,#2c2c2c 99%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #595959 0%,#4c4c4c 1%,#1c1c1c 91%,#2c2c2c 99%,#2c2c2c 99%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

.cellblue {
    background: #6db3f2; /* Old browsers */
    background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #1e69de 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#1e69de 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

.cellgreen {
    background: #9dd53a; /* Old browsers */
    background: -moz-linear-gradient(top, #9dd53a 0%, #7cbc0a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #9dd53a 0%,#7cbc0a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #9dd53a 0%,#7cbc0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}

.cellpurple {
    background: -moz-linear-gradient(45deg , orange 50%, #f02f17 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, orange 50%, #f02f17 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, orange 50%, #f02f17 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='orange', endColorstr='#f02f17',GradientType=0 ); /* IE6-9 */
}

.cellorange {
     background: -moz-linear-gradient(45deg , orange 40%, #7cbc0a 40%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, orange 50%, #7cbc0a 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, orange 50%, #7cbc0a 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='orange', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}

.cellred {
    background: #f85032; /* Old browsers */
    background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f02f17 71%, #f6290c 74%, #e73827 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f85032 0%,#f16f5c 50%,#f02f17 71%,#f6290c 74%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f02f17 71%,#f6290c 74%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}

.cellwhite {  
background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(45deg,  #e2e2e2 0%, #d1d1d1 16%, #d1d1d1 16%, #dbdbdb 50%, #fefefe 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #e2e2e2 0%,#d1d1d1 16%,#d1d1d1 16%,#dbdbdb 50%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #e2e2e2 0%,#d1d1d1 16%,#d1d1d1 16%,#dbdbdb 50%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
.pop-cal-hoverpanel {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    border: 1px solid lightgray;
    color: black;
    height: auto !important;
    position: absolute;
    width: 220px;
    padding: 5px;
    float: left;
    padding-left: 20px !important;
    z-index: 99999;
    text-align: left;
}

    .pop-cal-hoverpanel span {
        font-size: 14px !important;
        padding: 2px;
        float: left;
    }

    .cal-legend-outer {
    float: left;
    width: 67%;
    text-align: left;
    margin: 5px;
    border: 1px solid lightgray;
    margin-left:20px;
    margin-bottom:20px;
}

    .cal-legend-outer span {
        float: left;
        padding-left: 10px;
        padding-top: 10px;
        text-align: left;
        width: 100%;
        font-weight:bold;
    }

.cal-legend {
    float: left;
    width: 700px;
    margin: 8px;
}

.cal-legend-row {
    float: left;
    width: 160px;
    padding: 4px;
    /*border: 1px solid lightgray;*/
}

.cal-legend-col-1 {
    float: left;
    width: 105px;
    text-align: left;
}

.cal-legend-col-2 {
    float: left;
    width: 35px;
    text-align: left;
}

.login-password-link a {
    color: #fff; 
    text-decoration:underline;
}

.login-panel {
    width:370px !important; height:340px;
}

.ui-draggable-handle:hover {
    cursor: move;
}

.ui-widget {
    font-family: Segoe UI Semilight,Open Sans,Verdana,Arial,Helvetica,sans-serif !important;
}