﻿@using PRFacAppWF.models;
<table class="border tbltruckophours">
    <tbody>
        <tr>
            <th class="width100px" style="border-right: 0px;padding: 0;">
                <div class="badge float-left img-next-previous" id="imgPrevious">
                    <i class="icon-arrow-left-3 fg-color-white" style="font-size: 29pt; margin-top: 5px;"></i>
                </div>
            </th>
            <th class="width12prcnt" style="text-align: left;">
                @Html.Raw(Model.Head.Head)
            </th>
            <th class="width12prcnt">
                @Html.Raw(Model.Head.oDay1.TruckOpHeadDisp)
            </th>
            <th class="width12prcnt">
                @Html.Raw(Model.Head.oDay2.TruckOpHeadDisp)
            </th>
            <th class="width12prcnt">
                @Html.Raw(Model.Head.oDay3.TruckOpHeadDisp)
            </th>
            <th class="width12prcnt">
                @Html.Raw(Model.Head.oDay4.TruckOpHeadDisp)
            </th>
            <th class="width12prcnt">
                @Html.Raw(Model.Head.oDay5.TruckOpHeadDisp)
            </th>
            <th class="width12prcnt">
                @Html.Raw(Model.Head.oDay6.TruckOpHeadDisp)
            </th>
            <th class="width12prcnt" style="border-right: 0px;">
                @Html.Raw(Model.Head.oDay7.TruckOpHeadDisp)
            </th>
            <th class="width100px" style="padding: 0;">
                <div class="badge float-right img-next-previous" id="imgNext">
                    <i class="icon-arrow-right-3 fg-color-white" style="font-size: 29pt; margin-top: 5px;"></i>
                </div>
            </th>
        </tr>
    </tbody>
    <tbody>
        @{
            int day1Total = 0;
            int day2Total = 0;
            int day3Total = 0;
            int day4Total = 0;
            int day5Total = 0;
            int day6Total = 0;
            int day7Total = 0;
            if (Model.TruckCapacility.Count > 0)
            {
                FacilityCapacity facilityOpHrs = Model.FacilityHours;
                <tr>
                    <td colspan="2">
                        @facilityOpHrs.Head
                    </td>
                    <td class="center">
                        @facilityOpHrs.oDay1.DayDisplayValue
                    </td>
                    <td class="center">
                        @facilityOpHrs.oDay2.DayDisplayValue
                    </td>
                    <td class="center">
                        @facilityOpHrs.oDay3.DayDisplayValue
                    </td>
                    <td class="center">
                        @facilityOpHrs.oDay4.DayDisplayValue
                    </td>
                    <td class="center">
                        @facilityOpHrs.oDay5.DayDisplayValue
                    </td>
                    <td class="center">
                        @facilityOpHrs.oDay6.DayDisplayValue
                    </td>
                    <td class="center" colspan="2">
                        @facilityOpHrs.oDay7.DayDisplayValue
                    </td>
                </tr>
                foreach (FacilityCapacity truckInfo in Model.TruckCapacility)
                {
                    day1Total += @truckInfo.oDay1.DayOpMins;
                    day2Total += @truckInfo.oDay2.DayOpMins;
                    day3Total += @truckInfo.oDay3.DayOpMins;
                    day4Total += @truckInfo.oDay4.DayOpMins;
                    day5Total += @truckInfo.oDay5.DayOpMins;
                    day6Total += @truckInfo.oDay6.DayOpMins;
                    day7Total += @truckInfo.oDay7.DayOpMins;
                    <tr>
                        <td colspan="2">
                            <a title="Click to edit." onclick='showTruckOpPopup(@truckInfo.TruckId, "@truckInfo.Head", -1, -1); return false;' href="#">@truckInfo.Head</a>
                        </td>
                        <td class="center">
                            @if (truckInfo.oDay1.IsPermanentTruck == "true" || (truckInfo.oDay1.IsPermanentTruck == "false" && truckInfo.oDay1.DayOpHourId > 0))
                            {
                                <a title="Click to edit." onclick='showTruckOpPopup(@truckInfo.TruckId, "@truckInfo.Head", @truckInfo.oDay1.DayOpHourId, @truckInfo.oDay1.DayOhReason, "@Model.Head.oDay1.TruckOpHead.ToShortDateString()"); return false;' href="#">@Html.Raw(truckInfo.oDay1.DispTruckOpHours)</a>
                            }
                            else
                            { @Html.Raw(truckInfo.oDay1.DispTruckOpHours) }
                        </td>
                        <td class="center">
                            @if (truckInfo.oDay2.IsPermanentTruck == "true" || (truckInfo.oDay2.IsPermanentTruck == "false" && truckInfo.oDay2.DayOpHourId > 0))
                            {
                                <a title="Click to edit." onclick='showTruckOpPopup(@truckInfo.TruckId, "@truckInfo.Head", @truckInfo.oDay2.DayOpHourId, @truckInfo.oDay2.DayOhReason, "@Model.Head.oDay2.TruckOpHead.ToShortDateString()"); return false;' href="#">@Html.Raw(truckInfo.oDay2.DispTruckOpHours)</a>
                            }
                            else
                            { @Html.Raw(truckInfo.oDay2.DispTruckOpHours) }
                        </td>
                        <td class="center">
                            @if (truckInfo.oDay3.IsPermanentTruck == "true" || (truckInfo.oDay3.IsPermanentTruck == "false" && truckInfo.oDay3.DayOpHourId > 0))
                            {
                                <a title="Click to edit." onclick='showTruckOpPopup(@truckInfo.TruckId, "@truckInfo.Head", @truckInfo.oDay3.DayOpHourId, @truckInfo.oDay3.DayOhReason, "@Model.Head.oDay3.TruckOpHead.ToShortDateString()"); return false;' href="#">@Html.Raw(truckInfo.oDay3.DispTruckOpHours)</a>
                            }
                            else
                            { @Html.Raw(truckInfo.oDay3.DispTruckOpHours) }
                        </td>
                        <td class="center">
                            @if (truckInfo.oDay4.IsPermanentTruck == "true" || (truckInfo.oDay4.IsPermanentTruck == "false" && truckInfo.oDay4.DayOpHourId > 0))
                            {
                                <a title="Click to edit." onclick='showTruckOpPopup(@truckInfo.TruckId, "@truckInfo.Head", @truckInfo.oDay4.DayOpHourId, @truckInfo.oDay4.DayOhReason, "@Model.Head.oDay4.TruckOpHead.ToShortDateString()"); return false;' href="#">@Html.Raw(truckInfo.oDay4.DispTruckOpHours)</a>
                            }
                            else
                            {@Html.Raw(truckInfo.oDay4.DispTruckOpHours)}
                        </td>
                        <td class="center">
                            @if (truckInfo.oDay5.IsPermanentTruck == "true" || (truckInfo.oDay5.IsPermanentTruck == "false" && truckInfo.oDay5.DayOpHourId > 0))
                            {
                                <a title="Click to edit." onclick='showTruckOpPopup(@truckInfo.TruckId, "@truckInfo.Head", @truckInfo.oDay5.DayOpHourId, @truckInfo.oDay5.DayOhReason, "@Model.Head.oDay5.TruckOpHead.ToShortDateString()"); return false;' href="#">@Html.Raw(truckInfo.oDay5.DispTruckOpHours)</a>
                            }
                            else
                            { @Html.Raw(truckInfo.oDay5.DispTruckOpHours) }
                        </td>
                        <td class="center">
                            @if (truckInfo.oDay6.IsPermanentTruck == "true" || (truckInfo.oDay6.IsPermanentTruck == "false" && truckInfo.oDay6.DayOpHourId > 0))
                            {
                                <a title="Click to edit." onclick='showTruckOpPopup(@truckInfo.TruckId, "@truckInfo.Head", @truckInfo.oDay6.DayOpHourId, @truckInfo.oDay6.DayOhReason, "@Model.Head.oDay6.TruckOpHead.ToShortDateString()"); return false;' href="#">@Html.Raw(truckInfo.oDay6.DispTruckOpHours)</a>
                            }
                            else
                            { @Html.Raw(truckInfo.oDay6.DispTruckOpHours) }
                        </td>
                        <td class="center" colspan="2">
                            @if (truckInfo.oDay7.IsPermanentTruck == "true" || (truckInfo.oDay7.IsPermanentTruck == "false" && truckInfo.oDay7.DayOpHourId > 0))
                            {
                                <a title="Click to edit." onclick='showTruckOpPopup(@truckInfo.TruckId, "@truckInfo.Head", @truckInfo.oDay7.DayOpHourId, @truckInfo.oDay7.DayOhReason, "@Model.Head.oDay7.TruckOpHead.ToShortDateString()"); return false;' href="#">@Html.Raw(truckInfo.oDay7.DispTruckOpHours)</a>
                            }
                            else
                            { @Html.Raw(truckInfo.oDay7.DispTruckOpHours) }
                        </td>
                    </tr>
                }
                <tr style="background-color: #c3c3c3; font-weight: bold;">
                    <td colspan="2">
                        Total Hours
                    </td>
                    <td class="center">
                        @(string.Format("{0:00}", @day1Total / 60) + " hr " + string.Format("{0:00}", @day1Total % 60) + " min")
                    </td>
                    <td class="center">
                        @(string.Format("{0:00}", @day2Total / 60) + " hr " + string.Format("{0:00}", @day2Total % 60) + " min")
                    </td>
                    <td class="center">
                        @(string.Format("{0:00}", @day3Total / 60) + " hr " + string.Format("{0:00}", @day3Total % 60) + " min")
                    </td>
                    <td class="center">
                        @(string.Format("{0:00}", @day4Total / 60) + " hr " + string.Format("{0:00}", @day4Total % 60) + " min")
                    </td>
                    <td class="center">
                        @(string.Format("{0:00}", @day5Total / 60) + " hr " + string.Format("{0:00}", @day5Total % 60) + " min")
                    </td>
                    <td class="center">
                        @(string.Format("{0:00}", @day6Total / 60) + " hr " + string.Format("{0:00}", @day6Total % 60) + " min")
                    </td>
                    <td class="center" colspan="2">
                        @(string.Format("{0:00}", @day7Total / 60) + " hr " + string.Format("{0:00}", @day7Total % 60) + " min")
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="10">
                        Truck information is not available...!
                    </td>
                </tr>
            }
            <tr>
                <td colspan="10">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="10" style="background-color: #ccc; font-weight: bold; height: 35px;">Facility Capacity</td>
            </tr>
            if (Model.MarketStatistics.Count > 0)
            {
                foreach (DayWiseFacilityCapacity dayStats in Model.MarketStatistics)
                {
                    <tr>
                        @if (dayStats.Head == "Percentage")
                        {
                            <td colspan="2">
                                % of Max Capacity
                            </td>
                            <td class="center">
                                @Html.Raw(dayStats.Day1 + "%")
                            </td>
                            <td class="center">
                                @Html.Raw(dayStats.Day2 + "%")
                            </td>
                            <td class="center">
                                @Html.Raw(dayStats.Day3 + "%")
                            </td>
                            <td class="center">
                                @Html.Raw(dayStats.Day4 + "%")
                            </td>
                            <td class="center">
                                @Html.Raw(dayStats.Day5 + "%")
                            </td>
                            <td class="center">
                                @Html.Raw(dayStats.Day6 + "%")
                            </td>
                            <td class="center" colspan="2">
                                @Html.Raw(dayStats.Day7 + "%")
                            </td>
                        }
                        else
                        {
                            <td colspan="2">
                                @dayStats.Head
                            </td>
                            <td class="center">
                                <span class="@(dayStats.Day1 < 0 ? "red" : string.Empty)">@dayStats.Day1</span>
                            </td>
                            <td class="center">
                                <span class="@(dayStats.Day2 < 0 ? "red" : string.Empty)">@dayStats.Day2</span>
                            </td>
                            <td class="center">
                                <span class="@(dayStats.Day3 < 0 ? "red" : string.Empty)">@dayStats.Day3</span>
                            </td>
                            <td class="center">
                                <span class="@(dayStats.Day4 < 0 ? "red" : string.Empty)">@dayStats.Day4</span>
                            </td>
                            <td class="center">
                                <span class="@(dayStats.Day5 < 0 ? "red" : string.Empty)">@dayStats.Day5</span>
                            </td>
                            <td class="center">
                                <span class="@(dayStats.Day6 < 0 ? "red" : string.Empty)">@dayStats.Day6</span>
                            </td>
                            <td class="center" colspan="2">
                                <span class="@(dayStats.Day7 < 0 ? "red" : string.Empty)">@dayStats.Day7</span>
                            </td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="10">
                        Facility Statistics are not available..!
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<h2></h2>