﻿<div id="truckOpReason">
    <label class="label">
        Reason
    </label>
    <span class="value">
        <div class="input-control">
            <select name="listbox" id="ddlTruckOperations" title="Select reason.">
                <option value="-1">--Select--</option>
                @foreach (var item in this.ViewBag.TruckOHReason)
                {
                    <option value="@item.CAPTruckOHReasonId">@item.ReasonDescription</option>
                }
            </select>
        </div>
    </span>
</div>
<div class="truck-ophours-reason-from">
    <div id="truckTransfers">
        <div class="reason-head">TRANSFER TRUCK FROM&nbsp;<span id="lblPopUpFacilityName">@Session["FacilityName"]</span> </div>
        <ul class="form-list form-list-new">
            <li class="width36prcnt">
                <span class="label-form">Send To</span>
                <div class="clearfix"></div>
                <span class="value">
                    <div class="input-control text">
                        <select class="span2" name="listbox" id="ddlTransferPermFacilites" style="width: 100% !important" title="Select facility to transfer.">
                            <option value="-1">--Select--</option>
                            @foreach (var item in this.ViewBag.Facilities)
                            {
                                <option value="@item.StoreNo">@item.CompDBAName</option>
                            }
                        </select>
                    </div>
                </span>
            </li>
            <li class="width36prcnt">
                <span class="label-form">Reason for Transfer</span>
                <div class="clearfix"></div>
                <span class="value">
                    <div class="input-control text">
                        <select class="span2" name="listbox" id="ddlTransferPermReason" style="width: 100% !important" title="Select reason to transfer.">
                            <option value="-1">--Select--</option>
                            @foreach (var item in this.ViewBag.TransferReason)
                            {
                                <option value="@item.CAPTruckTransferReasonId">@item.TransferReason</option>
                            }
                        </select>
                    </div>
                </span>
            </li>
            <div class="clear"></div>
            <li class="width36prcnt">
                <span class="label-form" >Offline <span id="lblLeaveFacilityOn">@Session["FacilityName"]</span></span>
                <div class="clearfix"></div>
                <span class="value">
                    <div class="input-control text span3 float-left">
                        <input type="text" value="" name="transPermLeaveFacility" id="transPermLeaveFacility" readonly="readonly" style="margin-right:0px" />
                        <button onclick="$('#transPermLeaveFacility').val(''); return false;" class="helper" tabindex="-1" type="button"></button>
                    </div>
                    <div class="float-left mrgntop-8px" id="transPermLeaveFacilityIcon">
                        <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                    </div>
                </span>
            </li>
            <li class="width56prcnt">
                <span class="label-form">Online in <span id="lblTransferPermArriveAt">Facility</span> On*</span>
                <div class="clearfix"></div>
                <span class="value">
                    <div class="input-control text span3 float-left">
                        <input type="text" value="" name="transPermArrFaciliity" id="transPermArrFaciliity" readonly="readonly" style="margin-right:0px" />
                        <button onclick="$('#transPermArrFaciliity').val(''); return false;" class="helper" tabindex="-1" type="button"></button>
                    </div>
                    <div class="float-left mrgntop-8px" id="transPermArrFaciliityIcon">
                        <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                    </div>
                </span>
                <div class="clearfix"></div>
            </li>
            <li class="width56prcnt">
                <span class="black" id="dvTransferPermDetails"></span>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div id="tempHourChange" class="cust-grid-jqgrid">
        <table id="list" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="listPager" class="scroll" style="text-align: center;">
        </div>
        <div id="listPsetcols" class="scroll" style="text-align: center;">
        </div>
        <div class="clear">
        </div>
    </div>
    <div id="truckNoService">
        <div class="reason-head">SERVICE OR REPAIR FOR THIS TRUCK</div>
        <ul class="form-list form-list-new">
            <li class="width32prcnt">
                <span class="label-form">Offline Date</span>
                <div class="clearfix"></div>
                <span class="value">
                    <div class="input-control text span3 float-left">
                        <input type="text" value="" name="MaintenOfflineDate" id="MaintenOfflineDate" readonly="readonly" style="margin-right:0px" />
                        <button onclick="$('#MaintenOfflineDate').val(''); return false;" class="helper" tabindex="-1" type="button"></button>
                    </div>
                    <div class="float-left mrgntop-8px" id="MaintenOfflineDateIcon">
                        <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                    </div>
                </span>
            </li>
            <li class="width32prcnt">
                <span class="label-form">Online Date*</span>
                <div class="clearfix"></div>
                <span class="value">
                    <div class="input-control text span3 float-left">
                        <input type="text" value="" name="MaintenOnlineDate" id="MaintenOnlineDate" readonly="readonly" style="margin-right:0px" />
                        <button onclick="$('#MaintenOnlineDate').val(''); return false;" class="helper" tabindex="-1" type="button"></button>
                    </div>
                    <div class="float-left mrgntop-8px" id="MaintenOnlineDateIcon">
                        <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                    </div>
                </span>
            </li>
        </ul>
        <div class="clearfix"></div>
        <div class="black" id="dvTransferDetails" style="padding: 10px;"></div>
        <div class="clearfix"></div>
    </div>
    <div id="noneReasonMsg" style="padding: 20px;">Please select any option from Reasons dropdown.</div>
</div>