﻿@using PRFacAppWF.models;
<table class="border tblCCList">
    <thead>
        <tr>
            <th onclick="javascript: SortColumn('ApplicationParameter');" class="width12prcnt center" style="text-align:center; cursor:pointer;">
                @Html.Raw("Setting")
                <span><img id="ImageApplicationParameter" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('ApplicationValue');" class="width12prcnt center" style="text-align:center; cursor:pointer;">
                @Html.Raw("Value")
                <span><img id="ImageApplicationValue" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('ValueUnit');" class="width12prcnt center" style="text-align:center; cursor:pointer;">
                @Html.Raw("Measurred in")
                <span><img id="ImageValueUnit" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('Startdate');" class="width22prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("Effective Date")
                <span><img id="ImageStartdate" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('Nextdate');" class="width22prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("Next Date")
                <span><img id="ImageNextdate" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
        </tr>
    </thead>
    <tbody id="dvApplicationSettings"></tbody>
</table>
<h2></h2>
