﻿@using PRFacAppWF.models
@model List<PRFacAppWF.models.ApplicationSettings>

    @if (Model.Count > 0)
    {
        string apParam = string.Empty;
        foreach (ApplicationSettings asInfo in Model)
        {
            <tr>
                <td>
                    @if (asInfo.ApplicationParameter != apParam)
                    { 
                        <a title="Click to edit." onclick='showApplicationSettingsPopup("@asInfo.ApplicationParameter"); return false;' href="#">@asInfo.ApplicationParameter</a>
                    }
                </td>
                <td class="center">
                    @Html.Raw(asInfo.ApplicationValueDisp)
                </td>
                <td class="center">
                    @Html.Raw(asInfo.ValueUnit)
                </td>
                <td class="center">
                    @Html.Raw(asInfo.Startdate.HasValue ? asInfo.Startdate.Value.ToShortDateString() : "-")
                </td>
                <td class="center">
                    @Html.Raw(asInfo.Nextdate.HasValue ? asInfo.Nextdate.Value.ToShortDateString() : "-")
                </td>
            </tr>
            apParam = asInfo.ApplicationParameter;
        }
    }
    else
    {
        <tr>
            <td colspan="4">
                Application Settings are not available...!
            </td>
        </tr>
    }
