﻿<div id="truckOpReason">
    <div>
        <label class="label">
            Application Settings
        </label>
    </div>
    <span class="value">
        <div class="input-control">
            <select name="listbox" id="ddlApplicationSettings" title="Select reason." onchange="loadApplicationSettingChangeGrid(this.value);">
                <option value="-1">--Select Application Settings--</option>
                @foreach (var item in this.ViewBag.AllApplicationSettings)
                {
                    <option value="@item.ApplicationParameter">@item.ApplicationParameter</option>
                }
            </select>
        </div>
    </span>
</div>
<div class="clear"></div>
<div class="truck-ophours-reason-from">
    <div id="avgHourChange">
        <table id="list" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="listPager" class="scroll" style="text-align: center;">
        </div>
        <div id="listPsetcols" class="scroll" style="text-align: center;">
        </div>
        <div class="clear">
        </div>
    </div>
</div>