﻿<div>
    <input type="hidden" id="hfPKId" />
    <input type="hidden" id="hfIsGlobalStatus" />
    <input type="hidden" id="hfActionCategoryID" />
    <ul class="form-list form-list-new" style="margin-top: 0%;height:250px">
        <li class="width48prcnt ">
            <span class="label-form">Stage Area Name:</span>
            <span class="value">
                <div class="input-control text">
                    <input type="text" id="DispStatusName" name="DispStatusName" />
                </div>
            </span>
        </li>
        <li class="width48prcnt ">
            <span class="label-form">Stage Area Description:</span>
            <span class="value">
                <div class="input-control text">
                    <input type="text" id="txtStatusDesc" name="txtStatusDesc" />
                </div>
            </span>
        </li>
        <li class="width48prcnt ">
            <span class="label-form">Status:</span>
            <span class="value">
                <div class="input-control text ">
                    <select class="" name="Status" id="Status" title="Select status to search records.">
                        <option value="A" selected>Active</option>
                        <option value="N">Not Active</option>
                    </select>
                </div>
            </span>
        </li>
        <li class="width48prcnt ">
            <span class="label-form">Category:</span>
            <span class="value">
                <div class="input-control text ">
                    <span name="StatusCategory" id="StatusCategory">
                        Stage
                    </span>
                </div>
            </span>
        </li>
    </ul>
</div>