﻿<div class="pivot-item">
    <div class="bg-grey-newfilter">
        <div class="tiltepanel" style="margin-left:20px">
            <h4 class="title-h4 width100prcnt">
                <span id="hShowHide">Search Stage Areas</span>
               
            </h4>
            <div class="clearfix"></div>
            <ul class="form-list form-list-new" style="margin-top: 0%;">
                <li class="width22prcnt">
                    <span class="label-form">Stage Area</span>
                    <span class="value">
                        <div class="input-control text ">
                            <input type="text" name="txtSearchStatus" id="txtSearchStatus" title="Enter stage area name to search records." style="margin-right: 0px; width: 80%;" />
                        </div>
                    </span>
                </li>
                <li class="width24prcnt">
                    <div class="button-panel">
                        <input type="submit" value="Search" id="btnSearch" title="Click to search." />
                        <input type="submit" id="btnReset" value="Reset" title="Click to reset page." />
                        @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.WarehouseTouchContainerStatus, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true))
                        {
                            <input type="submit" value="Add Stage Area" id="btnAddNewStatus" title="Click to add record." />
                        }
                        else
                        {
                            <input type="submit" value="Add Stage Areas" id="btnAddNewStatus" title="Click to add record." disabled="disabled"/>
                        }
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
