﻿<div id="truckOpReason">
    <div id="corporateDiv" style="display:none;">
        <label class="label">
            Corporate
        </label>
    </div>
    <div id="dropdownDiv" class="input-control">
        <div>
            <label class="label">Facility</label>
        </div>
        <select name="listbox" id="ddlFacilityDetails" title="Select reason." onchange="loadSLMileageChangeGrid(this.value);">
            <option value="-1">--Select--</option>
            @foreach (var item in this.ViewBag.FacilityList)
            {
                <option value="@item.StoreNo">@item.CompDBAName</option>
            }
        </select>
    </div>
    @*<div>
        <label class="label">
            Facility
        </label>
    </div>
    <span class="value">
        <div class="input-control">
            <select name="listbox" id="ddlFacilityDetails" title="Select reason." onchange="loadSLMileageChangeGrid(this.value);">
                <option value="-1">--Select--</option>
                @foreach (var item in this.ViewBag.FacilityList)
                {
                    <option value="@item.StoreNo">@item.CompDBAName</option>
                }
            </select>
        </div>
    </span>*@
</div>
<div class="clear"></div>
<div class="truck-ophours-reason-from">
    <div id="avgHourChange">
        <table id="list" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="listPager" class="scroll" style="text-align: center;">
        </div>
        <div id="listPsetcols" class="scroll" style="text-align: center;">
        </div>
        <div class="clear">
        </div>
    </div>
</div>