﻿@{
    ViewBag.Title = "Facility Operating Hours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/facilityophours")
<script type="text/javascript">
    var URLHelper = {
        addAndGetFacilityOperatingHourUrl: '@Url.Action("AddAndGetFacilityOperatingHour", "FacilityOperatingHour")',
        saveFacilityHourChangeUrl: '@Url.Action("SaveFacilityHourChange", "FacilityOperatingHour")'
    };

    var DbFacilityNumber = '@ViewBag.FacilityNumber';
    var isFullAccess = '@PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.FacilityOperatingHour, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite)';
</script>

<style>
    /*This class form timepicker*/
    .ui-timepicker-wrapper, .ui-timepicker-container {
        z-index: 999999 !important;
    }

    .ui-jqgrid-view {
        z-index: 0 !important;
    }
</style>
@*<link href="@Url.Content("~/Content/css/jquery.timepicker.min.css?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" rel="stylesheet" />*@
<div class="child-body">
    <div class="form-panel">
        <!--header image starts-->
        <h2>
            <span class="back-arrow">
                <a href="../Dashboard.aspx">
                    <img src="../Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                </a>
            </span>
            <div class="h-title">
                <span style="float: left; margin-top: 13px">Facility Operations</span>
            </div>
            <div class="clearfix"></div>
        </h2>
        <div class="clearfix"></div>
        <!--header image ends-->
        <!--pivot item starts -->
        <div class="metro-pivot touch-info-page">
            @using (Html.BeginForm("AddFacilityOperatingHour", "FacilityOperatingHour", null, System.Web.Mvc.FormMethod.Post, new { id = "FacilityOperatingHourFilterCriteria", onsubmit = "" }))
            {
                <div class="pivot-item">
                    <div class="bg-grey">
                        <div class="tiltepanel">
                            <h4 class="title-h4">Facility Operational Hours</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="form-list form-list-new" style="margin-top: 0%;">
                            <li class="width18prcnt">
                                <span class="label-form">Start Date</span>
                                <div class="clearfix"></div>
                                <span class="value">
                                    <div class="input-control text ">
                                        <input type="text" value="" name="FacilityOpHourStartDate" id="FacilityOpHourStartDate" readonly="readonly"
                                               title="Enter start date to search records." style="margin-right: 0px; width: 80%;" />
                                        <img id="FacilityOpHourStartDateIcon" src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                                    </div>
                                </span>
                            </li>
                            <li class="width18prcnt">
                                <span class="label-form">End Date</span>
                                <div class="clearfix"></div>
                                <span class="value">
                                    <div class="input-control text">
                                        <input type="text" value="" name="FacilityOpHourEndDate" id="FacilityOpHourEndDate" readonly="readonly" title="Enter end date to search records." style="margin-right: 0px; width: 80%;" />
                                        <img id="FacilityOpHourEndDateIcon" src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                                    </div>
                                </span>
                            </li>
                            <li class="width18prcnt">
                                <span class="label-form"></span>
                                <div class="clearfix"></div>
                                <div class="button-panel" style="margin-top: 25px;">
                                    <input type="submit" value="Show" id="btnShow" title="Click to search." />
                                    <input type="submit" onclick="this.form.reset();" id="btnReset" value="Reset" title="Click to reset page." />
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    @*<div class="button-panel">
                            <input type="submit" value="Show" id="btnShow" title="Click to search." /><input type="submit" onclick="this.form.reset();" id="btnReset" value="Reset" title="Click to reset page." />
                        </div>*@
                </div>
            }
            <div class="clerfix"></div>
            @*<div id="facilityHourChange" class="cust-grid-jqgrid1">*@
            <div id="facilityHourChange" class="cust-grid-jqgrid">
                <table id="list" class="scroll" cellpadding="0" cellspacing="0"></table>
                <div id="listPager" class="scroll" style="text-align: center;">
                </div>
                <div id="listPsetcols" class="scroll" style="text-align: center;">
                </div>
                <div class="clear">
                </div>
                <div style="padding: 10px 0;" id="dvModalUpdateselectedhours">
                    @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.FacilityOperatingHour, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite))
                    {
                        <input id="modalUpdateselectedhours" type="submit" title="Click here to update selected hours." value="Update Selected" style="letter-spacing: 1.5px; font-size: 14px;">
                    }
                    else
                    {
                        <input id="modalUpdateselectedhours" type="submit" title="Click here to update selected hours." value="Update Selected" style="letter-spacing: 1.5px; font-size: 14px; " disabled="disabled">
                    }
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="clerfix"></div>
    </div>
</div>