﻿@model PR.LocalLogisticsSolution.Model.Touch
@if (Model != null)
{
    string myClass = "";
    string draggable = "true";
    string background = "white";
    string trClass = "";
    //if (stop.TransiteCustRef.Confirmed)
    //{
    //    myClass = "confirmed";
    //}
    if (Model.Status == "Completed")
    {
        draggable = "false";
        background = "#D8D8D8";
        trClass = " ui-state-disabled";
        Model.Color = "black";
    }

    <tr class="@(Model.Status == "Completed" ? trClass : "selector-draggable ") selector-droppable @trClass @(Model.OriginAddress.IsAddressValid == false || Model.DestAddress.IsAddressValid == false ? "invalid-address-touch" : string.Empty)" data-globalsitenum="@Model.GlobalSiteNum"  touchid="@Model.TouchId" style="background-color:@background;color:@Model.Color;" data-NoLatLang="@(Model.OriginAddress.IsAddressValid == false || Model.DestAddress.IsAddressValid == false ? "True" : "False")">
        <td data-toggle="true" class="@myClass">
            @Model.CustomerName
            <input type="hidden" value="@Model.LoadId" id="hdnLoadID" name="hdnLoadID" />
        </td>
        <td class="TouchNumberDisp">
            @Model.TouchNumberDisp
        </td>
        <td class="@(Model.WeightStnReq == true ? "weightT" : "")">
            @if (Model.OriginAddress != null)
            {
                <span>
                    @Model.OriginAddress.AddressLine1,
                    @Model.OriginAddress.AddressLine2,
                    @Model.OriginAddress.City,
                    @Model.OriginAddress.State,
                    @Model.OriginAddress.Zip

                </span>
            }
            @if (@Model.ProvidedETASettings.CanDisplayETAStatus == true)
            {
                <label class="float-right" style="padding-left:5px; padding-right:5px; background-color:@Model.ProvidedETASettings.BackGroundColor; color:@Model.ProvidedETASettings.TextColor">ETA</label>
            }
        </td>
        <td class="destAddress">
            @if (Model.DestAddress != null) { 
                <span>
                    @Model.DestAddress.AddressLine1,
                    @Model.DestAddress.AddressLine2,
                    @Model.DestAddress.City,
                    @Model.DestAddress.State,
                    @Model.DestAddress.Zip
                </span>
            }
        </td>
        <td>
            @Model.Qorid
            <input type="hidden" value="@Model.OrderNumber" class="TouchOrderNumber" />
        </td>
        @*<td>Company</td>*@
        <td>@Model.PhoneNumber</td>
        @*<td>@touch.Obstacles</td>
        <td>@touch.DriveWay</td>*@
        @*<td>@touch.DoorToFront</td>
        <td>@touch.DoorToRear</td>*@
        <td>@Model.DoorPOS</td>
        <td>@(Model.WeightStnReq != null && Model.WeightStnReq.Value ? "Yes" : "No")</td>
        <td>@Model.Instructions</td>
        <td>@Model.ScheduledDate</td>
        <td>@(Math.Round(Model.SiteLinkMileage, 1))</td>
        <td>@Model.StartTime</td>
        <td>@Model.RouteSequence</td>
        <td>
            @if (@Model.ProvidedETASettings.CanDisplayETAStatus == true)
            {
                <label>@Model.ProvidedETASettings.ProvidedETARange</label>
            }
        </td>

    </tr>
}