﻿@model PR.LocalLogisticsSolution.Model.FacilityInfo

@if (Model != null)
{
    foreach (var load in Model.Loads)
    {
        //if (load.Touches != null && load.Touches.Count> 0)
        //{

        <article class="module width_quarter main-driverload" id="mainLoad-@load.DriverId" data-DayWork="@load.DriverSchedule.DayWork" data-globalsite-num="@Model.GlobalSiteNum" data-islocked="@(load.IsLocked ? "true" : "false")">
            <header>
                <div class="driver-load-head-section">
                    <input type="hidden" value="@load.LoadId" id="hdnLoadID-@load.DriverId" data-driverid="@load.DriverId" name="hdnLoadID-@load.DriverId" class="hdnLoadAndDriverID" />
                    <div class="driver-load-drivername-options" style='@(load.DriverSchedule.DayWork != PR.UtilityLibrary.PREnums.DriverDayOfWork.S ? "border: 1px solid red":"")'>
                        @if (load.IsLocked)
                        {
                            <input type="image" src="/Images/lock-icon.png" class="btnLock" id="btnLock" onclick="UnlockLoad(@load.LoadId,  this, 'mainload', @load.DriverId);" data-islocked="true" title="Un-Lock" width="18" />
                        }
                        else
                        {
                            @*<input type="image" id="btnLock" src="/Images/unlock-icon.png" class="btnLock" onclick="LockLoad(@load.LoadId, this, 'mainload');" data-islocked="false" title="Lock" width="18" />*@
                            <input type="image" id="btnLock" src="/Images/unlock-icon.png" class="btnLock" data-islocked="false" width="18" />
                        }
                        <span class="head">@load.DriverNameWithFacilityCode (<span id="cntTouchesFor-@load.DriverId">@(load.Touches != null ? @load.DisplayTouches.Count : 0)</span>)</span>
                        <div class="float-right">
                            <div id="tooltip_@load.DriverId" class="settings-button"><img src="~/content/css/images/cog.png" alt=" alternate text" /></div>
                            <div id="user-options_@load.DriverId" class="toolbar-icons" style="display: none;">
                                <a href='#' onclick='PrintLoad(@load.LoadId); return false;'> <i class="icon-print" id="Print_@load.DriverId" class="PrintLoad" title="Print this load" width="18"></i></a>
                                &nbsp;
                                <a href='#' onclick='DriverTouchesShowOnMap(@load.DriverId); return false;' class="SendAuthReq" data-dialog-id="AuthRequest" data-dialog-title="Driver Route Path" id="ViewMap_@load.DriverId" title="view map">
                                    <i class="icon-map-marker"></i>
                                </a>
                                @if (!load.CanDeleteLoad)
                                {
                                    <a><i id="Delete_@load.DriverId" class="deleteLoad icon-trash" title="Delete this load" onclick="deleteLoad(@load.LoadId, @load.DriverId); return false;"></i></a>
                                }
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="driver-load-truck-section input-control">
                        @*@if (@load.ScheduleStartDateTime.HasValue && @load.ScheduleStartDateTime.Value.AddMinutes(-30).ToLocalTime() > Convert.ToDateTime(@load.DriverSchedule.StartTime).ToLocalTime())
                            {
                                <span>Override @load.ScheduleStartDateTime.Value.ToShortTimeString()</span>
                            }
                            else
                            {*@
                        @*}*@
                        <select class="dropdown load-truck width48prcnt" data-loadid="@load.LoadId" id="LoadTruck-@load.DriverId" name="model.Loads[0].TruckID" onchange="CheckDuplicateTrucks(this);">
                            <option value="">-- Select Truck --</option>
                            @foreach (var truck in ViewBag.lTrucks)
                            {
                                if (load.TruckID == truck.TruckId)
                                {
                                    <option selected="selected" class="@(Model.Loads.Any(l => l.TruckID == truck.TruckId) ? "redColorClass" : "")" value="@truck.TruckId">@truck.TruckNumberWithFacCode</option>
                                }
                                else
                                {
                                    <option value="@truck.TruckId" class="@(Model.Loads.Any(l => l.TruckID == truck.TruckId) ? "redColorClass" : "")">@truck.TruckNumberWithFacCode</option>
                                }
                            }
                        </select>
                        <span class="driver-load-time float-right">
                            @*@if (load.IsLocked || (load.CreatedDateTime < DateTime.Now.Date))
                                {
                                    <span id="spanDriverHours">@load.DriverSchedule.StartTime - @load.DriverSchedule.EndTime  </span>
                                }
                                else
                                {*@
                            <a id="aEditDriverScheduleHours" data-islocked="@(load.IsLocked ? "true" : "false")" data-loadStartTime="@load.LoadStartTime" data-loadEndTime="@load.LoadEndTime" data-isDriverStarted="@load.IsDriverStarted" data-driverid="@load.DriverId" data-startTime="@load.DriverSchedule.StartTime" data-endTime="@load.DriverSchedule.EndTime"
                               data-scheduleDate="@load.DriverSchedule.ScheduleDate" onclick='showPopup(this); return false;'>
                                <span>@load.DriverSchedule.StartTime - @load.DriverSchedule.EndTime</span>
                            </a>
                            @*}*@
                        </span>
                    </div>
                </div>
            </header>
            <div class="message_list table-content">
                <div>
                    <input type="hidden" value="@load.TruckID" id="hdnLoadTruck-@load.DriverId" />
                    @*<label>Truck Number:  @load.TruckNumber</label>*@
                    @if (load.IsTrailerRequired)
                    {
                        <img src="~/Images/Trailer.png" title="Trailer Required" />
                        <label>Trailer Number :@load.TrailerNumber</label>
                    }
                </div>
                @if (load.IsAlreadyLoadCreatedForOtherFacilityForThisDriver == true)
                {
                    <div class="error" style="padding: 10px;">Load has been created for this driver by @load.StoreNoAlreadyLoadCreatedForOtherFacilityForThisDriver Facility. If you want to create load for this facility, please delete load in other facility and reload page and try again</div>
                }
                else
                {
                    @Html.Partial("~/Views/LocalLogistics/partial/_DriverLoad.cshtml", load)
                }
            </div>
        </article>
        //}
    }
}
<style>
    .weightT {
        background: url(/Images/weightT.png) bottom right no-repeat !important;
    }

    .confirmed {
        background: url(/Images/tick.png) bottom right no-repeat;
    }
    /*body { padding: 15px; font-size: 11px; font-family: Arial }*/
</style>
