﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLocalLogistics.cshtml";
}

<script type="text/javascript">
    var URLHelper = {
        RealodUrl: '@Url.Action("GetDriverTouches", "LocalLogistics")',
        UnSheduleTouchesUrl: '@Url.Action("FetchUnassignedTouches", "LocalLogistics")',
        UpdateLoadTruckUrl: '@Url.Action("UpdateLoadTruck", "LocalLogistics")',
        addTouchToLoadUrl: '@Url.Action("AddTouchtoLoad", "LocalLogistics")',
        removeOrderfromLoadUrl: '@Url.Action("RemoveTouchFromLoad", "LocalLogistics")',
        removeCancleTouchfromLoadUrl: '@Url.Action("RemoveCancleTouch", "LocalLogistics")',
        plotMarkersUrl: '@Url.Action("PlotMarkers", "LocalLogistics")',
        //touchDetailsForMarkerUrl: '@Url.Action("TouchDetailsForMarker", "LocalLogistics")',
        PrintLoadUrl: '@Url.Action("PrintLoad", "LocalLogistics")',
        LoadLockUrl: '@Url.Action("LoadLock", "LocalLogistics")',

        GetDriversUrl: '@Url.Action("GetDrivers", "LocalLogistics")',
        GetTrucksUrl: '@Url.Action("GetTrucks", "LocalLogistics")',
        SaveDriverTouchesUrl: '@Url.Action("SaveDriverTouches", "LocalLogistics")',
        DeleteLoadUrl: '@Url.Action("DeleteLoad", "LocalLogistics")',

        InitOptimizationLoadUrl: '@Url.Action("InitOptimizationLoad", "LocalLogistics")',
        FetchLoad: '@Url.Action("StartOptimization", "LocalLogistics")',
        GroupingTouchesUrl: '@Url.Action("GroupTouches", "LocalLogistics")',
        SaveTouchSortOrderUrl: '@Url.Action("SaveTouchSortOrder", "LocalLogistics")',
        SaveStopOptimizationUrl: '@Url.Action("SaveStopOptimization", "LocalLogistics")',
        UnGroupThisTouchGroupUrl: '@Url.Action("UnGroupThisTouchGroup", "LocalLogistics")',
        AddBreakTouchStopUrl: '@Url.Action("AddBreakTouchStop", "LocalLogistics")',
        RemoveBreakTouchAndStopUrl: '@Url.Action("RemoveBreakTouchAndStop", "LocalLogistics")', 
        GetMissingAddressListMapViewUrl: '@Url.Action("GetMissingAddressListMapView", "LocalLogistics")',
        GetMissingAddressListForEditorUrl: '@Url.Action("GetMissingAddressListForEditor", "LocalLogistics")',
        UpdateMissingAddressListUrl: '@Url.Action("UpdateAddress", "LocalLogistics")',
        SaveFullAddressForLatLngURL: '@Url.Action("UpdateFullAddressFromMap", "LocalLogistics")',
        LoadUnassignedTouchesFromSession: '@Url.Action("FetchUTouchesFromUpdatedAddressList", "LocalLogistics")',
        UpdateMissingAddressFromMapUrl:'@Url.Action("UpdateAddressFromMap", "LocalLogistics")',

        ReScheduleSkippedTouch: '@Url.Action("RescheduleSkippedTouch", "LocalLogistics")',
        saveDriverScheduleHours: '@Url.Action("SaveDriverScheduleHoursFromLocalDispatch", "DriverMaintenance")',

        validAddressUrl: '@Url.Action("ValidateAddress", "LocalLogistics")',

        getTransporationTouchesIntoSession: '@Url.Action("GetTransporationTouchesIntoSession", "LocalLogistics")'
    }

    var latitude = '@ViewBag.latitude';
    var longitude = '@ViewBag.longitude';
    var latlang = '@ViewBag.latLang';
</script>

<div class="form-panel content-locallogistics">
    <!--header image starts-->
    <!--<div class="show-map"><button class="image-button bg-color-grayDark fg-color-white">Show route map<img src="Images/map2.png" class="bg-color-blue"></button></div>-->
    <div class="clearfix"></div>
    <!--header image ends-->
    <!--pivot item starts -->
    <div class="metro-pivot touch-info-page">
        <div class="content-panel-new">

            <div class="clearfix"></div>
            <div id="card">
                <div class="front" id="gridView">
                    <div style="padding: 5px 0 5px 0; display: none;" id="dvAddressIssue">
                        <article style="border: 1px solid #ccc; color: red !important; padding: 3px;">
                            <header>
                                <span>
                                    @*<a href="#" style="color:red;" class="button" onclick="opendialog()" id="btnAddressIssue" style="color: #fff !important">Unable to calculate a route for one of the scheduled touches.  Click here to fix it.</a>*@
                                    <a href="#" style="color:red;" class="button" onclick="OpenEvalLatLongAddressPopup();" id="btnAddressIssue" style="color: #fff !important">Unable to map touch(es).  Click here to fix.</a>
                                </span>
                            </header>
                        </article>
                    </div>
                    <aside id="sidebar" class="column">
                        @*<div class="grey-box">*@
                        <ul>
                            <li>
                                <div id="divUnAssinedTouches"></div>
                            </li>
                        </ul>
                    </aside>
                    <section id="main" class="column grid-box">
                        <div id="divDriverTouches"></div>
                        <!-- end of messages article -->
                        <div class="clear">
                        </div>
                        <div class="spacer">
                        </div>
                    </section>
                    <div class="progress" style="display: none;" id="divProgress">
                        <img src="~/Images/preloader-w8-line-black.gif" id="progress3" />
                    </div>
                    <div id="printdialog">
                    </div>
                </div>
                <div class="back" style="height:100%;" id="mapView">
                    <div style="width:auto;height:100%;">
                        <div id="map-canvas" style="position:relative;width:auto;height:600px;">
                        </div>
                        <div id="map-menu" class="panel-box map-form">
                            <h3>Details<div class="map-icon-col" id="btnToggleDetails"><a href="#"><img src="~/Images/LocalLogistics/expnd-icon.png" width="16" height="16" alt="" onclick="" /></a></div></h3>
                            <span id="allMapForms">
                                <span id="mapFormDetails">
                                    <h4>Assign touches</h4>
                                    <div class="light-bg">
                                        <div class="map-icon-lft"><img src="~/Images/LocalLogistics/driver-icon.png" width="30" height="30" alt="" /></div>
                                        <div id="dvpAvailableDrivers" class="input-control select fld-new">
                                        </div>
                                        <div class="clear"></div>
                                        <div class="map-icon-lft"><img src="~/Images/LocalLogistics/truck-icon.png" width="30" height="30" alt="" /></div>
                                        <div id="dvpAvailableTrucks" class="input-control select fld-new">
                                        </div>
                                        <div class="clear"></div>
                                        <input type="submit" value="Submit" class="srch-btn btn-new" id="btnUpdateMappoints" onclick="return false;">&nbsp;
                                        <input type="submit" value="Optimize" class="srch-btn" style="display:none;" id="btnOptimizeTouches" onclick="return false;">
                                        <div class="clear"></div>
                                    </div>
                                    <h4 id="MapTimeFilter">
                                        Filter&nbsp;
                                        <span class="space">
                                            <input type="checkbox" value="all" id="chkAllFilter" class="chkTouchType" checked="checked" />&nbsp;All
                                        </span>&nbsp;
                                        <span class="space">
                                            <input type="checkbox" value="AM" class="chkTouchType chkTouchTypeCount" checked="checked" />&nbsp;AM
                                        </span>&nbsp;
                                        <span class="space">
                                            <input type="checkbox" value="PM" class="chkTouchType chkTouchTypeCount" checked="checked" />&nbsp;PM
                                        </span>&nbsp;
                                        <span class="space">
                                            <input type="checkbox" value="Anytime" class="chkTouchType chkTouchTypeCount" checked="checked" />&nbsp;Any
                                        </span>
                                    </h4>
                                    <h4 id="MapFacilityFilter">
                                        Facilities&nbsp;
                                        @foreach (KeyValuePair<string, string> item in ViewBag.FacilitiesMarket)
                                        {
                                            <span class="space">
                                                <input type="checkbox" value="@item.Key" class="chkFacilityFilter" checked="checked" />&nbsp;@item.Value
                                            </span>
                                        }
                                    </h4>
                                    <div id="dvpAvailableDriverDetails">
                                    </div>
                                </span>
                                <span id="mapOptimizeTouches" style="display: none;">
                                    <div id="divDataTable" style=""></div>
                                </span>
                                <span id="mapOptimizeStops" style="display: none;">
                                    <div id="divDataTableForStops" style=""></div>
                                </span>

                            </span>
                        </div>
                        <div id="mapAddressIssue" class="map-form" style="display:none;">
                            <h3 style="background: #00628e;font-size: 13px;color: #fff;margin: 0px;padding: 5px 10px;font-weight: bold;position: relative;">
                                Unable to map touch(es). Click the address link to fix.
                                <div class="map-icon-col" id="btnInvalidAddrssToggleDetails">
                                    <a href="#"><img src="/Images/LocalLogistics/expnd-icon.png" width="16" height="16" alt="" onclick=""></a>
                                </div>
                            </h3>
                            <div id="mapAddressIssueContent">
                            </div>
                        </div>

                        <span style="display: none;" id="htmlMapinfowindow">
                            <div id='mapInfoWindow'>
                                <label id='CustNm' class='main-head'>{CustomerName}</label><label style="padding-left:5px; padding-right:5px; float:right" class="main-head hdProvETA">ETA</label><hr />
                                <span><label class='info-head'>Touch: </label><label id='tchType'>{TouchNumberDisp}</label></span><br />
                                <span><label class='info-head'>From: </label><label id='frmAdd'>{FromAddress}</label></span><br />
                                <span><label class='info-head'>To: </label><label id='toAdd'>{ToAddress}</label></span><br />
                                <span><label class='info-head'>Salesforce Mileage: </label><label id='siteLinkMileage'>{SiteLinkMileage}</label></span><br />
                                <span><label class='info-head'>Instructions: </label><label id='tchIns'>{TouchInstructions}</label><br /></span>
                                <span><label class='info-head'>Weight Ticket: </label><label id='WeightStnReq'>{WeightStnReqDisp}</label></span>
                                <span><label class='info-head'>Door Position: </label><label id='doorPOS'>{DoorPOS}</label><br /></span>
                                <span><label class='info-head'>Order Number: </label><label id='unitCt'>{orderNumber}</label><br /></span>
                                <span><label class='info-head'>Touch Time: </label><label id='StartTime'>{StartTime}</label><br /></span>
                                <span class="scheduled-time info-head"><label class='info-head'>Scheduled Time: </label><label id='unitCt'>{ScheduledTime}</label></span>
                                <span class="ETAClass">
                                    <label class="info-head provETAlabel">ETA Provided: </label><label class="provETA">{ProvidedETA}</label>
                                    <br />
                                </span>
                                <span><label class='info-head'>Driver: </label><label id='Driver'>{DriverNm}</label></span>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div id="confirmation-pop" class="message-dialog bg-color-oliveDark" style="display: none; color: #fff;">
                <div class="popup-hdr">
                    <div class="pop-left">
                        <h3>Confirmation</h3>
                    </div>
                    <div class="pop-right">
                        <img width="32" height="32" src="../Images/Cancel.png" class="bClose" onclick="onConfirmNo();" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p class="pop-para" id="LLSConfirmBody"></p>
                <div class="clearfix"></div>
                <br />
                <button class="place-right bClose" id="LLSYes" onclick="onConfirmYes(); return false;">Yes</button>
                <button class="place-right bClose" id="LLSNo" onclick="onConfirmNo(); return false;">No</button>
            </div>
            <div id="alert-pop" class="message-dialog bg-color-oliveDark" style="display: none; color: #fff;">
                <div class="popup-hdr">
                    <div class="pop-left">
                        <h3 class="alert-pop-title">Error</h3>
                    </div>
                    <div class="pop-right">
                        <img width="32" height="32" src="../Images/Cancel.png" class="bClose" onclick="onAlertOk();" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p class="pop-para" id="LLSAlertBody"></p>
                <div class="clearfix"></div>
                <br />
                <button class="place-right bClose" id="LLSOk" onclick="onAlertOk(); return false;">Ok</button>
            </div>
            <div id="alert-popwar" class="message-dialog bg-color-oliveDark" style="display: none; color: #fff;">
                <div class="popup-hdr">
                    <div class="pop-left">
                        <h3 class="alert-pop-title">Warning!</h3>
                    </div>
                    <div class="pop-right">
                        <img width="32" height="32" src="../Images/Cancel.png" id="imgClose" class="bClose" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p class="pop-para" id="LLSAlertBody"></p>
                <div class="clearfix"></div>
                <br />
                <button class="place-right bClose" id="WarCancel">Continue</button>
                <button class="place-right bClose" id="WarOk">Ok</button>
            </div>

            <div id="Confirm-New" class="message-dialog bg-color-oliveDark" style="display: none; color: #fff;">
                <div class="popup-hdr">
                    <div class="pop-left">
                        <h3 class="alert-pop-title">Warning!</h3>
                    </div>
                    <div class="pop-right">
                        <img width="32" height="32" src="../Images/Cancel.png" id="imgClose" class="bClose" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p class="pop-para" id="LLSAlertBody"></p>
                <div class="clearfix"></div>
                <br />
                <button class="place-right bClose" id="WarOk" onclick="ConfirmOk(); return false;">Cancel</button>
                <button class="place-right bClose" id="WarCancel" onclick="ConfirmContinue(); return false;">Continue</button>
            </div>

            <div id="ConfirmLatLang" class="message-dialog bg-color-oliveDark" style="display: none; color: #fff;">
                <div class="popup-hdr">
                    <div class="pop-left">
                        <h3 class="alert-pop-title">Unable to map touch.</h3>
                    </div>
                    <div class="pop-right">
                        <img width="32" height="32" src="../Images/Cancel.png" id="imgClose" class="bClose" onclick="closeConfirmLatLng(); return false;"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p class="pop-para" id="LLSAlertBody">Please choose from the following options: Edit Address (Strongly recommended), Do Not Assign, Proceed – Add Touch (This will cause the address to not display properly when routing).</p>
                <div class="clearfix"></div>
                <br />
                <input type="hidden" id="latLngOrderNum" />
                @*change method to this bottom to display popup*@
                <button class="place-right bClose" id="WarCancel" onclick="AddTouch(); return false;">Proceed, Add Touch</button>
                <button class="place-right bClose" id="WarOk" onclick="CancelAdding(); return false;">Do Not Assign</button>
                <button class="place-right bClose" id="EditTouch" onclick="RedirectTOTouchPage(); return false;">Edit Address</button>                
            </div>

            <div class="clearfix"></div>
        </div>
        <div id="modalAddressUpdater" class="popup"></div>

        <div id="modalAddressesEditor" class="popup" style="display:none;">   
            <div class="editaddress-mainhead">
                <div class="pop-left">
                    <h3>Edit Addresses</h3>
                </div>
                <div class="pop-right">
                    <img width="32" height="32" src="../Images/Cancel.png" id="imgClose" onclick="clearPopupAddressEditor();" class="bClose" />
                </div>
                <div class="clearfix"></div>
            </div>        
            @Html.Partial("~/Views/LocalLogistics/partial/_EditAddressPopup.cshtml")
        </div>
        <div class="popup-overlay"></div>
    </div>
    <div class="clerfix"></div>
</div>
<div id="dialogContent" title="Edit Driver Schedule Hours">
    <form action="#" method="post" id="editForm">
        <table id="TblGrid_list" class="EditTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr id="FormError" style="display:none">
                    <td class="ui-state-error" colspan="2"></td>
                </tr>
                <tr style="display:none" class="tinfo">
                    <td class="topinfo" colspan="2"></td>
                </tr>
                <tr style="display:none" rowpos="1" class="FormData" id="tr_DriverScheduleDateIndex">
                    <td class="CaptionTD">DriverScheduleDateIndex</td>
                    <td class="DataTD">&nbsp;<input type="text" id="dates" name="dates" role="textbox" class="FormElement ui-widget-content ui-corner-all"></td>
                </tr>
                <tr rowpos="2" class="FormData" id="tr_DayWork" style="display:none">
                    <td class="CaptionTD">Status</td>
                    <td class="DataTD"><select role="select" autofocus id="DayWork" name="DayWork" size="1" class="FormElement"><option role="option" value="S">Scheduled</option><option role="option" value="C">Off</option><option role="option" value="O">On-Call</option></select></td>
                </tr>
                <tr rowpos="3" class="FormData" id="tr_ScheduleStartTime">
                    <td class="CaptionTD">Start Time</td>
                    <td class="DataTD input-control"><input type="text" id="ScheduleStartTime" name="ScheduleStartTime" role="textbox" class="FormElement ui-widget-content ui-corner-all driver-schedule-hours-ld">*</td>
                </tr>
                <tr rowpos="4" class="FormData" id="tr_ScheduleEndTime">
                    <td class="CaptionTD">End Time</td>
                    <td class="DataTD input-control"><input type="text" id="ScheduleEndTime" name="ScheduleEndTime" role="textbox" class="FormElement ui-widget-content ui-corner-all driver-schedule-hours-ld">*</td>
                </tr>
                <tr rowpos="5" class="FormData" id="tr_DriverWorkingHours">
                    <td class="CaptionTD">Operating Hours</td>
                    <td class="DataTD"><span class="FormElement"><span class="oprationHoursDuration customelement" id="DriverWorkingHours" name="DriverWorkingHours">10 hr 0 min</span></span></td>
                </tr>
                <tr class="FormData" style="display:none">
                    <td class="CaptionTD"></td>
                    <td colspan="1" class="DataTD">
                        <input class="FormElement" id="id_g" type="text" name="list_id" value="">
                        <input class="FormElement" id="driverID" type="text" name="driverID" value="">
                        <input class="FormElement" id="isLocalDispatch" type="text" name="isLocalDispatch" value="true" />

                        <input class="FormElement" id="loadEndTimeForEditDriverSchedule" type="text" name="loadEndTimeForEditDriverSchedule" value="" />
                        <input class="FormElement" id="loadStartTimeForEditDriverSchedule" type="text" name="loadStartTimeForEditDriverSchedule" value="" />
                        <input class="FormElement" id="isLockedForEditDriverSchedule" type="text" name="isLockedForEditDriverSchedule" value="true" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="clerfix"></div>
<style>
    .footable > tbody > tr > td {
        border-left: 1px solid #CCCCCC;
        border-top: 1px solid #CCCCCC;
        padding: 3px;
        text-align: left;
        font-size: 12px;
    }

    #dialogContent {
        display: none;
    }

    #response {
        border: 1px solid green;
        margin-top: 20px;
        padding: 15px;
    }

    #dialogContent p {
        margin-bottom: 1.5em;
    }

    .record {
        margin-bottom: 20px;
        padding: 5px;
        border: 1px solid red;
    }

    .ui-dialog {
        z-index: 1;
        width: 315px;
        height: 266px;
    }

    .ui-dialog-title {
        font-size: 12px;
    }

    table.EditTable tbody tr td, table.DelTable tbody tr td {
        font-size: 12px;
    }

    .ui-timepicker-container {
        z-index: 999999 !important;
    }

    .ui-widget input {
        width: 110px;
    }

    ui-widget-content {
        width: 100%;
        overflow: hidden;
        height: 150px;
    }

    .ui-dialog .ui-dialog-buttonpane button {
        min-width: 10px;
        font-size: 12px;
    }    
</style>