﻿@model PR.LocalLogisticsSolution.Model.Market
@*<div class="market-loads">*@
<div class="assiged-main-section">
    <div class="assiged-main-section-head">ASSIGNED TOUCHES</div>
    <div class="assiged-main-section-body" id="assignedtouches">
        @foreach (var faciltiy in Model.Facilities)
        {
            @*<div class="market-facility-load">*@
            <div class="">
                @*<div class="head">@faciltiy.LegalName<span class="market-loadtoggle" onclick="toggleFacilityLoad(this);"></span></div>*@
                @Html.Partial("~/Views/LocalLogistics/DriverLoad.cshtml", faciltiy)
                @*<div class="clear"></div>*@
            </div>
        }
    </div>
</div>