﻿@model PR.LocalLogisticsSolution.Model.Load

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Content/css/MediaLoot/layout.css?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/css/modern-responsive.css?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/modern.css?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/site.css?ts=" + @PRFacAppWF.CodeHelpers.Helper.VersionNumber)" rel="stylesheet" />

    <script type="text/javascript">
        function printLoad() {
            var touches = document.getElementById('stopsCount').value;

            if (touches > 0) {
                this.window.print();
                this.window.close();
                self.close();
            }
        }

        function CloseWindow() {
            window.close();
            self.close();
        }
    </script>
</head>
<body onload="printLoad()">
    <input type="hidden" id="stopsCount" name="stopsCount" value="@Model.Touches.Count()" />
    @if (Model != null)
    {
        var load = Model;
        var processedGUID = new List<Guid>();
        <div class="no-print print-load">
            <input type="button" value="Print" class="srch-btn" id="btnPrintLoad" onclick="printLoad(); return false;">&nbsp;<input type="button" value="Close" class="srch-btn" id="btnCloseWindow" onclick="CloseWindow(); return false;">
        </div>
        <table>
            <tr>
                <th>Customer Name</th>
                <th>Order No</th>
                <th>Type</th>
                <th>From Address</th>
                <th>To Address</th>
                <th>Phone Number</th>
                <th>Scheduled StartDateTime</th>
                <th>Scheduled EndDateTime</th>
            </tr>
            @foreach (var stop in load.GetThisLoadOptimizedStops)
            {
                <tr>
                    <td>@stop.CustomerName</td>
                    <td>@stop.Touch.OrderNumberDisp</td>
                    <td>@stop.TouchStopTypeAcronym</td>
                    <td>
                        @if (stop.OriginAddress != null)
                        {
                            <span class="orgAdr">
                                @stop.OriginAddress.AddressLine1,
                                @stop.OriginAddress.City,
                                @stop.OriginAddress.State,
                                @stop.OriginAddress.Zip
                            </span>
                        }
                    </td>
                    <td>
                        @if (stop.DestinationAddress != null)
                        {
                            <span class="destAdr">
                                @stop.DestinationAddress.AddressLine1,
                                @stop.DestinationAddress.City,
                                @stop.DestinationAddress.State,
                                @stop.DestinationAddress.Zip
                            </span>
                        }
                    </td>
                    <td>
                        @stop.PhoneNumber
                    </td>
                    <td>
                        @stop.ScheduledStartTime@*.ToString("HH:mm")*@
                    </td>
                    <td>
                        @stop.ScheduledEndTime@*.ToString("HH:mm")*@
                    </td>
                </tr>
            }
        </table>
        <div class="no-print print-load">
            <input type="button" value="Print" class="srch-btn" id="btnPrintLoad" onclick="printLoad(); return false;">&nbsp;<input type="button" value="Close" class="srch-btn" id="btnCloseWindow" onclick="CloseWindow(); return false;">
        </div>
    }
</body>
</html>
