﻿@model PR.LocalLogisticsSolution.Model.Touch
@if (Model != null)
{
    string myClass = "";
    string draggable = "true";
    string background = "white";
    string trClass = "";

    if (Model.Status == "Completed")
    {
        draggable = "false";
        background = "#D8D8D8";
        trClass = " ui-state-disabled";
        Model.Color = "black";
    }
    
    <tr class="@Model.Status selector-draggable selector-droppable @(Model.OriginAddress.IsAddressValid == false || Model.DestAddress.IsAddressValid == false ? "invalid-address-touch" : string.Empty)" data-globalsitenum="@Model.GlobalSiteNum" touchid="@Model.OrderId" style="color:@(Model.Status=="Completed"?"":Model.Color)" data-NoLatLang="@(Model.OriginAddress.IsAddressValid == false || Model.DestAddress.IsAddressValid == false ? "True" : "False")">

        <td class="@Model.Confirmed">@Model.CustomerName</td>
        <td class="TouchNumberDisp">
            @Model.TouchNumberDisp
        </td>
        <td class="@(Model.WeightStnReq == true ? "weightT" : "")">
            @if (Model.OriginAddress.AddressType == PR.UtilityLibrary.PREnums.AddressType.Warehouse)
                {
                <label>@Model.OriginAddress.City - Warehouse</label>
            }
            else
            {
                <label>@Model.OriginAddress.City, @Model.OriginAddress.State, @Model.OriginAddress.Zip</label>
            }
            -<br />
            @if (Model.DestAddress.AddressType == PR.UtilityLibrary.PREnums.AddressType.Warehouse)
                {
                <label>@Model.DestAddress.City - Warehouse</label>
            }
            else
            {
                <label>@Model.DestAddress.City @Model.DestAddress.State @Model.DestAddress.Zip</label>
            }
            @if (@Model.ProvidedETASettings.CanDisplayETAStatus == true)
                {
                <label class="float-right" style="padding-left:5px; padding-right:5px; background-color:@Model.ProvidedETASettings.BackGroundColor; color:@Model.ProvidedETASettings.TextColor">ETA</label>
            }
        </td>
        <td>
            @if (Model.DestAddress != null)
                {
                <span class="destAddress">
                    @Model.DestAddress.FullAddress
                </span>
            }
        </td>
        <td>
            @Model.Qorid
            <input type="hidden" value="@Model.OrderNumber" class="TouchOrderNumber" />
        </td>
        @*<td>Company</td>*@
        <td>@Model.PhoneNumber</td>
        @*<td>@item.Obstacles</td>
            <td>@item.DriveWay</td>*@
        @*<td>@item.DoorToFront</td>
            <td>@item.DoorToRear</td>*@
        <td>@Model.DoorPOS</td>
        <td>@(Model.WeightStnReq != null && Model.WeightStnReq.Value ? "Yes" : "No")</td>
        <td>@Model.Instructions</td>
        <td>@Model.ScheduledDate.ToString("d")</td>
        <td>@Model.StartTime</td>
        <td>@(Math.Round(Model.SiteLinkMileage, 1))</td>
        <td class="hide">

            @if (@Model.ProvidedETASettings.CanDisplayETAStatus == true)
                {
                <label>@Model.ProvidedETASettings.ProvidedETARange</label>
            }
        </td>
    </tr>    
}