﻿@model PR.LocalLogisticsSolution.Model.Load

@if (Model != null)
{
    var load = Model;
    var processedGUID = new List<Guid>();
    <h3>Optimize Stops</h3>
    <article class="" id="leftControlPanel_OptStops" data-islocked="@(load.IsLocked ? "true" : "false")">
        <input type="hidden" value="@(load.IsOptimized ? "true" : "false")" id="LoadIsOptimized" />
        <input type="hidden" value="@load.ScheduleStartDateTime.Value.ToString("HH:mm:ss")" id="driverStartTimeStopLevel" />
        <input type="hidden" value="@load.LoadId" id="hdnLoadID-@load.DriverId" data-driverid="@load.DriverId" name="hdnLoadID-@load.DriverId" class="hdnLoadAndDriverID" />
        <input type="hidden" class="stopsDriverStartTime" value="@load.ScheduleStartDateTime.Value.ToString("HH:mm:ss")" />
        @if (load.IsLocked)
        {
            <input type="image" src="/Images/lock-icon.png" class="btnLock opt-lockimg" id="btnLock" onclick="UnlockLoad(@load.LoadId, this, 'lockstops');" data-islocked="true" title="Un-Lock" width="18" />
        }
        else
        {
            @*<input type="image" id="btnLock" src="/Images/unlock-icon.png" class="btnLock opt-lockimg" onclick="LockLoad(@load.LoadId, this, 'lockstops');" data-islocked="false" title="Lock" width="18" />*@
            <input type="image" id="btnLock" src="/Images/unlock-icon.png" class="btnLock opt-lockimg" data-islocked="false" width="18" />
        }

        <label id="driverName" class="opt-drivername" style="margin-top: 4px;"></label>
        <div class="opt-touchcount" style="margin-top: 5px;">
            (<span id="cntTouchesFor-@load.DriverId" style="font-weight: bold;">@(load.Touches != null ? @load.Touches.Count : 0)</span>)
            <span id="spanDriverHours">@load.DriverSchedule.StartTime - @load.DriverSchedule.EndTime  </span>

            @*<a id="aEditDriverScheduleHours" data-driverid="@load.DriverId" data-startTime="@load.DriverSchedule.StartTime" data-endTime="@load.DriverSchedule.EndTime"
               data-scheduleDate="@load.DriverSchedule.ScheduleDate" onclick='showPopup(this); return false;' style="font-size: 12px; cursor:pointer;">
                <span>@load.DriverSchedule.StartTime - @load.DriverSchedule.EndTime  </span>
            </a>*@
        </div>

        
        

        <div class="clear"></div>
        @if (load.Touches != null && load.Touches.Count() > 0)
        {
            Guid? guidForTrailerHookNUnhook = Guid.NewGuid();
            bool inTrailerZone = false;
            int index = -1;
            <div class="table-content opt-stop-table-content">
                <ol class="stop-optimization stop-optimization-sortable">
                    @foreach (var stop in load.GetThisLoadOptimizedStops)
                    {
                        index++;
                        if (stop.Touch.GroupGUID != null && processedGUID.Contains((Guid)stop.Touch.GroupGUID) == true)
                        {
                            continue;
                        }
                        if (load.StopsTrailerHookupHere(stop.TouchStopId) == true)
                        {
                            inTrailerZone = true;
                            guidForTrailerHookNUnhook = Guid.NewGuid();
                            @Html.Raw("<li id='grouped_@guidForTrailerHookNUnhook' class='sortparent trailerGroup'>")
                            @Html.Raw("<ol class='group-items group-items-sortable'>")
                            <li class="trailerrowtoggle" data-trailerid="@stop.Touch.TrailerId" data-touchid="@stop.Touch.TouchId" data-weightstnreq="@stop.Touch.WeightStnReq" data-guid="@guidForTrailerHookNUnhook" id="hookup_@guidForTrailerHookNUnhook" status="@stop.Status">
                                <span style="font-weight:bold;">
                                    Hookup - Trailer (@stop.Touch.Trailer.FleetID)<img class="trailerrowdelete trailerrow_@stop.Touch.TrailerId" alt="X" src="/Images/close.png" style="float: right; display: none;">
                                </span>
                            </li>
                        }
                        if (stop.Touch.GroupGUID != null)
                        {
                            <li id="grouped_@stop.Touch.GroupGUID" data-weightstnreq="@stop.Touch.WeightStnReq" data-touchid="@stop.Touch.TouchId" class="sortchild @stop.TouchStatus">
                                <div class="group" id="touchgroup_@stop.Touch.GroupGUID" style="padding-left: 7px;">
                                    <span style="font-weight: bold;">Group Sequence: @load.GetGroupTouchesSequence(stop.Touch.GroupGUID)</span>&nbsp;
                                </div>
                                @Html.Partial("~/Views/LocalLogistics/partial/optimizedStopGroup.cshtml", load.GetGroupedStops(stop.Touch.GroupGUID),
                  new ViewDataDictionary { { "IsOptimized", load.IsOptimized }, { "lstWarehouseAddress", ViewBag.lstWarehouseAddress } })
                            </li>
                            processedGUID.Add((Guid)stop.Touch.GroupGUID);
                        }
                        else
                        {

                            string sortClass = (inTrailerZone == false ? "sortparent" : "sortchild");
                            if (stop.Touch.TouchType == "BT" && stop.BusyTime.BreakID > 0)
                            {
                                <li id="BusyTime_@stop.TouchStopId" data-breaktime="@stop.BusyTime.BreakTime.Value.TotalMinutes" data-stopid="@stop.TouchStopId" data-weightstnreq="@stop.Touch.WeightStnReq" data-touchid="@stop.Touch.TouchId" class="busytime busytimerowtoggle @stop.TouchStatus">
                                    @(stop.BusyTime.Comment)&nbsp;<img class="busytimerowdelete busytimerow_@stop.TouchStopId" alt="X" src="/Images/close.png" style="float: right; display: none;">
                                </li>
                            }
                            else
                            {
                                <li id="SortStopId_@stop.TouchStopId" style="color:@stop.Touch.Color;" data-weightstnreq="@stop.Touch.WeightStnReq" data-touchid="@stop.Touch.TouchId" data-stopid="@stop.TouchStopId" class="@sortClass busytime-handler @stop.TouchStatus" groupid="" trailerguid="" status="@stop.Status">
                                    @Html.Partial("~/Views/LocalLogistics/partial/optimizedStopRow.cshtml", stop,
                   new ViewDataDictionary { { "IsOptimized", load.IsOptimized }, { "lstWarehouseAddress", ViewBag.lstWarehouseAddress } })
                                </li>
                            }
                        }
                        if ((index == (load.GetThisLoadOptimizedStops.Count() - 1) && inTrailerZone == true) || load.StopsTrailerUnHookHere(stop.TouchStopId) == true)
                        {
                            inTrailerZone = false;
                            <li data-weightstnreq="@stop.Touch.WeightStnReq" data-trailerid="@stop.Touch.TrailerId" data-touchid="@stop.Touch.TouchId" data-guid="@guidForTrailerHookNUnhook" id="unhook_@guidForTrailerHookNUnhook" style="" class="trailerrowtoggle @stop.TouchStatus">
                                <span style="font-weight:bold;">Un-Hook - Trailer (@stop.Touch.Trailer.FleetID) <img class="trailerrowdelete trailerrow_@stop.Touch.TrailerId" alt="X" src="/Images/close.png" style="float: right; display: none;"></span>
                            </li>
                            @Html.Raw("</li>")
                            @Html.Raw("</ol>")
                        }
                    }
                </ol>
            </div>
            <div class="opt-action-pan">
                <input type="button" value="Back" class="srch-btn" id="btnCancelOptimizeTouches" onclick="CancelStopOptimization(); return false;">
                <input type="button" value="Route Map" class="srch-btn" id="btnDrawMap" onclick="stopsDrawRoute()" />
                <input type="button" value="Save" class="srch-btn" id="btnOptimizeStops" onclick="SaveOptimizedStops(); return false;">
            </div>
        }
        else
        {
            <div style="margin: 15px; font-weight:bold;">There are no touches assigned for this load.</div>
            <div class="opt-action-pan">
                <input type="button" value="Back" class="srch-btn" id="btnCancelOptimizeTouches" onclick="CancelStopOptimization(); return false;">
            </div>
        }
    </article>
}

<style>
    .weightT {
        background: url(/Images/weightT.png) bottom right no-repeat !important;
    }

    .confirmed {
        background: url(/Images/tick.png) bottom right no-repeat;
    }
</style>