﻿@model PR.LocalLogisticsSolution.Model.Load

@if (Model != null)
{
    var load = Model;
    var processedGUID = new List<Guid>();
    <article class="" id="leftControlPanel" data-islocked="@(load.IsLocked ? "true" : "false")">
        <input type="hidden" value="@(load.IsOptimized ? "true" : "false")" id="LoadIsOptimized" />
        <input type="hidden" value="@load.DriverSchedule.Hours" id="DriverWorkHours_3GTMS" />
        <input type="hidden" value="@load.LoadId" id="hdnLoadID-@load.DriverId" data-driverid="@load.DriverId" name="hdnLoadID-@load.DriverId" class="hdnLoadAndDriverID" />
        @if (load.IsLocked)
        {
            <input type="image" src="~/Images/lock-icon.png" class="btnLock opt-lockimg" data-name="@load.IsLocked" title="Lock" />
        }
        else
        {
            <input type="image" src="~/Images/unlock-icon.png" class="btnLock opt-lockimg" data-name="@load.IsLocked" title="unLock" />
        }
        <label class="opt-drivername" style="margin-top: 5px;"></label>
        <div class="opt-touchcount" style="margin-top: 5px;">
            &nbsp;(<span id="cntTouchesFor-@load.DriverId" style="font-weight:bold;">@(load.DisplayTouches != null ? @load.DisplayTouches.Count : 0)</span>)
            @*@if (load.IsLocked || (load.CreatedDateTime < DateTime.Now.Date))
            {
                <span>@load.DriverSchedule.StartTime - @load.DriverSchedule.EndTime</span>
            }
            else
            {*@
                <a id="aEditDriverScheduleHours" data-islocked="@(load.IsLocked ? "true" : "false")" data-loadStartTime="@load.LoadStartTime" data-loadEndTime="@load.LoadEndTime" data-isDriverStarted="@load.IsDriverStarted" data-driverid="@load.DriverId" data-startTime="@load.DriverSchedule.StartTime" data-endTime="@load.DriverSchedule.EndTime" data-scheduleDate="@load.DriverSchedule.ScheduleDate" onclick='showPopup(this); return false;' style="font-size: 12px; cursor:pointer;">
                    <span>@load.DriverSchedule.StartTime - @load.DriverSchedule.EndTime</span>
                </a>
            @*}*@
        </div>
        <form style="margin-top: 4px; margin-right: 4px; float: right;">
            <div class="input-control">
                <span class="boldncenter" style="margin-top: 5px; width: 69px !important;">Start At:&nbsp;</span>
                <input id="driverStartTime" data-driverschedulestarttime="@load.DriverSchedule.StartTime" data-islocked="@(load.IsLocked ? "true" : "false")" name="driverStartTime" @(load.IsDriverStarted ? "disabled=\"disabled\"" : "") style="width: 100px !important; margin-right: 0px; padding-right: 2px !important; " type="text" autocomplete="off" value="@(load.ScheduleStartDateTime.HasValue ? load.ScheduleStartDateTime.Value.ToString("hh:mm tt") : "08:00 AM")">
            </div>
        </form>        
        <div class="clear"></div>
        @if (load.Touches != null && load.Touches.Count() > 0)
        {
            Guid? guidForTrailerHookNUnhook = Guid.NewGuid();
            <div class="table-content opt-table-content">
                <div id="addTrailerLink" style="margin: 5px 0 5px 5px; display:none;">
                    <input type="button" value="Add Trailer" class="srch-btn" id="addaTrailerLink" onclick="addTrailer(); return false;" style="color: #FFF;">
                </div>
                <div id="dvAddTrailerInfo" style="display: none; float: left; margin: 5px 0px 2px 5px;">
                    @Html.DropDownListFor(
                                   model => model.TrailerID,
                                      new System.Web.Mvc.SelectList(ViewBag.Trailers, "TrailerID", "FleetID", @load.TruckID),
                                "-- Select --",
                                new
                                {
                                    @class = "dropdown load-trailer",
                                    @id = "Trailer-" + @load.DriverId,
                                    @data_LoadId = @load.LoadId
                                })
                    <input type="button" value="Add" class="srch-btn" id="btnAddTrailerOptimizeTouches" onclick="AddTrailerOptimizeTouches(@load.DriverId); return false;" style="color: #FFF;">
                    <input type="button" value="Cancel" class="srch-btn" id="btnCancelAddTrailerOptimizeTouches" onclick="addTrailer(); return false;" style="color: #FFF;">
                </div>
                <div class="clear"></div>

                <ol class="touch-optimization touch-optimization-sortable">
                    @foreach (var touch in load.DisplayTouches)
                    {
                        if (touch.GroupGUID != null && processedGUID.Contains((Guid)touch.GroupGUID) == true)
                        {
                            continue;
                        }
                        if (load.TrailerHookupHere(touch.TouchId) == true)
                        {
                            guidForTrailerHookNUnhook = Guid.NewGuid();
                            <li class="trailerrowtoggle sortparent" data-trailerid="@touch.TrailerId" data-touchid="@touch.TouchId" data-weightstnreq="@touch.WeightStnReq" data-guid="@guidForTrailerHookNUnhook" id="hookup_@guidForTrailerHookNUnhook">
                                <span style="font-weight:bold;">
                                    Hookup - Trailer (@touch.Trailer.FleetID)<img class="trailerrowdelete trailerrow_@guidForTrailerHookNUnhook" alt="X" src="/Images/close.png" style="float: right; display: none;">
                                </span>
                            </li>
                        }
                        if (touch.GroupGUID == null)
                        {
                            <li id="SortTouchId_@touch.TouchId" style="color:@touch.Color;" class="sortparent" data-touchid="@touch.TouchId" data-weightstnreq="@touch.WeightStnReq">
                                @Html.Partial("~/Views/LocalLogistics/partial/optimizedTouchRow.cshtml", touch)
                            </li>
                        }
                        else
                        {
                            <li id="grouped_@touch.GroupGUID" class="sortparent" data-touchid="@touch.TouchId" data-weightstnreq="@touch.WeightStnReq">
                                <div class="group" id="touchgroup_@touch.GroupGUID" style="padding-left: 7px;">
                                    <span style="font-weight: bold;">Group Sequence: @load.GetGroupTouchesSequence(touch.GroupGUID)</span>&nbsp;
                                    <a href="#" id="@touch.GroupGUID.ToString()" style="cursor: pointer; font-weight: bold;text-decoration: underline;" data-loadid="@load.LoadId" data-guid="@touch.GroupGUID.ToString()" onclick="UnGroupThisTouchGroup(@load.LoadId, '@touch.GroupGUID.ToString()'); return false;">Un-Group</a>
                                </div>
                                @Html.Partial("~/Views/LocalLogistics/partial/optimizedTouchGroup.cshtml", load.GetGroupTouches(touch.GroupGUID))
                            </li>
                            processedGUID.Add((Guid)touch.GroupGUID);
                        }
                        if (load.TrailerUnHookHere(touch.TouchId) == true)
                        {
                            <li class="trailerrowtoggle sortparent" data-weightstnreq="@touch.WeightStnReq" data-trailerid="@touch.TrailerId" data-guid="@guidForTrailerHookNUnhook" id="unhook_@guidForTrailerHookNUnhook" style="">
                                <span style="font-weight:bold;">Un-Hook - Trailer (@touch.Trailer.FleetID) <img class="trailerrowdelete trailerrow_@guidForTrailerHookNUnhook" alt="X" src="/Images/close.png" style="float: right; display: none;"></span>
                            </li>
                        }
                    }
                </ol>
            </div>
            <div style="margin: 15px; font-weight: bold;">
                @*<input type="checkbox" class="" name="overrideConstraint" id="overrideconstraint" />&nbsp;&nbsp;Ignore routing warnings*@
            </div>
            <div class="opt-action-pan">
                <input type="button" value="Back" class="srch-btn" id="btnCancelOptimizeTouches" onclick="CancelTouchOptimization(); return false;">
                <input type="button" value="Group It" class="srch-btn" id="btnGroupTchs" />
                @*<input type="button" value="test It" class="srch-btn" id="btntouch" onclick="drawTouchesRoute()" />*@
                <input type="button" value="Save & Continue" class="srch-btn" id="btnSaveSortAndOptimizeStops" onclick="SaveSortAndOptimizeStops(); return false;">
                @*<input type="button" value="validateTouchTimings" class="srch-btn" id="btnvalidatetime" onclick="validateTouchTiming()" />*@
            </div>
        }
        else
        {
            <div style="margin: 15px; font-weight:bold;">There are no touches assigned for this load.</div>
            <div class="opt-action-pan">
                <input type="button" value="Back" class="srch-btn" id="btnCancelOptimizeTouches" onclick="CancelTouchOptimization(); return false;">
            </div>
        }
    </article>
}

<style>
    .weightT {
        background: url(/Images/weightT.png) bottom right no-repeat !important;
    }

    .confirmed {
        background: url(/Images/tick.png) bottom right no-repeat;
    }
</style>
