﻿@model PR.LocalLogisticsSolution.Model.Touch
@if (Model != null)
{
    <div>
        <div>
            <span>
                Driver:
            </span>
            @Html.DropDownListFor(
                            model => model[0].TruckID,
                             new System.Web.Mvc.SelectList(ViewBag.lDrivers, "DriverId", "FirstName", @Model.LoadId),
                            "-- Select --",
                            new
                            {
                                @class = "dropdown load-truck",
                                //@onChange = "CheckDuplicateTrucks(this);",
                                @id = "LoadTruck-" + @Model.LoadId,
                                @data_LoadId = @Model.LoadId
                            })
        </div>
        <div>
            <span>
                Trucks:
            </span>
            @Html.DropDownListFor(
                            model => model[0].TruckID,
                              new System.Web.Mvc.SelectList(ViewBag.lTrucks, "TruckId", "TruckNumber", @Model.LoadId),
                            "-- Select --",
                            new
                            {
                                @class = "dropdown load-truck",
                                //@onChange = "CheckDuplicateTrucks(this);",
                                @id = "LoadTruck-" + @Model.LoadId,
                                @data_LoadId = @Model.LoadId
                            })
        </div>
        <div>
            -TODO-
        </div>
    </div>
}
