﻿@model PR.LocalLogisticsSolution.Model.Market
<article class="module width_full gray-box unassigned-touch-main">
    <header>
        <div class="unassigned-touch-head">
            Number Of Facilities - @Model.Facilities.Count
        </div>
    </header>
    <div class="table-content unassigned-touch-body" id="unassignedtouches">
        @foreach (var faciltiy in @Model.Facilities)
        {
            <div class="market-facility" storenumber="@faciltiy.GlobalSiteNum">
                <div class="head">
                    @faciltiy.LegalName@Html.Raw("&nbsp;-&nbsp;(")<span id="cntUnassignedTouches-@faciltiy.GlobalSiteNum">@faciltiy.Touches.Count()</span>@Html.Raw(") ")
                    <span class="unassigned-touchlabel-count">
                        @*Touches - <span id="cntUnassignedTouches" class="unassigned-count">@faciltiy.Touches.Count</span>*@
                        <span class="market-loadtoggle" onclick="toggleFacilityUnassignedTouches(this);"></span>
                    </span>
                </div>
                <table class="table-content footable packrat_grid tblunassignedtouches" id="tblunassignedtouchesFacility-@faciltiy.GlobalSiteNum" data-page-size="1000" style="width:100% !important">
                    @Html.Partial("~/Views/LocalLogistics/partial/_UnassignedTouches.cshtml", faciltiy.Touches)
                </table>
            </div>
        }
    </div>
</article>

<style>
    #tblunassignedtouches .True {
        background: url(/Images/tick.png) bottom right no-repeat !important;
    }

    .weightT {
        background: url(/Images/weightT.png) bottom right no-repeat;
    }
</style>
