﻿@model List<PR.LocalLogisticsSolution.Model.Touch>

<div class="popup-body">
    <div class="wp-popup">
        UNABLE TO CALCULATE A ROUTE FOR THESE TOUCHES
    </div>
    <hr />
    <div class="popup-content">
        <p>
            The touches below were not able to be routed.  If you see an issue with the address, please update it in Salesforce then drag the touch back to the unassigned grid to get the new address information.<br />
            If the address is correct, please provide a latitude & longitude so the touches can be routed.
            <ul style="float:left;text-align:left; line-height:16px; font-size:small !important;">
                <li>
                    Click on the link <a target="_blank" href="http://www.latlong.net">Latlong.net</a>.
                </li>
                <li>
                    Type or paste in the touch address and click the Find button
                </li>
                <li>
                    Copy the Latitude and Longitude for the address from latlong.net and paste it in to the appropriate boxes below.
                    Be sure to copy the entire number including the negative sign for the longitude and 6 numbers after the decimal point. For example:<i>Latitude: 30.168766, Longitude: -81.625960</i>
                </li>

            </ul>
        </p>

        <table class="table-content footable packrat_grid footable" id="tblAddressList">

            <thead>
                <tr class="theadstyle">
                    <th data-class="expand" data-type="alpha" data-sort-initial="true"> Name </th>
                    <th data-type="alpha" data-sort-initial="true">Order No</th>
                    <th data-type="alpha" data-sort-initial="true"> Address</th>

                    <th>Latitude</th>
                    <th>Longitude</th>

                    @*<th>Size</th>*@
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    if (Model.Count() == 0)
                    {

                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            
                            if (item.OriginAddress.IsAddressValid == false)
                            {
                                <tr class="" id="@item.OriginAddress.ID" data-touchid="@item.OrderNumber" style="color:@item.Color" data-addrtype="origin">

                                    <td class="@item.Confirmed">@item.CustomerName</td>
                                    <td>
                                        @item.OrderNumberDisp
                                    </td>
                                    <td>
                                        @item.OriginAddress.AddressLine1
                                        @item.OriginAddress.AddressLine2
                                        @item.OriginAddress.City
                                        @item.OriginAddress.State
                                        @item.OriginAddress.Zip
                                    </td>
                                    <td>
                                        @Html.TextBox("OrgLat", @item.OriginAddress.Latitude, new { @class = "latitude" })
                                        @Html.ValidationMessage("OrgLat")
                                    </td>
                                    <td>
                                        @Html.TextBox("OrgLong", @item.OriginAddress.Longitude, new { @class = "longitude" })
                                        @Html.ValidationMessage("OrgLong")
                                    </td>

                                </tr>
                            }
                            if (item.DestAddress.IsAddressValid == false)
                            {
                                <tr class="" id="@item.DestAddress.ID" data-touchid="@item.OrderNumber" style="color:@item.Color" data-addrtype="dest">

                                    <td class="@item.Confirmed">@item.CustomerName</td>
                                    <td>
                                        @item.OrderNumberDisp
                                        <input type="hidden" value="@item.OrderNumber" class="TouchOrderNumber" />                                        
                                    </td>
                                    <td>
                                        @item.DestAddress.AddressLine1
                                        @item.DestAddress.AddressLine2
                                        @item.DestAddress.City
                                        @item.DestAddress.State
                                        @item.DestAddress.Zip
                                    </td>
                                    <td>
                                        @Html.TextBox("destLat", @item.DestAddress.Latitude, new { @class = "latitude" })
                                        @Html.ValidationMessage("destLat")
                                    </td>
                                    <td>
                                        @Html.TextBox("destLong", @item.DestAddress.Longitude, new { @class = "longitude" })
                                        @Html.ValidationMessage("destLong")
                                    </td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="5">
                        <div class="pagination pagination-centered hide-if-no-paging"></div>
                    </td>
                </tr>
            </tfoot>

        </table>
        <br />
        <input type="button" id="saveAddress" onclick="SaveUpdateAddressList();" value="Save" />
        <input type="button" class="popup-exit" onclick="clearPopupUpdateAddressList();" value="Cancel" />
    </div>
</div>
