﻿@{
    ViewBag.Title = "Truck Tranfer Reasons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/TransferReason")
<script type="text/javascript">
    var URLHelper = {
        SearchTransferReasonsUrl: '@Url.Action("SearchTransferReasons", "TruckTransferReason")',
        GetTransferReasonbyIdUrl: '@Url.Action("GetTransferReasonbyId", "TruckTransferReason")',
        SaveTransferReasonwithIdUrl: '@Url.Action("SaveTransferReasonwithId", "TruckTransferReason")',
        SetTransferReasonActiveInactiveUrl: '@Url.Action("SetTransferReasonActiveInactive", "TruckTransferReason")',
    };
</script>

<div class="child-body">
    <input id="hidSortDir" type="hidden" name="hidSortDir" value="DESC" />
    <input id="hidSortCol" type="hidden" name="hidSortCol" value="" />
    <input id="hidTransferReasonId" type="hidden" name="hidTransferReasonId" value="0" />
    @using (Html.BeginForm("SearchTransferReasons", "TruckTransferReason", null, System.Web.Mvc.FormMethod.Post, new { id = "SearchCorprateControlsFilterCriteria", onsubmit = "" }))
    {
        <div class="form-panel">
            <!--header image starts-->
            <h2>
                <span class="back-arrow">
                    <a href="/Dashboard.aspx">
                        <img src="/Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                    </a>
                    <a href="/CorporateControls.aspx">
                        <img src="/Images/Previous.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                    </a>
                </span>
                <img src="/Images/corporate-reports-icon.png" width="48" height="48" style="float: left; margin-right: 10px;" /><div class="h-title">
                    <span style="float: left; font-size: 9pt; text-transform: uppercase;">Corporate Controls</span><br />
                    <span style="float: left;">Truck Transfer Reasons</span>
                </div>
                <div class="nav-bar bg-color-none" style="float: right; width: auto; margin-top: 8px;">
                    <div class="nav-bar-inner new">
                    </div>
                </div>
                <div class="clearfix">
                </div>
            </h2>
            <div class="clearfix"></div>
            <!--header image ends-->
            <!--pivot item starts -->
            <div class="metro-pivot touch-info-page corporate-controls">
                <div class="pivot-item">
                    <div class="bg-grey-newfilter">
                        <div class="tiltepanel">
                            <h4 class="title-h4">Search Truck Transfer Reasons</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="form-list form-list-new" style="margin-top: 0%;">
                            <li class="width22prcnt">
                                <div class="button-panel">
                                    <span class="value">
                                        <div class="input-control text">
                                            <input type="text" value="" name="SearchKey" id="SearchKey" title="Enter keywords to search records." style="margin-right: 0px; width: 80%;" />
                                        </div>
                                    </span>
                                </div>
                            </li>
                            <li class="width24prcnt">
                                <div class="button-panel">
                                    <input type="submit" value="Search" title="Click to search." />
                                    <input type="submit" onclick="this.form.reset();" value="Reset" title="Click to reset page." />
                                    @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.TruckTransferReason, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true))
                                    {
                                        <input type="submit" onclick='showAddEditPopup(-1); return false;' value="Add New Truck Transfer Reason" title="Click here to add Transfer Reason." />
                                    }
                                    else
                                    {
                                        <input type="submit" onclick='showAddEditPopup(-1); return false;' value="Add New Truck Transfer Reason" title="Click here to add Transfer Reason." disabled="disabled" />
                                    }
                                </div>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                </div>
                <div class="clerfix"></div>
                <div style="width: 96%; margin: 0 auto; overflow-y: auto; height: 420px;" class="cust-grid-jqgrid">
                    @Html.Partial("~/Views/TruckTransferReason/partial/_listTransferReasons.cshtml")
                </div>
            </div>
            <div class="clerfix"></div>
        </div>
    }
</div>
<div id="popup" class="modal-box" style="width: 700px;">
    <header>
        <a href="#" class="js-modal-close close">×</a>
        <h3>Truck Transfer Reason&nbsp;<span id="popupTruckOpHourHead"></span></h3>
    </header>
    <div class="modal-body">
        @Html.Partial("~/Views/TruckTransferReason/partial/_updateTransferReason.cshtml")
    </div>
    <footer>
        @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.TruckTransferReason, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite, true))
        {
            <a href="#" onclick='SavebuttonClick();' id="btnSaveTransferReason" class="js-modal-updateselectedhours fm-button ui-state-default ui-corner-all">Save Transfer Reason</a>
        }
        else
        {
            <a href="#" onclick='SavebuttonClick();' id="btnSaveTransferReason" class="js-modal-updateselectedhours fm-button ui-state-default ui-corner-all not-active">Save Transfer Reason</a>
        }
        <a href="#" class="fm-button ui-state-default ui-corner-all js-modal-close">Close</a>
    </footer>
</div>