﻿@using PRFacAppWF.models;
@model PRFacAppWF.models.TruckStatusDetails
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .modalBackground
    {
        background-color: Gray;
        filter: alpha(opacity=70);
        opacity: 0.7;
    }

    .addmore-section
    {
        display: none;
    }
</style>

@*Body part*@
<div id="progress" class="progress" style="display:none;" >
    <div onload="$(this).FadeIn(200);"   >
    </div>
    <img src="../Images/preloader-w8-line-black.gif"  id="process"    />
</div>
@using (Html.BeginForm("Index", "TruckStatus", null, System.Web.Mvc.FormMethod.Post, new { id = "TruckStatusForm", onsubmit = "return ValidateForm();" }))
{
    <input type="hidden" value="@Session["FacilityName"]" id="CurrentFacilityName" name="CurrentFacilityName" />
    <input type="hidden" value="@Model.TruckDetailsId" id="TruckDetailsId" name="TruckDetailsId" />
    <div class="page-region-content">
        <div class="form-panel">
            <!--header image starts-->
            <h2>
                <span class="back-arrow"><a href="../Dashboard.aspx">
                    <img src="../Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" /></a></span>
                <img src="../Images/Driver.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                <div class="h-title">
                    <span style="float: left; font-size: 9pt; text-transform: uppercase;">Fleet</span><br />
                    <span style="float: left;">Status Entry</span>
                </div>
                <div class="clearfix"></div>

            </h2>
            @Html.ValidationSummary(false)
            <!--<div class="show-map"><button class="image-button bg-color-grayDark fg-color-white">Show route map<img src="Images/map2.png" class="bg-color-blue"></button></div>-->
            <div class="clearfix"></div>
            <!--header image ends-->
            <!--pivot item starts -->
            <div class="metro-pivot touch-info-page">

                <div class="pivot-item">
                    <div class="tiltepanel" style="padding: 20px;">
                        <h4 class="title-h4">Enter Fleet Status Details</h4>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="form-list form-list-new" style="margin-top: 0%;">
                        <li class="width23prcnt">
                            <span class="label-form">Date</span>
                            <div class="clearfix"></div>
                            <span class="value">
                                <div class="input-control text  span2">
                                    @Html.TextBoxFor(model => model.Date, "{0:d}", new {disabled= "disabled" }) 
                                </div>
                            </span>
                        </li>
                        <li class="width36prcnt">
                            <span class="label-form">Fleet ID</span>
                            <div class="clearfix"></div>
                            <span class="value">
                                <div class="input-control select">
                                    @{
                                            List<SelectListItem> lstTotalLoss= new List<SelectListItem>();
                                            lstTotalLoss.Add(new SelectListItem
                                            {
                                                Text = "-- Select --",
                                                Value = "",
                                                Selected = true
                                            });
                                            lstTotalLoss.Add(new SelectListItem
                                                {
                                                    Text = "True",
                                                    Value = "true"
                                                });
                                            lstTotalLoss.Add(new SelectListItem
                                                {
                                                    Text = "False",
                                                    Value = "false"
                                                });
                                    }
                                    @Html.DropDownListFor(
                                    model=>model.TruckNumber,
                                    new System.Web.Mvc.SelectList(ViewBag.TruckNumbers, "TruckId", "FleetID", ""),
                                    "-- Select --",
                                    new
                                    {
                                        @class = "dropdown",
                                        @onChange = "ChangeTruckNumber(this);"
                                    })
                                    <span id="errTruckNumber" class="error"></span> 
                                </div>
                            </span>
                        </li>
                        <li class="width23prcnt">
                            <span class="label-form">Fleet Status</span>
                            <div class="clearfix"></div>
                            <span class="value">
                                <div class="input-control select">
                                    @Html.DropDownListFor(
                                    model=>model.TruckStatus,
                                    new System.Web.Mvc.SelectList(ViewBag.TruckStatuses, "TruckStatusId", "TruckStatus1", ""),
                                    "-- Select --",
                                    new
                                    {
                                            @class = "dropdown",
                                            @onChange = "ChangeTruckStatus(this);"
                                    })
                                    <span id="errTruckStatus" class="error"></span> 
                                </div>
                            </span>
                        </li>
                        <div class="clear"></div>
                        <li class="width23prcnt">
                            <span class="label-form">Next Preventive Maint Date</span>
                            <div class="clearfix"></div>
                            <span class="value">
                                <div class="input-control text span2 float-left">
                                    <input type="text" value="" name="NextPreventiveMaintDate" id="NextPreventiveMaintDate" readonly="readonly" />
                                    <button onclick="$('#NextPreventiveMaintDate').val(''); return false;" class="helper" tabindex="-1" type="button"></button>
                                </div>
                                <div class="float-left mrgntop-8px" id="NextPreventiveMaintDateIcon">
                                    <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                                </div>
                            </span>
                        </li>
                        <li class="width36prcnt">
                            <span class="label-form">Comments:</span>
                            <div class="clearfix"></div>
                            <span class="value">
                                <div class="input-control textarea">
                                    @Html.TextAreaFor(model=>model.Comments)
                                    <span id="errComments" class="error"></span> 
                                </div>
                            </span>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                    <ul class="form-list form-list-new form-list-newfleet" style="margin-top: 0%;">
                        <li class="width56prcnt">
                            <span class="label-form">Transfer this Fleet to other facility?</span>
                            <div class="clearfix"></div>
                            <span class="value">
                                <div class="input-control">
                                    @Html.RadioButtonFor(model => model.IsFleetTransfer, "true", new { @class = "IsFleetTransfer" })&nbsp;Yes
                                    @Html.RadioButtonFor(model => model.IsFleetTransfer, "false", new { @class = "IsFleetTransfer" })&nbsp;No
                                </div>
                            </span>
                        </li>
                        <div class="clear"></div>
                        <li class="width56prcnt hide" id="liTransferFleetForm">
                            <ul class="form-list form-list-new form-list-newfleet" style="margin-top: 0%;">
                                

                                <li class="width56prcnt">
                                    <span class="label-form">Tansfer type?</span>
                                    <div class="clearfix"></div>
                                    <span class="value">
                                        <div class="input-control">
                                            @Html.RadioButtonFor(model => model.IsTransferTemparory, "false", new { @class = "IsTransferTemparory" })&nbsp;Permanent
                                            @Html.RadioButtonFor(model => model.IsTransferTemparory, "true", new { @class = "IsTransferTemparory" })&nbsp;Temporary
                                        </div>
                                    </span>
                                </li>
                                <div class="clear"></div>
                                <li class="width23prcnt transferFleetDate hide">
                                    <span class="label-form">Transfer Valid From</span>
                                    <div class="clearfix"></div>
                                    <span class="value">
                                        <div class="input-control text span2 float-left">
                                            
                                            @Html.TextBoxFor(model => model.TransferValidFrom, "{0:d}", new { Readonly = "readonly" })
                                            
                                            @*<input type="text" value="" name="TransferValidFrom" id="TransferValidFrom" readonly="readonly" />*@
                                            <button onclick="$('#TransferValidFrom').val(''); return false;" class="helper" tabindex="-1" type="button"></button>
                                        </div>
                                        <div class="float-left mrgntop-8px" id="TransferValidFromIcon">
                                            <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                                        </div>
                                    </span>
                                    <div class="clearfix"></div>
                                    <span id="errTransferValidFrom" class="error"></span>
                                </li>
                                <li class="width23prcnt transferFleetDate hide">
                                    <span class="label-form">Transfer Valid To</span>
                                    <div class="clearfix"></div>
                                    <span class="value">
                                        <div class="input-control text span2 float-left">
                                            @*<input type="text" value="" name="TransferValidTo" id="TransferValidTo" readonly="readonly" />*@
                                            @Html.TextBoxFor(model => model.TransferValidTo, "{0:d}", new { Readonly = "readonly" })
                                            <button onclick="$('#TransferValidTo').val(''); return false;" class="helper" tabindex="-1" type="button"></button>
                                        </div>
                                        <div class="float-left mrgntop-8px" id="TransferValidToIcon">
                                            <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                                        </div>
                                    </span>
                                    <div class="clearfix"></div>
                                    <span id="errTransferValidTo" class="error"></span>
                                </li>
                                <div class="clear"></div>
                                <li class="width23prcnt">
                                    <span class="label-form">Select Facility</span>
                                    <div class="clearfix"></div>
                                    <span class="value">
                                        <div class="input-control select">
                                            @Html.DropDownListFor(
                                                model => model.TransferStoreNo,
                                                new System.Web.Mvc.SelectList(ViewBag.AllFacilities, "GlobalSiteNum", "SiteName", ""),
                                                "-- Select Facility --",
                                                new
                                                {
                                                    @class = "dropdown",
                                                    @onChange = "ChangeFacility(this);"
                                                })
                                            <span id="errFacilityStoreNo" class="error"></span>
                                        </div>
                                    </span>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </li>
                        <div class="clear"></div>
                    </ul>
                    <div class="button-panel">
                        <input type="submit" value="Save"><input type="submit" onclick="this.form.reset(); return false;" value="Reset" id="Reset">
                    </div>
                </div>
                <div class="clerfix"></div>
            </div>
            <div class="clerfix"></div>
        </div>
        <div id="confirmation-pop" class="message-dialog bg-color-oliveDark" style="@((Model.TruckDetailsId > 0 ? "color: #fff;" : "display: none;color: #fff;"))">
            <div class="popup-hdr">
                <div class="pop-left">
                    <h3>Confirmation</h3>
                </div>
                <div class="pop-right">
                    <img width="32" height="32" src="../Images/Cancel.png" class="bClose" onclick="onConfirmNo();"/></div>
                <div class="clearfix"></div>
            </div>
            <p class="pop-para">Vehicle already has a status record for this date.  Do you want to overwrite this status entry record?</p>
            <div class="clearfix"></div>
            <br />
            <button class="place-right bClose" id="SelectedFacilityNameYes" onclick="onConfirmYes(); return false;">Yes</button>
            <button class="place-right bClose" id="SelectedFacilityNameNo" onclick="onConfirmNo(); return false;">No</button>
        </div>
    </div>
@*End Body part*@
}

@Scripts.Render("~/bundles/TruckStatusIndex")