﻿@using PRFacAppWF.models;
@model PRFacAppWF.models.TruckStatusFilterCriteria
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Fleet Status List";
}

<div id="progress" class="progress" style="display: none;">
    <div onload="$(this).FadeIn(200);">
    </div>
    <img src="../Images/preloader-w8-line-black.gif" id="process" />
</div>

<form id="ExportUM" name="ExportUM" action="UnitMaintenance/ExportUnitMaintenance"></form>
@using (Html.BeginForm("SearchTruckStatusList", "TruckStatus", null, System.Web.Mvc.FormMethod.Post, new { id = "TruckStatusFilterCriteria", onsubmit = "" }))
{ 
    <div class="form-panel">
        <!--header image starts-->
        <h2>
            <span class="back-arrow"><a href="../Dashboard.aspx">
                <img src="../Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" /></a></span>
            <img src="../Images/Driver.png" width="48" height="48" style="float: left; margin-right: 10px;" />
            <div class="h-title">
                @*<span style="float: left; font-size: 9pt; text-transform: uppercase;">Unit</span><br />*@
                <span style="float: left; margin-top: 13px">Search Fleet Status Records</span>
            </div>
            <div class="clearfix"></div>
        </h2>
        <!--<div class="show-map"><button class="image-button bg-color-grayDark fg-color-white">Show route map<img src="Images/map2.png" class="bg-color-blue"></button></div>-->
        <div class="clearfix"></div>
        <!--header image ends-->
        <!--pivot item starts -->
        <div class="metro-pivot touch-info-page">

            <div class="pivot-item">
                <div class="bg-grey">
                    <div class="tiltepanel">
                        <h4 class="title-h4">Search Fleet Status Records</h4>
                        <div class="float-right txt-align-rgt">
                            <a href="~/CorporateReports.aspx" style="color: #333;">
                                <img src="../Images/back-arrow-icon.png" width="9" height="11" alt="" style="margin: 0px 2px -1px 0" />Back to Corporate Reports</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="clearfix"></div>

                    <ul class="form-list form-list-new" style="margin-top: 0%;">
                        <li class="width23prcnt">
                            <span class="label-form">From Date</span>
                            <div clas="clearfix"></div>
                            <span class="value">
                                <div class="input-control text span2 float-left">
                                    <input type="text" value="" name="FromDate" id="FromDate" readonly="readonly"/>
                                    <button onclick="$('#FromDate').val(''); return false" class="helper" tabindex="-1" type="button"></button>
                                </div>
                                <div class="float-left mrgntop-8px" id="FromDateIcon">
                                    <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                                </div>
                            </span>
                        </li>
                        <li class="width23prcnt">
                            <span class="label-form">To Date</span>
                            <div clas="clearfix"></div>
                            <span class="value">
                                <div class="input-control text span2 float-left">
                                    <input type="text" value="" name="ToDate" id="ToDate" readonly="readonly"/>
                                    <button onclick="$('#ToDate').val(''); return false" class="helper" tabindex="-1" type="button"></button>
                                </div>
                                <div class="float-left mrgntop-8px" id="ToDateIcon">
                                    <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                                </div>
                            </span>
                            <div class="clear"></div>
                            <span id="errToDate" class="error"></span>
                        </li>
                        <li class="width23prcnt">
                            <span class="label-form">Facility</span>
                            <div clas="clearfix"></div>
                            <span class="value">
                                <div class="input-control select span3">
                                    @{
    List<SelectListItem> listFacilities = new List<SelectListItem>();
    listFacilities.Add(new SelectListItem
    {
        Text = "-- Select All --",
        Value = "ALL",
        Selected = true
    });
    listFacilities.Add(new SelectListItem
    {
        Text = "All Facilities (corporate and franchise)",
        Value = "allfacilities"
    });                                                    
                                    }
                                    @Html.DropDownListFor(model => model.Facility, listFacilities)
                                </div>
                            </span>
                        </li>
                        <li class="width23prcnt">
                            <span class="label-form">Status</span>
                            <div clas="clearfix"></div>
                            <span class="value">
                                <div class="input-control text span3">
                                    @Html.DropDownListFor(
                                    model => model.TruckStatus,
                                    new System.Web.Mvc.SelectList(ViewBag.TruckStatuses, "TruckStatusId", "TruckStatus1", ""),
                                    "-- Select All --",
                                    new
                                    {
                                        @class = "dropdown"
                                    })
                                </div>
                            </span></li>
                        <div class="clear"></div>
                        <li class="width56prcnt">
                            <div data-role="input-control" class="input-control checkbox">
                                <label>
                                    @Html.CheckBoxFor(model => model.TruckWithNoStatus, new {@checked="checked"})
                                    <span class="check"></span>
                                    Include fleets with no status entry
                                </label>
                            </div>
                        </li>

                        <div class="clearfix"></div>
                    </ul>
                </div>

                <div class="button-panel">
                    <input type="submit" value="Search"><input type="submit" onclick="this.form.reset();" value="Reset">
                </div>

            </div>
            <div class="clerfix"></div>
            <div style="width: 96%; margin: 0 auto" class="cust-grid-jqgrid">
                <table id="tblTruckStatusList"></table>
                <div id="ptblTruckStatusList" class="cust-grid-jqgrid-page"></div>
            </div>
        </div>
        <div class="clerfix"></div>
    </div>
}
<div id="masterError"></div>

@Scripts.Render("~/bundles/TruckStatusList")
