﻿@{
    ViewBag.Title = "Truck Operating Hours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/truckophours")
<script type="text/javascript">
    var URLHelper = {
        SearchTruckOpHoursUrl: '@Url.Action("SearchTruckOpHours", "TruckStatus")',
        getTruckOpDetails: '@Url.Action("getTruckOpHoursDetails", "TruckStatus")',
        saveTruckDetails: '@Url.Action("AddTruckOpHoursDetails", "TruckStatus")',
        saveTruckBackToService: '@Url.Action("TruckBackToService", "TruckStatus")',
        GetTempHourChange: '@Url.Action("GetTempHourChange", "TruckStatus")',
        SaveTempHourChange: '@Url.Action("SaveTempHourChange", "TruckStatus")',
        RevertToFacilityOperatingHours: '@Url.Action("RevertToFacilityOperatingHours", "TruckStatus")'
    };

    var DbFacilityNumber = '@ViewBag.FacilityNumber';
    var isFullAccess = '@PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.TruckStatus, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite)';
</script>
<style>
    /*This class form timepicker*/
   .ui-timepicker-wrapper, .ui-timepicker-container {
        z-index: 999999 !important;
    }
    /*Use disable-anchor-click class from modern.css file*/
    .not-active {
        pointer-events: none;
        cursor: default;
    }
</style>
<div class="child-body">
    @using (Html.BeginForm("SearchTruckOpHours", "TruckStatus", null, System.Web.Mvc.FormMethod.Post, new { id = "SearchTruckOpHoursFilterCriteria", onsubmit = "" }))
    {
        <div id="dvHiddenField"> </div>

        <input type="hidden" id="hidtruckId" />
        <input type="hidden" id="hidCAPTruckOperatingHourId" />
        <input type="hidden" id="hidExistedTruckOHReasonId" />
        <div class="form-panel">
            <!--header image starts-->
            <h2>
                <span class="back-arrow">
                    <a href="../Dashboard.aspx">
                        <img src="../Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                    </a>
                </span>
                <div class="h-title">
                    @*<span style="float: left; font-size: 9pt; text-transform: uppercase;">Unit</span><br />*@
                    <span style="float: left; margin-top: 13px">Truck Operations</span>
                </div>
                <div class="clearfix"></div>
            </h2>
            <!--<div class="show-map"><button class="image-button bg-color-grayDark fg-color-white">Show route map<img src="Images/map2.png" class="bg-color-blue"></button></div>-->
            <div class="clearfix"></div>
            <!--header image ends-->
            <!--pivot item starts -->
            <div class="metro-pivot touch-info-page">
                <div class="pivot-item">
                    <div class="bg-grey">
                        <div class="tiltepanel">
                            <h4 class="title-h4">Search Truck Operational Hours</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="form-list form-list-new" style="margin-top: 0%;">
                            <li class="width18prcnt">
                                <span class="label-form">Date</span>
                                <div clas="clearfix"></div>
                                <span class="value">
                                    <div class="input-control text">
                                        <input type="text" value="@DateTime.Now.ToShortDateString()" name="TruckOpHourStartDate" id="TruckOpHourStartDate" readonly="readonly" title="Enter date to search records." style="margin-right: 0px; width: 80%;" />
                                        <img src="../Images/calendar-Icon.gif" id="TruckOpHourStartDateIcon" />
                                    </div>
                                </span>
                            </li>
                            <li class="width22prcnt">
                                <div class="button-panel" style="margin: 20px auto 0;">
                                    <input type="submit" value="Search" title="Click to search." />
                                    <input type="submit" onclick="this.form.reset();" value="Reset" title="Click to reset page." />
                                </div>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    @*<div class="button-panel">
                        <input type="submit" value="Search" title="Click to search." /><input type="submit" onclick="this.form.reset();" value="Reset" title="Click to reset page." />
                    </div>*@
                </div>
                <div class="clerfix"></div>
                <div style="width: 96%; margin: 0 auto" class="cust-grid-jqgrid">
                    @*<div style="float:left;">
                        <img src="~/Images/goback-btn.png" id="imgPrevious" title="Click to view previous records." />
                    </div>
                    <div style="float:right">
                        <img src="../Images/gonext-btn.png" id="imgNext" title="Click to view next records." />
                    </div>
                    <div class="clearfix"></div>*@
                    <div id="dvtruckophours">
                    </div>
                </div>
            </div>
            <div class="clerfix"></div>
        </div>
    }
</div>

<div id="popup" class="modal-box">
    <header>
        <a href="#" class="js-modal-close close">×</a>
        <h3>Add/Edit Truck Operating Hours&nbsp;<span id="popupTruckOpHourHead"></span></h3>
    </header>
    <div class="modal-body" id="dvAddEditUserForm">
        @Html.Partial("~/Views/TruckStatus/partial/_UpdateTruckOpHours.cshtml")
    </div>
    <footer>
        @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.TruckStatus, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite))
        {
            <a href="#" id="backToService" class="js-modal-backtoservice fm-button ui-state-default ui-corner-all float-left">Delete / End Record</a>
        }
        else
        {
            <a href="#" id="backToService" class="js-modal-backtoservice fm-button ui-state-default ui-corner-all float-left not-active">Delete / End Record</a>
        }
        @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.TruckStatus, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite))
        {
            <a href="#" id="modalUpdateFacilityhours" class="js-modal-updateselectedhours fm-button ui-state-default ui-corner-all">Revert to Facility Hours</a>
            <a href="#" id="modalUpdateselectedhours" class="js-modal-updateselectedhours fm-button ui-state-default ui-corner-all">Update Selected</a>
        }
        else
        {
            <a href="#" id="modalUpdateFacilityhours" class="js-modal-updateselectedhours fm-button ui-state-default ui-corner-all not-active">Revert to Facility Hours</a>
            <a href="#" id="modalUpdateselectedhours" class="js-modal-updateselectedhours fm-button ui-state-default ui-corner-all not-active">Update Selected</a>
        }
        @if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.TruckStatus, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite))
        {
            <a href="#" id="modalSavehours" class="js-modal-savehours fm-button ui-state-default ui-corner-all">Submit</a>
        }
        else
        { 
            <a href="#" id="modalSavehours" class="js-modal-savehours fm-button ui-state-default ui-corner-all not-active">Submit</a>
        }
        <a href="#" class="fm-button ui-state-default ui-corner-all js-modal-close">Close</a>
    </footer>
</div>