﻿@using PRFacAppWF.models;
@using System.Collections;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Unit Unavailability";
}

@Scripts.Render("~/bundles/UnitAvailability")
<script type="text/javascript">
    var URLHelper = {
        searchUnitAvaiability: '@Url.Action("SearchUnitAvailability", "UnitUnavailability")',
        saveUnitAvailability: '@Url.Action("SaveUnitAvailability", "UnitUnavailability")',
        getUnitAvailableInfo: '@Url.Action("GetUnitUnAvailabilityDetails", "UnitUnavailability")',
        getFacilityAccessLevel: '@Url.Action("GetFacilityAccessLevel", "UnitUnavailability")',
    };
</script>

<div class="child-body">
    <input type="hidden" id="hdUnitAvailabilityInfoId" />
    <div class="form-panel">
        <!--header image starts-->
        <h2>
            <span class="back-arrow">
                <a href="../Dashboard.aspx">
                    <img src="../Images/back.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                </a>
                <a href="/CorporateControls.aspx">
                    <img src="/Images/Previous.png" width="48" height="48" style="float: left; margin-right: 10px;" />
                </a>
            </span>
            <div class="h-title">
                <span style="float: left; margin-top: 13px">Manage Unit Unavailability</span>
            </div>
            <div class="clearfix"></div>
        </h2>
        <div class="clearfix"></div>
        <!--header image ends-->
        <!--pivot item starts -->
        <div class="metro-pivot touch-info-page">
            <div class="pivot-item">
                <div class="bg-grey">
                    <div class="tiltepanel">
                        <h4 class="title-h4">Unit Unavailability</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="form-list form-list-new" style="margin-top: 0%;">
                        <li class="width18prcnt">
                            <span class="label-form2">Date</span>
                            <div class="clearfix"></div>
                            <span class="value">
                                <div class="input-control text span2 float-left">
                                    <input style="margin-right:0px" type="text" value="@DateTime.Now.AddDays(-3).ToShortDateString()" name="UnitAvailabilityStartDate" id="UnitAvailabilityStartDate" readonly="readonly" title="Select date to search." />
                                    <button onclick="$('#UnitAvailabilityStartDate').val(''); return false" class="helper" tabindex="-1" type="button"></button>
                                </div>
                                <div class="float-left mrgntop-8px" id="UnitAvailabilityStartDateIcon">
                                    <img src="../Images/calendar-Icon.gif" width="24" height="24" alt="" />
                                </div>
                            </span>
                        </li>
                        <li class="width20prcnt">
                            <table>
                                <tr>
                                    <td style="border-bottom:0px;" align="center">
                                        <span class="label-form2">16 Foot</span>
                                    </td>
                                    <td style="border-bottom:0px;" align="center">
                                        <span class="label-form2">12 Foot</span>
                                    </td>
                                    <td style="border-bottom:0px;" align="center">
                                        <span class="label-form2">8 Foot</span>
                                    </td>
                                </tr>
                                <tr style="border:none;">
                                    <td style="border-bottom:0px;" align="center">
                                        <input type="checkbox" id="chk16Foot" value="16" checked="checked" />
                                    </td>
                                    <td style="border-bottom:0px;" align="center">
                                        <input type="checkbox" id="chk12Foot" value="12" checked="checked" />
                                    </td>
                                    <td style="border-bottom:0px;" align="center">
                                        <span class="value">
                                            <input type="checkbox" id="chk8Foot" value="8" checked="checked" />
                                        </span>

                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li class="width18prcnt" style="margin-top:55px">
                            <div style="float:right">

                            </div>
                        </li>

                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="button-panel">
                    <input type="button" id="btnSearch" value="Search" title="Click to search.">
                    <input type="button" value="Reset" title="Click to reset the page.">
                    @*@if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.UnitUnavailability, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite))
                        {*@
                    <input type="button" value="Add" id="btnAddEdit" title="Click to add unit unavailiability." />
                    @*}
                        else
                        {
                            <input type="button" disabled="disabled" value="Add" id="btnAddEdit" title="Click to add unit unavailiability." />
                        }*@
                </div>
            </div>
            <div class="clerfix"></div>
            <div style="width: 96%; margin: 0 auto" class="cust-grid-jqgrid">
                <div style="float:left;">
                    <img src="~/Images/goback-btn.png" id="imgPrevious" title="Click to view previous records." />
                </div>
                <div style="float:right">
                    <img src="../Images/gonext-btn.png" id="imgNext" title="Click to view next records." />
                </div>
                <div class="clearfix"></div>
                <div id="dvunitAvailability">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clerfix"></div>
    </div>
    <div class="message-overlay" id="dlgAddUnitAvailability">
        <div class="message-dialog bg-color-oliveDark" style="width:600px; left:30%">
            <div class="popup-hdr">
                <div class="pop-left">
                    <h3>
                        Facility Unit Unavailability
                    </h3>
                </div>
                <div class="pop-right">
                    <img width="32" height="32" src="@Url.Content("~/Images/Cancel.png")" class="bClose" id="imgClose">
                </div>
                <div class="clearfix">
                </div>
            </div>
            <ul class="poplist-form">
                <li>
                    <label class="label">
                        Facility
                    </label>
                    <span class="value">
                        <div class="text">
                            <select name="listbox" id="ddlFacilites" title="Select facility.">
                                <option value="-1">--Select--</option>
                                @foreach (var item in this.ViewBag.Facilities)
                                {
                                    <option value="@item.StoreNo">@item.CompDBAName</option>
                                }
                            </select>
                        </div>
                    </span>
                </li>
                <li>
                    <label class="label">
                        From
                    </label>
                    <span class="value">
                        <div class=" text ">
                            <input type="text" value="" name="UnitFromDate" id="UnitFromDate" readonly="readonly" style="margin-right:0px !important" title="Select from date." />
                            <img id="UnitFromDateIcon" src="~/Images/calendar-IconNew.png" width="24" height="24" alt="" style="margin-bottom:-8px" />
                        </div>
                    </span>
                </li>
                <li>
                    <label class="label">
                        Through
                    </label>
                    <span class="value">
                        <div class="text">
                            <input type="text" value="" name="UnitThroughDate" id="UnitThroughDate" readonly="readonly" style="margin-right:0px !important" title="Select through date." />
                            <img id="UnitThroughDateIcon" src="../Images/calendar-IconNew.png" width="24" height="24" alt="" style="margin-bottom:-8px" />
                        </div>
                    </span>
                </li>
                <li>
                    <label class="label">
                        Unit Size
                    </label>
                    <span class="value">
                        <div class="text">
                            <select id="ddlUnitSize" title="Select unit size.">
                                <option value="-1">--Select--</option>
                                <option value="16">16</option>
                                <option value="12">12</option>
                                <option value="8">8</option>
                            </select>
                            @*<input type="text" id="txtUnitSize" />*@
                        </div>
                    </span>
                </li>
                <li>
                    <label class="label">
                        Reported By
                    </label>
                    <span class="value">
                        <div class="text">
                            <textarea name="txtReportedBy" id="txtReportedBy" title="Enter reported by."></textarea>
                        </div>
                    </span>
                </li>
            </ul>
            <div class="clearfix">
            </div>
            <button class="place-right bClose" id="CancelUnitAvailability" title="Click to cancel the modifications.">
                Cancel
            </button>
            @*@if (PRFacAppWF.Security.SecuredEntityDelegate.CanUserExecute(PRFacAppWF.Entities.Enums.ModuleName.UnitUnavailability, PRFacAppWF.Entities.Enums.AccessLevel.ReadAndWrite))
                {*@
            <button class="place-right" id="SubmitUnitAvailability" title="Click to save the details.">
                Submit
            </button>
            @*}
                else
                {
                    <button class="place-right" disabled="disabled" id="SubmitUnitAvailability" title="Click to save the details.">
                        Submit
                    </button>
                }*@
        </div>
    </div>
</div>