﻿@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@section scripts{
   @Scripts.Render("~/bundles/changePassword")
    <script type="text/javascript">
        facilityAppChangePassword.URLHelper = {
            changePassword: '@Url.Action("SaveChangePassword", "Login")'
        }
    </script>
}

<div class="login-panel" style="height:480px !important;">
    <div class="loginbox">
        <h1>
            Change Password
        </h1>
        <ul class="loign-list">
            <li>
                <div class="input-control text">
                    <label style="color:white">Current Password </label>
                    <input type="password" id="txtOldPassword" />                    
                </div>
            </li>
            <li>
                <div class="input-control text">
                    <label style="color:white">New Password </label>
                    <input type="password" id="txtNewPassword" />
                </div>
            </li>
            <li class="input-control text" >
                <label style="color:white">Confirm Password </label>
                <input type="password" id="txtRetypeNewPassword" />
            </li>            
            <li>
                <span>
                    <input type="submit" id="btnSignIn" class="bg-color-orange-new" value="Sign In" />
                    <input type="submit" id="btnCancel" class="bg-color-orange-new float-right" value="Cancel" />
                </span>
            </li>
            <li>
                <label id="lblError" style="color:orange; font-style:italic; font-weight:bold"></label>
            </li>
        </ul>
    </div>
</div>