﻿@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@section scripts{
    @Scripts.Render("~/bundles/forgotPassword")
    <script type="text/javascript">
        facilityAppForgotPassword.URLHelper = {
            ForgotPassword: '@Url.Action("SentPasswordRequest", "Login")',
            redirectLogin: '@Url.Action("Index", "Login")'
        }
    </script>
}

<div class="login-panel" style="width:370px !important; height:370px">
    <div class="loginbox">
        <h1>
            Forgot Password
        </h1>
        <ul class="loign-list">
            <li>
                <div class="input-control text">
                    <br />
                    <label style="color:white">Username :</label>
                    <input type="text" id="txtUserName" />
                </div>
            </li>
            <li>
                <span>
                    <br />
                    <br />
                    <input type="submit" id="btnSendEmail" class="bg-color-orange-new" value="Send Email" />
                    <input type="submit" id="btnCancel" class="bg-color-orange-new float-right" value="Cancel" />
                </span>
            </li>
            <li>
                <label id="lblError" style="color:orange; font-style:italic; font-weight:bold"></label>
            </li>
        </ul>
    </div>
</div>