﻿@model PRFacAppWF.Entities.LoginRequest
@{
    ViewBag.Title = "Facility App Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@section scripts{
    @Scripts.Render("~/bundles/login")

    <script type="text/javascript">
        facilityAppLogin.URLHelper = {
            ValidateLogin: '@Url.Action("Login", "Login")'
        }
    </script>
}
<form id="frmLogin">
    <div class="page">
        @if (@Request.QueryString["id"] == "1")
        {
            <center>
                <h2>
                    <label id="lblsessionexp">Your Session expired.Please login again!</label>
                </h2>
            </center>
        }
        <div class="login-panel">
            <div class="loginbox">
                <h1>
                    Facility App Login
                </h1>
                <ul class="loign-list">
                    <li>
                        <div class="input-control text">
                            @if (Request.Cookies["UName"] != null)
                            {
                                <input name="txtLoginId" id="txtLoginId" type="text" value="@Request.Cookies["UName"].Value">
                            }
                            else
                            {
                                <input name="txtLoginId" id="txtLoginId" type="text">
                            }
                        </div>
                    </li>
                    <li>
                        <div class="input-control text">
                            @if (Request.Cookies["PWD"] != null)
                            {
                                <input name="txtPassword" id="txtPassword" type="password" value="@Request.Cookies["PWD"].Value" />
                            }
                            else
                            {
                                <input name="txtPassword" id="txtPassword" type="password">
                            }
                        </div>
                    </li>
                    <li>
                        <label class="input-control checkbox">
                            @if (Request.Cookies["UName"] != null && Request.Cookies["PWD"] != null)
                            {
                                <input id="chkRememberme" name="chkRememberme" type="checkbox" checked="checked">
                            }
                            else
                            {
                                <input id="chkRememberme" name="chkRememberme" type="checkbox">
                            }
                            <span class="helper" style="color: #fff; font-size: 10pt;">remember me</span>
                        </label>
                    </li>
                    <li>
                        <span>
                            <input name="btnLogin" type="button" value="Sign In" id="btnLogin" class="bg-color-orange-new"><br />
                            <label id="lblError" style="color:orange; font-style:italic; font-weight:bold"></label>
                        </span>
                    </li>
                    <li>
                        <label class="input-control link login-password-link">
                            <a href="@Url.Action("ForgotPassword","Login")">Forgot Password?</a>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>