﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="PRFacAppWF.Site" %>

<!DOCTYPE html>

<html xmlns="https://www.w3.org/1999/xhtml">
<head runat="server">
    <asp:PlaceHolder runat="server">  
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />      
       
        <%--<link href="Content/css/modern-responsive.css?ts="+ <%= PRFacAppWF.CodeHelpers.Helper.VersionNumber %> rel="stylesheet" />
        <link href="Content/css/modern.css?ts="+ <%= PRFacAppWF.CodeHelpers.Helper.VersionNumber %> rel="stylesheet" />
        <link href="Content/css/site.css?ts="+ <%= PRFacAppWF.CodeHelpers.Helper.VersionNumber %> rel="stylesheet" />
        <script src="Scripts/jquery-1.7.1.js"></script>
        <script src="Scripts/MetroUI/accordion.js?ts="+ <%= PRFacAppWF.CodeHelpers.Helper.VersionNumber %>></script>
        <script src="Scripts/MetroUI/buttonset.js?ts="+ <%= PRFacAppWF.CodeHelpers.Helper.VersionNumber %>></script>
        <script src="Scripts/MetroUI/dropdown.js?ts="+ <%= PRFacAppWF.CodeHelpers.Helper.VersionNumber %>></script>
        <script src="Scripts/MetroUI/input-control.js?ts="+ <%= PRFacAppWF.CodeHelpers.Helper.VersionNumber %>></script>
        <script src="Scripts/MetroUI/pagecontrol.js?ts="+ <%= PRFacAppWF.CodeHelpers.Helper.VersionNumber %>></script>
        <script src="Scripts/MetroUI/tile-drag.js?ts="+ <%= PRFacAppWF.CodeHelpers.Helper.VersionNumber %>></script>
        <script src="Scripts/MetroUI/tile-slider.js?ts="+ <%= PRFacAppWF.CodeHelpers.Helper.VersionNumber %>></script>
        <script src="Scripts/MetroUI/carousel.js?ts="+ <%= PRFacAppWF.CodeHelpers.Helper.VersionNumber %>></script>
        <script src="Scripts/jquery.blockUI.js?ts="+ <%= PRFacAppWF.CodeHelpers.Helper.VersionNumber %>></script>--%>

        <%= Scripts.Render("~/bundles/SiteMaster") %>
        <%= Styles.Render("~/Content/css/styles") %>

    </asp:PlaceHolder>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager runat="server" ID="sp1"></asp:ScriptManager>
        <ucl:processing runat="server" ID="proc" />
        <div class="page">
            <div class="page-header">
                <div class="nav-bar">
                    <div class="nav-bar-inner padding10">
                        <span class="pull-menu"></span>
                        <a href="Dashboard.aspx">
                            <span class="element" style="font-size: 110%;">
                                <img src="Images/Truck1.png" style="float: left; margin-right: 5px;" />PACKRAT FACILITY APPLICATION <%=ConfigurationManager.AppSettings["Version"] %>
                            </span>
                        </a>
                        <ul class="menu" style="float: right; text-align: right;">
                            <li style="font-size: 100%; cursor:default;" title="<% = PRFacAppWF.CodeHelpers.Helper.UserLoginWelcomeInfoTooltip %>"><% = PRFacAppWF.CodeHelpers.Helper.UserLoginWelcomeInfoWithFacility %>
                            </li>
                            <li>
                                <%--<a href="login.aspx">Click here to logout</a>--%>
                                <asp:LinkButton ID="lbtnLgoout" runat="server" OnClick="lbtnLgoout_Click">Click here to logout</asp:LinkButton>
                                <br />
                                <%if (Session["IsMultipleFacility"] == "true")
                                    { %>
                                <a href="DashBoard.aspx?req=change">Change Facility</a>
                                <%} %>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>

            <div class="page-region">
                <div class="page-region-content">
                    <asp:ContentPlaceHolder ID="cphCenter" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
        </div>

    </form>

</body>

</html>
