﻿@using PRFacAppWF.models
@model List<PRFacAppWF.models.TouchTime>

    @if (Model.Count > 0)
    {
        string apParam = string.Empty;
        TouchTime corpRow = Model[0];
        <tr id="hdCorpRow">
        <td class="center">
            @Html.Raw(corpRow.FacilityId == 0 ? "" : corpRow.FacilityId.ToString())
        </td>
        <td>
            @if (corpRow.FacilityName != apParam)
                {
                <a title="Click to edit." onclick='showCorporatePopup(@corpRow.FacilityId); return false;' href="#">@corpRow.FacilityName</a>
                }
        </td>
        <td class="center" style="text-align:center;">
            @Html.Raw(corpRow.State)
        </td>
        <td class="center" style="text-align:center;">
            @Html.Raw(corpRow.DE.ToString())
        </td>
        <td class="center" style="text-align:center;">
            @Html.Raw(corpRow.DF.ToString())
        </td>
        <td class="center" style="text-align:center;">
            @Html.Raw(corpRow.RE.ToString())
        </td>
        <td class="center" style="text-align:center;">
            @Html.Raw(corpRow.RF.ToString())
        </td>
        <td class="center" style="text-align:center;">
            @Html.Raw(corpRow.OBO.ToString())
        </td>
        <td class="center" style="text-align:center;">
            @Html.Raw(corpRow.IBO.ToString())
        </td>
        <td class="center" style="text-align:center;">
            @Html.Raw(corpRow.WA.ToString())
        </td>
        <td class="center" style="text-align:center;">
            @Html.Raw(corpRow.CC.ToString())
        </td>
        <td class="center" style="text-align:center;">
            @Html.Raw(corpRow.Startdate.HasValue ? corpRow.Startdate.Value.ToShortDateString() : "-")
        </td>
        <td class="center" style="text-align:center;">
            @Html.Raw(corpRow.Nextdate.HasValue ? corpRow.Nextdate.Value.ToShortDateString() : "-")
        </td>
    </tr>

        for (int index = 1; index < Model.Count(); index++)
        {
            TouchTime asInfo = Model[index];
            <tr>
                <td class="center">
                    @Html.Raw(asInfo.FacilityId == 0 ? "" : asInfo.FacilityId.ToString())
                </td>
                <td>
                    @if (asInfo.FacilityName != apParam)
                    {
                        <a title="Click to edit." onclick='showTouchTimePopup(@asInfo.FacilityId); return false;' href="#">@asInfo.FacilityName</a>
                    }
                </td>
                <td class="center">
                    @Html.Raw(asInfo.State)
                </td>
                <td class="center">
                    @Html.Raw(asInfo.Startdate.HasValue ? asInfo.DE.ToString() : "-")
                </td>
                <td class="center">
                    @Html.Raw(asInfo.Startdate.HasValue ? asInfo.DF.ToString() : "-")
                </td>
                <td class="center">
                    @Html.Raw(asInfo.Startdate.HasValue ? asInfo.RE.ToString() : "-")
                </td>
                <td class="center">
                    @Html.Raw(asInfo.Startdate.HasValue ? asInfo.RF.ToString() : "-")
                </td>
                <td class="center">
                    @Html.Raw(asInfo.Startdate.HasValue ? asInfo.OBO.ToString() : "-")
                </td>
                <td class="center">
                    @Html.Raw(asInfo.Startdate.HasValue ? asInfo.IBO.ToString() : "-")
                </td>
                <td class="center">
                    @Html.Raw(asInfo.Startdate.HasValue ? asInfo.WA.ToString() : "-")
                </td>
                <td class="center">
                    @Html.Raw(asInfo.Startdate.HasValue ? asInfo.CC.ToString() : "-")
                </td>
                <td class="center">
                    @Html.Raw(asInfo.Startdate.HasValue ? asInfo.Startdate.Value.ToShortDateString() : "-")
                </td>
                <td class="center">
                    @Html.Raw(asInfo.Nextdate.HasValue ? asInfo.Nextdate.Value.ToShortDateString() : "-")
                </td>
            </tr>
                    apParam = asInfo.FacilityId.ToString();
        }
    }
    else
    {
        <tr>
            <td colspan="4">
                Touch Times are not available...!
            </td>
        </tr>
    }
