﻿@using PRFacAppWF.models;
<table class="border tblCCList" id="fixTable">
    <thead id="tblHead">
        <tr>
            <th onclick="javascript:SortColumn('FacilityId');" class="width10prcnt center" style="text-align:center; cursor:pointer;">
                @Html.Raw("Store")
                <span><img id="ImageFacilityId" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('Facility');" class="width16prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("Facility")
                <span><img id="ImageFacility" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('State');" class="width8prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("State")
                <span><img id="ImageState" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('DE');" class="width8prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("DE")
                <span><img id="ImageDE" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('DF');" class="width8prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("DF")
                <span><img id="ImageDF" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('RE');" class="width8prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("RE")
                <span><img id="ImageRE" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('RF');" class="width8prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("RF")
                <span><img id="ImageRF" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('OBO');" class="width8prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("OBO")
                <span><img id="ImageOBO" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('IBO');" class="width8prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("IBO")
                <span><img id="ImageIBO" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('WA');" class="width8prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("WA")
                <span><img id="ImageWA" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('CC');" class="width8prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("CC")
                <span><img id="ImageCC" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('Startdate');" class="width16prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("Effective Date")
                <span><img id="ImageStartdate" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
            <th onclick="javascript: SortColumn('Nextdate');" class="width12prcnt center" style="text-align: center; cursor: pointer;">
                @Html.Raw("Next Date")
                <span><img id="ImageNextdate" src="/Images/blank.gif" style="display: none; width: 12px;" /></span>
            </th>
        </tr>
    </thead>
    <tbody id="divTouchtime"></tbody>
</table>